<div id="search_not_found">
	<h2>No shelters found!</h2>
  <p>If you know of an animal shelter or a rescue group that we could help, please provide them a link to
     the <a href="/shelters_and_rescues">Shelters and Rescues</a> page so we can assist them with the adoption of their animals.</p>
</div>

