<% unless @animals.blank? %>
	$('#animals').html( "<%= escape_javascript( render 'animal_list', :animals => @animals) %>" );
<% else %>
	$('#animals').html( '<p class="no_results">No Animals found</p>' );
<% end %>

// Google Analytics
if (typeof(_gaq) != "undefined") { _gaq.push(['_trackPageview', "/help_a_shelter/find_animals_for_shelter/{id}"]); }
