* { margin: 0; padding: 0; }
html, body { margin:0; padding:0; height: 100%; }
body { background-color: #e7e7e7; color: #222; font: normal 13px "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Tahoma, sans-serif; min-width: 960px; }


/*********************************************************/
/* ---------------------- GLOBAL ----------------------- */
/*********************************************************/
h1, h2, h3, h4, h5 { font-weight: bold; color:#000; letter-spacing: -1px; margin-bottom: 10px;  }
h1 {  }
h2 {  }
h3 {  }
h4 {  }
h5 {  }

p{ margin-bottom: 10px; }
img { border: none; outline: none; }

code,code pre,kbd {font: normal 12px  Monaco, Consolas, 'Lucida Console', 'Courier New', Courier, monospace; /*Consolas, InconsolataMedium, Courier, 'Courier New', Monaco, monospace;*/}


/* ClearFix */
/******************************************************************/
.clearfix:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
* html .clearfix{height:1%;}


/***********************************************************************/
/* -------------------------- Page Layouts --------------------------- */
/***********************************************************************/
  
/* Header */   
/******************************************************************/
#header{height: 90px; background-color: #cf7019; position:relative;}

#toolbar { font-family: 'Helvetica Neue', Arial, Verdana, sans-serif; height: 35px; line-height: 35px; background-color: #222; margin: 0; padding: 0 3em 0 3em; position:relative;}
#toolbar:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

#toolbar span { color: #eee; font-size: 11px;}
#toolbar a {color: #eee;}
#toolbar .col_1{width: 50%;}
#toolbar .col_2{width: 50%; float:right; text-align:right;}
#toolbar .settings_menu { display:none; position:absolute; top: 30px; right:12.6em; width:125px; -webkit-border-radius: 8px; -moz-border-radius: 8px;border-radius: 8px; z-index: 9999;background-color: #222; border: 1px solid #333;}
#toolbar .settings_menu li { padding: 0px 10px; display:block;}
#toolbar .settings_menu li a {color:#fff; text-decoration:none; display:block; }
#toolbar .settings_menu li a:hover { color: #f26649;}
#toolbar .settings_menu li.current a { color: #f26649;}
#menu {position: absolute; bottom: 0;margin: 0; padding: 0 0 0 3em;text-align: center; }
#menu li {float: left; font-size: 13px;list-style: none;margin: 0px 6px 0px 0px; }
#menu li.current a{background: #e7e7e7; color: #cf7019;  font-weight: bold; text-shadow: 1px 1px 1px #fff; }
#menu a:link, #menu a:visited {background: #8f4400;color: #fff;float: left;padding: 6px 10px 6px 10px;text-align: center;text-decoration: none;border-radius: 3px 3px 0px 0px;-webkit-border-radius: 3px 3px 0px 0px;-moz-border-radius: 3px 3px 0px 0px;}
#menu a:hover,#menu a:link.active, #menu a:visited.active {background: #ff912d;color: #eee; }


/*

dark
ad5d00 - background
762f0e - tab
dc7327 - tab hover

blue
00488a- background
0c3561 - tab
218db8 - tab hover

*/

/* Main */   
/******************************************************************/
#main { margin: 1em 0 0 3em; }
#main:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* Left - Content Area */   
/******************************************************************/
/*border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;*/
#left { float: left; width: 65%; background-color: #fff; margin: 0; padding: 0; position: relative; text-align: left;  }
#left #content { box-shadow: 0px 0px 6px #999; -moz-box-shadow: 0px 0px 6px #999; -webkit-box-shadow: 0px 0px 6px #999; }
#left #content .page_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto;}
#left #content .page_content{padding: 1em 1.5em 1em 1.5em; margin:0 auto;}

/* Right - Sidebar */   
/******************************************************************/
#right { float: left; width: 35%; margin: 0px; padding: 0px; position: relative; text-align: left;  }
#right #sidebar { padding: 0 1.5em 0 1.5em; display: block; }

/* Footer */   
/******************************************************************/
#footer { width: 100%; height: 100px; padding: 10px 0 0 0; margin:0 auto; background-color: #e7e7e7; }
#footer img{float:left;}
#footer h5{float:left;padding-left:5px;line-height:65px;}
#footer:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* Ajax :: Messages */   
/******************************************************************/
.ajax-message h1, .ajax-message h2, .ajax-message h3{color:#fff;}



/* Flash Messages */   
/******************************************************************/
.flash_message {width: 97%;padding: 1.2em 0 1.2em .7em; margin-bottom: 10px;}
.flash_message .icon{width: 16px;float: left; margin-right: .3em;}



/* Pagination */   
/******************************************************************/
.pagination { margin: 2px; padding: 10px 2px 10px 2px; } 
.pagination a { padding: 2px 3px 2px 3px; margin: 2px; border: 1px solid #bbb; text-decoration: none; color: #666; } 
.pagination a:hover, 
.pagination a:active { border: 1px solid #000099; color: #000; } 
.pagination span.current { padding: 2px 3px 2px 3px; margin: 2px; border: 1px solid #ccc; font-weight: bold; background-color: #bbb; color: #FFF; } 
.pagination span.disabled { padding: 2px 3px 2px 3px; margin: 2px; border: 1px solid #eee; color: #ddd; }

/* Tooltips */   
/******************************************************************/
.tooltip{cursor:pointer;}


/******************************************************************/
/* -------------------------- Buttons --------------------------- */
/******************************************************************/
.button {
	min-width: 100px;
	padding: 7px 15px 7px 15px;
	margin-bottom: 5px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	border: 1px solid #999;
	/* ENGINE YARD BUTTONS -background: -moz-linear-gradient(top, #f8fafc, #9bb4cf);
		  background: -webkit-gradient(linear, left top, left bottom, from(#f8fafc), to(#9bb4cf));*/
	background-image: -moz-linear-gradient(center top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(0.5,#f0f0f0),color-stop(0.5,#e0e0e0),color-stop(1,#d7d7d7));
	background-image: -webkit-linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%);
	background-image: linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#d7d7d7');
	color: #444;
	text-shadow: #fff 0 1px 0;
	outline: none;
	-moz-outline: none;
	text-decoration: none!important;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

.button:hover {
	cursor: pointer;
}

.button:active,.button.depressed {
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
	border-top-color: #888;
	background-image: -moz-linear-gradient(top,#ccc,#f0f0f0);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ccc),color-stop(1,#f0f0f0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc',EndColorStr='#f0f0f0');
}

.button.disabled,.button.disabled:hover,.button.disabled:active {
	cursor: default;
	text-shadow: rgba(255,255,255,0.3) 0 1px 0;
	color: #aaa;
	background-image: -moz-linear-gradient(center top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%)!important;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(0.5,#f0f0f0),color-stop(0.5,#e0e0e0),color-stop(1,#d7d7d7))!important;
	background-image: -webkit-linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%)!important;
	background-image: linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#d7d7d7');
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
}

.button.blue {
	border-color: #2b4887;
	border-bottom-color: #1447a1;
	background-image: -moz-linear-gradient(center top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#6bbeff),color-stop(0.5,#2c8fff),color-stop(0.5,#1471fb),color-stop(1,#0758f1));
	background-image: -webkit-linear-gradient(top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	background-image: linear-gradient(top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6BBEFF',EndColorStr='#0758F1');
	color: #fff;
	text-shadow: #2b4887 0 1px 0;
}

body.firefox.mac .button.default {
	font-weight: normal;
}

.button.blue:hover {
	background-image: -moz-linear-gradient(center top,#8ccdff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#8ccdff),color-stop(0.5,#2c8fff),color-stop(0.5,#1471fb),color-stop(1,#0758f1));
	background-image: -webkit-linear-gradient(top,#8ccdff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	background-image: linear-gradient(top,#8ccdff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#8ccdff',EndColorStr='#0758F1');
}

.button.blue.depressed,.button.blue:active {
	border-top-color: #1a2b51;
	background-image: -moz-linear-gradient(center top,#0057f0 0,#2c8fff 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#0057f0),color-stop(1,#2c8fff));
	background-image: -webkit-linear-gradient(top,#0057f0 0,#2c8fff 100%);
	background-image: linear-gradient(top,#0057f0 0,#2c8fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0057f0',EndColorStr='#2C8FFF');
}

.button.blue.disabled,.button.blue.disabled:hover {
	background-image: -moz-linear-gradient(center top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%)!important;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#6bbeff),color-stop(0.5,#2c8fff),color-stop(0.5,#1471fb),color-stop(1,#0758f1))!important;
	background-image: -webkit-linear-gradient(top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%)!important;
	background-image: linear-gradient(top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6BBEFF',EndColorStr='#0758F1');
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	border-color: #2b4887!important;
	border-bottom-color: #1447a1!important;
	color: #1447a1!important;
	text-shadow: #288eff 0 1px 0!important;
}

.button.red {
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
	border: 1px solid #b5180c;
	border-bottom-color: #7d0d05;
	background-image: -moz-linear-gradient(center top,#ff6161 0,#ff343c 50%,#e60000 50%,#be0006 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ff6161),color-stop(0.5,#ff343c),color-stop(0.5,#e60000),color-stop(1,#be0006));
	background-image: -webkit-linear-gradient(top,#ff6161 0,#ff343c 50%,#e60000 50%,#be0006 100%);
	background-image: linear-gradient(top,#ff6161 0,#ff343c 50%,#e60000 50%,#be0006 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff6161',EndColorStr='#be0006');
}

.button.red:hover {
	background-image: -moz-linear-gradient(center top,#f88 0,#ff343c 50%,#e60000 50%,#be0006 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f88),color-stop(0.5,#ff343c),color-stop(0.5,#e60000),color-stop(1,#be0006));
	background-image: -webkit-linear-gradient(top,#f88 0,#ff343c 50%,#e60000 50%,#be0006 100%);
	background-image: linear-gradient(top,#f88 0,#ff343c 50%,#e60000 50%,#be0006 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff8888',EndColorStr='#be0006');
}

.button.red.depressed,.button.red:active {
	border-top-color: #760000;
	background-image: -moz-linear-gradient(center top,#b00 0,#f00 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#b00),color-stop(1,#f00));
	background-image: -webkit-linear-gradient(top,#b00 0,#f00 100%);
	background-image: linear-gradient(top,#b00 0,#f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#bb0000',EndColorStr='#ff0000');
}

.button.red.disabled {
	color: #900000!important;
	text-shadow: rgba(255,255,255,0.3) 0 1px 1px;
	border-color: #d90000!important;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#ff7575),color-stop(100%,#d10000))!important;
	background-image: -moz-linear-gradient(top,#ff7575 0,#d10000 100%)!important;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff7575',EndColorStr='#d10000');
}

.button.green {
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
	border: 1px solid #02901f;
	border-bottom-color: #027419;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#43da62),color-stop(100%,#02901f));
	background-image: -moz-linear-gradient(top,#43da62 0,#02901f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#43da62',EndColorStr='#02901f');
}

.button.green:hover {
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#48ea69),color-stop(100%,#02901f));
	background-image: -moz-linear-gradient(top,#48ea69 0,#02901f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#48ea69',EndColorStr='#02901f');
}

.button.green.depressed,.button.green:active {
	border-top-color: #036b17;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#02901f),color-stop(100%,#43da62));
	background-image: -moz-linear-gradient(top,#02901f 0,#43da62 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#02901f',EndColorStr='#43da62');
}

.button.green.disabled {
	color: #027419;
	text-shadow: rgba(255,255,255,0.3) 0 1px 1px;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#43da62),color-stop(100%,#02901f))!important;
	background-image: -moz-linear-gradient(top,#43da62 0,#02901f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#43da62',EndColorStr='#02901f');
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	border-color: #02901f!important;
}

/* Toggle Buttons */   
/******************************************************************/

ul.toggle_buttons{
	background-color: #FEFEFE; 
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FEFEFE), to(#DDD)); 
   	background-image: -webkit-linear-gradient(top,  #FEFEFE,  #DDD); 
	background-image:    -moz-linear-gradient(top,  #FEFEFE,  #DDD); 
	background-image:     -ms-linear-gradient(top,  #FEFEFE,  #DDD); 
	background-image:      -o-linear-gradient(top,  #FEFEFE,  #DDD); 
	background-image:         linear-gradient(top,  #FEFEFE,  #DDD); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#DDDDDD');
	border: 1px solid #D4D4D4;
	border-radius: 3px 3px;
	-webkit-border-radius: 3px 3px;
	-moz-border-radius: 3px 3px;
	border-left-color: #D4D4D4;
	border-top-color: #D4D4D4;
	color: #555;
	display: inline-block;
	margin: 0 0 0 15px;
	min-width: 24px;
	padding: 0px;
	vertical-align: middle;
}
ul.toggle_buttons li{
	display: block;
	float: left;
	line-height: 100%;
	margin: 0px;
}
ul.toggle_buttons li a {
	border-left: 1px solid rgba(0, 0, 0, 0.199219);
	color: #555;
	display: block;
	float: left;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	line-height: 100%;
	padding: 6px 12px;
	text-align: center;
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(255, 255, 255, 0.746094) 0px 1px;
	text-transform: uppercase;
}
ul.toggle_buttons li:first-child a{border-left: 0px;}
ul.toggle_buttons li a.current {
	background-color: rgba(0, 111, 187, 0.0976562);
	border-left-color: rgba(0, 111, 187, 0.296875);
	color: #006FBB;
}
ul.toggle_buttons li a:hover{
	color: #005188;
}

