<style type="text/css" media="screen">
	footer h4{ text-shadow: none; color: #eee; font-size: 18px; padding-bottom: 20px; margin:0; }
	footer h5{ text-shadow: none; color: #eee; font-size: 15px; padding-bottom: 10px; margin:0; }
	footer .content{padding-top: 20px;  width:980px;  list-style: none;}
	footer .column{color: #eee; float:left; height: 160px;}
	footer .column ul{list-style: none;}
	footer .column a{color: #999; font-weight: normal;}
	footer .column a:hover{color: #eee; text-decoration: underline;}
	
	footer .col_1{width: 234px; padding-right: 10px; border-right: 1px #666 dotted; text-align: center;}
	footer .col_1 a{padding: 0 10px;}
	
	footer .col_2{width: 200px; padding: 0 25px;}
	footer .col_3{width: 200px; padding: 0 25px;}
	footer .col_4{width: 200px; padding-left: 25px;}

	footer .copyright{clear:both; text-align:center; color: #666; font-size: 11px; padding-top: 40px;}
</style>

<footer>
	<div class="content">
		<div class="column col_1">
			<h4>Follow us</h4>
			<%= link_to image_tag("public/social/facebook.png"), "http://facebook.com/shelterexchange", :target => "_blank" %>
			<%= link_to image_tag("public/social/twitter.png"), "http://twitter.com/shelterexchange", :target => "_blank" %>
		</div>
		<div class="column col_2">
			<h5>Help</h5>
			<ul>
				<li><a href="/contact_us">Support</a></li>
				<li><a href="/donate">Donate</a></li>
			</ul>
		</div>
		<div class="column col_3">
			<h5>Help</h5>
			<ul>
				<li><a href="/contact_us">Support</a></li>
				<li><a href="/donate">Donate</a></li>
			</ul>
		</div>
		<div class="column col_4">
			<h5>Help</h5>
			<ul>
				<li><a href="/contact_us">Support</a></li>
				<li><a href="/donate">Donate</a></li>
			</ul>
		</div>
		<div class="copyright">&copy;2011 Shelter Exchange, Inc, 501(c)(3) Non-Profit Organization, All dontation are 100% tax deducible. All Rights Reserved.</div>
	</div>
</footer>