<section class="newsletter">
	<div class="content">
		<span><%=image_tag("public/home/newsletter.png", :alt => "Sign up for the Shelter Exchange Newsletter")%></span>
		<span><strong>Subscribe to Our Newsletter:</strong></span>
		<form id="newsletter_form" name="newsletter_form" enctype="multipart/form-data" method="post" novalidate>
			<span>
				<input name="Field1" type="text" class="field text medium" value="Enter email address" maxlength="255" />
			</span>
			<span>
				<input name="saveForm" class="button submit" type="submit" value="Subscribe" />
			</span>
			<span class="hide">
				<label for="comment">Do Not Fill This Out</label>
				<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
				<input type="hidden" id="idstamp" name="idstamp" value="kRYOaJ9l9/qOokI0ju+MykLbZsESWmBMbChxVIeU2F8=" />
			</span>
		</form>
	</div>
</section>