<div id="toolbar">
	<div class="content">
		
		<ul class="menu">
			<li><a href="#">About us</a></li>
			<li><a href="#">Get involved</a></li>
			<li><a href="#">Why Shelter Exchange?</a></li>
			<li><a href="#">Media</a></li>
		</ul>
		
		<ul class="tools_menu">
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
		
	</div>
</div>