<ul class="submenu">
	<li><a class="<%=sub_navigation(:donors_and_sponsors)%>" href="/get_involved/donors_and_sponsors">Donors and Sponsors</a></li>
	<li><a class="<%=sub_navigation(:volunteer)%>" href="/get_involved/volunteer">Volunteer</a></li>
	<li><a class="<%=sub_navigation(:fundraise)%>" href="/get_involved/fundraise">Fundraise</a></li>
</ul>
