<%= form_for (@note), :remote => true do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
    <div class="actions">
		<%= f.submit "Update Note", :disable_with => "Submitting...", :class => "button" %>
		&nbsp;&nbsp;or&nbsp;&nbsp;
		<%= link_to_function "Cancel", "$('#edit_note_#{@note.id}').toggle();" -%>
	</div>
<% end %>