public/.well-known
*.sqlite3
*.tmproj
public/assets/*

# Temporary files of every sort
.bundle

# Uploaded files and local files
.DS_Store
log/*
tmp/**/*
chromedriver.log

# Textmate and Project Files
public/uploads/*
public/source.tar*

config/settings.local.yml

