.bundle

# Log Files
log/*

# Textmate and Project Files
*.tmproj

# Uploaded files and local files
public/uploads/*
public/assets/*
public/source.tar*
public/.well-known
tmp/**/*
tmp/*
*.sqlite3

# Temporary files of every sort
.DS_Store