{"http_interactions":[{"request":{"method":"post","uri":"https://graph.facebook.com/","body":{"encoding":"US-ASCII","string":"id=http%3A%2F%2Fwww.shelterexchange.org%2Fsave_a_life%2F12345&scrape=true"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\"url\":\"http:\\/\\/www.shelterexchange.org\\/save_a_life\\/12345\",\"type\":\"website\",\"title\":\"Larry  \\u2605 Rescued by Save A Lab - Hound Mix | Nashville, NC | Shelter Exchange\",\"image\":[{\"url\":\"https:\\/\\/shelterexchange.s3.amazonaws.com\\/animals\\/photos\\/12345\\/original\\/137520857d1dbf19.jpg\"}],\"description\":\"Larry  \\u2605 Rescued by Save A Lab is a male dog, Hound Mix, located at Nash County Animal Control Shelter in Nashville, North Carolina.\",\"site_name\":\"Shelter Exchange\",\"updated_time\":\"2014-02-14T04:00:53+0000\",\"admins\":[{\"id\":\"787130340\",\"name\":\"Brian Bokor\",\"url\":null}],\"id\":\"666767986668704\"}"},"http_version":null},"recorded_at":"Fri, 14 Feb 2014 04:01:00 GMT"}],"recorded_with":"VCR 2.5.0"}