/*html, body { margin:0; padding:0; height: 100%; }*/
body { background-color: #fff; color: #222; width:95%;margin: 0 auto;
	   font: normal 13px "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Tahoma, sans-serif; min-width: 960px; -webkit-text-size-adjust:none;}

/*********************************************************/
/* ---------------------- GLOBAL ----------------------- */
/*********************************************************/
h1, h2, h3, h4, h5 { font-weight: bold; color:#000; letter-spacing: -1px; margin-bottom: 10px;  }
p{ margin-bottom: 15px; }
a, img { border: none; outline: none; }

code,code pre,kbd {font: normal 12px  Monaco, Consolas, 'Lucida Console', 'Courier New', Courier, monospace; /*Consolas, InconsolataMedium, Courier, 'Courier New', Monaco, monospace;*/}


/*
Shelter Exchange Letters - #cf7019
Dog House Roof - #f26649
Dog House Sides - #db8d4a
*/

/* ClearFix */
/******************************************************************/
.clearfix:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
* html .clearfix{height:1%;}


/***********************************************************************/
/* -------------------------- Page Layouts --------------------------- */
/***********************************************************************/

/* Main */
/******************************************************************/
#main{text-align: left;}
#main #content .page_heading{padding: 0em 0em 1em 0em;/*padding: 1.5em 1.5em 1em 1.5em;*/ margin:0 auto;}
#main #content .page_content{/*padding: 1em 1.5em 1em 1.5em;*/ margin:0 auto;}
#main:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Footer */
/******************************************************************/
#footer { width: 100%; height: 100px; padding: 0; margin:0 auto;}
#footer img{float:left;}
#footer h5{float:left;padding-left:5px;line-height:65px;}
#footer:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Pagination */
/******************************************************************/
.pagination{display:none;}

/* ToolTips
-----------------------------------------------------------------------------*/
.tooltip{display:none;}

/* Flash Messages */
/******************************************************************/
.flash_message {width: 97%;padding: 1.2em 0 1.2em .7em; margin-bottom: 10px;}
.flash_message .icon{width: 16px;float: left; margin-right: .3em;}



/* Print Layout :: Page Break
-----------------------------------------------------------------------------*/
.page_break{}
.page_break span{ display:block; border-bottom: 1px #bbb dotted; height:1px; width: 100%; padding-bottom: 10px;margin: 10px 0; font-size: 10px; color: #999; text-align:center;}


/* Box :: Layout :: Forms
-----------------------------------------------------------------------------*/
.box{padding: 15px; margin-bottom: 15px; border-style: solid; border-width: 1px;border-color: #ccc;background-color: none;}
.box.hide{display: none;}
.box.red{border-color: #f07280;background-color:#faced3;}
.box.green{border-color: #90e674;background-color:#d5f6ca;}
.box.orange{border-color: #f9d36f; background-color:#fdf1d0;}
.box.blue{border-color: #74afe3;background-color:#c9e0f4;}
.box h2{border: none;}
.box h3{border: none;}
.box:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }



/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/

/* Sections :: Headings
-----------------------------------------------------------------------------*/
.section_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto; border-top-style: solid; border-top-width: 1px;border-bottom-style: solid; border-bottom-width: 1px;border-color: #ccc;background-color: none;}
.section_heading.no_borders{border-top-width: 0px;border-bottom-width: 0px;}
.section_heading.red{border-color: #f07280;background-color:#faced3;}
.section_heading.green{border-color: #90e674;background-color:#d5f6ca;}
.section_heading.orange{border-color: #f9d36f; background-color:#fdf1d0;}
.section_heading.blue{border-color: #74afe3;background-color:#c9e0f4;}
.section_heading h2{float:left;}
.section_heading .links{float:right; text-align: right;padding-top:5px;}
.section_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* Page Headings
-----------------------------------------------------------------------------*/
/*.page_heading{ margin: -1em -1em 1em -1em; padding: 1em;}*/
.page_heading.gray{background-color: #f5f5f5;border-bottom:1px solid #eee;}
.page_heading.blue {background-color: #edf3fe;border-bottom:1px solid #eee;}
.page_heading.red{background-color:#faced3;border-bottom:1px solid #eee;}
.page_heading h1{width:100%; }
.page_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Section Heading
-----------------------------------------------------------------------------*/
.section_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto; }
.section_heading.no_borders{border-top-width: 0px;border-bottom-width: 0px;}
.section_heading.red{border-color: #f07280;background-color:#faced3;}




/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/

/* Print Animals :: General Page Layout
-----------------------------------------------------------------------------*/
.print_animals ul{list-style:none;}
.print_animals ul li{padding-bottom: 10px;}
.print_animals .page_content { font-size: 14px;}

/* Print Animals :: Print Options Layout
-----------------------------------------------------------------------------*/
.print_animals .print_options{ padding:20px 0 10px 0; margin-bottom:10px; border-bottom: 1px #ccc dotted;}
.print_animals .links{width:100%; margin:0 auto; padding-bottom:10px; text-align:center;}
.print_animals .link{padding-right: 40px;}
.print_animals #note_categories{padding: 5px 0 0 35px;}


/* Print Animals :: Page Layout
-----------------------------------------------------------------------------*/
.print_animals table.animal{width:100%;}
.print_animals table.animal td{vertical-align:top;width:50%;}
.print_animals table.animal td.status{text-align:right;}
.print_animals table.animal td.shelter{text-align:right;padding-top:8px;}
.print_animals table.animal td h1 {}
.print_animals table.animal td h1 span{font-size:14px;padding-left:25px;position:relative;top:-3px;}
.print_animals table.animal td p {font-size: 16px;font-weight: bold; letter-spacing:-1px;color:#000;}



/* Print Animals :: Page Layout
-----------------------------------------------------------------------------*/
.print_animals h1 .status{font-size: 15px;font-weight: bold; letter-spacing:-1px;color:#f16649;position:absolute; right:0; top: 10px;}
.print_animals h3{overflow:auto;border-bottom: 1px #bbb dotted; font-weight: bold; padding-bottom:5px; margin-bottom:10px;}

.print_animals .animal_details{}
.print_animals .animal_details:after{ content:"\0020"; display:block; height:0px; clear:both; visibility:hidden; overflow:hidden; }
.print_animals .animal_details ul{text-align:left;padding-bottom: 10px;}
.print_animals .animal_details ul li{ padding-bottom: 0;}
.print_animals .animal_details ul.details li {display:inline-block; width: 200px;}
.print_animals .animal_details ul li p{padding-bottom: 15px;margin:0;}
.print_animals .animal_details ul p span{padding-left: 8px;}

.print_animals .animal_details .type{font-size: 15px;font-weight: bold; letter-spacing:-1px;color:#222;padding-bottom: 20px;}

.print_animals .animal_details .media{float:right;width: 500px;margin-left:15px;}
.print_animals .animal_details .media img {-webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;}



/* Save a Life :: Show Page (Animal Page) :: IE :: Animal Img Fix :: PIE */
/******************************************************************/
.ie7 .print_animals .animal_details .media img,
.ie8 .print_animals .animal_details .media img {behavior: url(/assets/pie/PIE.htc);}


/* Print Animals :: Shelter Details :: Layout
-----------------------------------------------------------------------------*/
.print_animals #shelter_details{padding-bottom: 20px;}
.print_animals #shelter_details li{padding-bottom: 5px;}
.print_animals #shelter_details h2 span{position:absolute;letter-spacing: 0px; margin-top: -2px;font-size: 14px;padding-left: 20px;}
.print_animals #shelter_details .logo{float:right; text-align:right;}
.print_animals #shelter_details .address_info{width: 860px;}
.print_animals #shelter_details .action_links span,
.print_animals #shelter_details .action_links a{padding-right: 8px;}
.save_a_life #shelter_details h1 {color: #CCC;height: 100px;line-height: 100px;margin: 0 auto;text-align: center;}
.print_animals .animal_shelter{border-top: 1px #bbb dotted; padding-top: 20px; margin-top: 10px;
border-bottom: 1px #bbb dotted;  margin-bottom: 10px;}



/******************************************************************/
/* -------------------------- NOTES  -------------------------- */
/******************************************************************/


/* Notes List :: Layout */
/******************************************************************/
.note_list {border-top: 1px dotted #ccc; padding-bottom: 20px;}
.note_list h3{}
.note {width: 100%; display:inline-block; line-height: 40px;text-align:left;border-bottom: 1px dotted #bbb; }

.note .created_date {display:inline-block; width: 5%;color:#666; font-size: 10px; letter-spacing: -1px;  }
.note .details{display:inline-block; width: 90%; vertical-align:top; padding-left: 5px;}
	.note .title {display:inline-block;font-weight: bold;font-size: 15px; line-height: 1.75em; padding-top:8px;}

.note .action_links {display:none;}

.note .description { clear:both; padding: 0 6%; width: 92%; line-height: 2em;}

