/* Print Animals :: General Page Layout
-----------------------------------------------------------------------------*/
.print_animals ul{list-style:none;}
.print_animals ul li{padding-bottom: 10px;}
.print_animals .page_content { font-size: 14px;}

/* Print Animals :: Print Options Layout
-----------------------------------------------------------------------------*/
.print_animals .print_options{ padding:20px 0 10px 0; margin-bottom:10px; border-bottom: 1px #ccc dotted;}
.print_animals .links{width:100%; margin:0 auto; padding-bottom:10px; text-align:center;}
.print_animals .link{padding-right: 40px;}
.print_animals #note_categories{padding: 5px 0 0 35px;}


/* Print Animals :: Page Layout
-----------------------------------------------------------------------------*/
.print_animals table.animal{width:100%;}
.print_animals table.animal td{vertical-align:top;width:50%;}
.print_animals table.animal td.status{text-align:right;}
.print_animals table.animal td.shelter{text-align:right;padding-top:8px;}
.print_animals table.animal td h1 {}
.print_animals table.animal td h1 span{font-size:14px;padding-left:25px;position:relative;top:-3px;}
.print_animals table.animal td p {font-size: 16px;font-weight: bold; letter-spacing:-1px;color:#000;}



/* Print Animals :: Page Layout
-----------------------------------------------------------------------------*/
.print_animals h1 .status{font-size: 15px;font-weight: bold; letter-spacing:-1px;color:#f16649;position:absolute; right:0; top: 10px;}
.print_animals h3{overflow:auto;border-bottom: 1px #bbb dotted; font-weight: bold; padding-bottom:5px; margin-bottom:10px;}

.print_animals .animal_details{}
.print_animals .animal_details:after{ content:"\0020"; display:block; height:0px; clear:both; visibility:hidden; overflow:hidden; }
.print_animals .animal_details ul{text-align:left;padding-bottom: 10px;}
.print_animals .animal_details ul li{ padding-bottom: 0;}
.print_animals .animal_details ul.details li {display:inline-block; width: 200px;}
.print_animals .animal_details ul li p{padding-bottom: 15px;margin:0;}
.print_animals .animal_details ul p span{padding-left: 8px;}

.print_animals .animal_details .type{font-size: 15px;font-weight: bold; letter-spacing:-1px;color:#222;padding-bottom: 20px;}

.print_animals .animal_details .media{float:right;width: 500px;margin-left:15px;}
.print_animals .animal_details .media img {-webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;}



/* Save a Life :: Show Page (Animal Page) :: IE :: Animal Img Fix :: PIE */
/******************************************************************/
.ie7 .print_animals .animal_details .media img,
.ie8 .print_animals .animal_details .media img {behavior: url(/assets/pie/PIE.htc);}


/* Print Animals :: Shelter Details :: Layout
-----------------------------------------------------------------------------*/
.print_animals #shelter_details{padding-bottom: 20px;}
.print_animals #shelter_details li{padding-bottom: 5px;}
.print_animals #shelter_details h2 span{position:absolute;letter-spacing: 0px; margin-top: -2px;font-size: 14px;padding-left: 20px;}
.print_animals #shelter_details .logo{float:right; text-align:right;}
.print_animals #shelter_details .address_info{width: 860px;}
.print_animals #shelter_details .action_links span,
.print_animals #shelter_details .action_links a{padding-right: 8px;}
.save_a_life #shelter_details h1 {color: #CCC;height: 100px;line-height: 100px;margin: 0 auto;text-align: center;}
.print_animals .animal_shelter{border-top: 1px #bbb dotted; padding-top: 20px; margin-top: 10px;
border-bottom: 1px #bbb dotted;  margin-bottom: 10px;}



/******************************************************************/
/* -------------------------- NOTES  -------------------------- */
/******************************************************************/


/* Notes List :: Layout */
/******************************************************************/
.note_list {border-top: 1px dotted #ccc; padding-bottom: 20px;}
.note_list h3{}
.note {width: 100%; display:inline-block; line-height: 40px;text-align:left;border-bottom: 1px dotted #bbb; }

.note .created_date {display:inline-block; width: 5%;color:#666; font-size: 10px; letter-spacing: -1px;  }
.note .details{display:inline-block; width: 90%; vertical-align:top; padding-left: 5px;}
	.note .title {display:inline-block;font-weight: bold;font-size: 15px; line-height: 1.75em; padding-top:8px;}

.note .action_links {display:none;}

.note .description { clear:both; padding: 0 6%; width: 92%; line-height: 2em;}

