<li id="status_date_container">
	<div class="status_date_field">
		<div class="status_date_alt"><%=format_date(:long_day_of_week, Time.zone.today)%></div>
		<div class="date_picker"></div>
		<%= f.hidden_field :status_date, :class => "hidden_status_date" %>
	</div>
</li>


