<div id="<%= "status_history_#{status_history.id}" %>" class="status_history">
	<span class="created_date"><%= format_date(:short, status_history.status_date) %></span>
	<span class="details">
		<span class="status"><%= status_history.animal_status.name %>: <span class="reason"><%= status_history.reason.blank? ? "Not provided" : status_history.reason %></span><span>
	</span>
</div>
