<%= title "Contact us" %>
<%= description "Contact Shelter Exchange by email: info@shelterexchange.org or Tel:919-725-7173" %>
<%= keywords "animal shelters, animal rescue groups, homeless animals, donate, fundraise, animal euthanasia, shelter exchange, nonprofit, non-profit, tax deductible, animal rescue, animal welfare community, euthanized, euthanized animals" %>

<%= content_for :page_content do %>

	<h1>Contact us</h1>
	<p>Our mailing address is:</p>
	<div id="address_details" itemscope itemtype="http://schema.org/Organization">
		<span class="name" itemprop="name"><h3>Shelter Exchange</h3></span>
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<p><span itemprop="streetAddress">P.O. Box 2934</span></p>
		  <p><span itemprop="addressLocality">Redwood City, CA</span> <span class="postalCode" itemprop="postalCode">94064</span></p>
		</div>
  </div>
  <p> -- or -- </p>
	<p>Please use the form below to get in touch with Shelter Exchange.</p>

	<div id="contact_form" class="form">
		<script type="text/javascript">
			var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");
			document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
		</script>

		<script type="text/javascript">
			var s7x2p7 = new WufooForm();
			s7x2p7.initialize({
				'userName':'shelterexchange',
				'formHash':'s7x2p7',
				'autoResize':true,
				'height':'594',
				'header':'hide',
				'ssl':true
			});
			s7x2p7.display();
		</script>
	</div>
<% end %>

