<% unless @accommodations.blank? %>
$('#accommodations').html( "<%= escape_javascript( render 'accommodation_list', :accommodations => @accommodations ) %>" );
<% else %>
$('#accommodations').html( "<div class='no_results'><h2>No Accommodations found</h2></div>" );
<% end %>