/******************************************************************/
/* -------------------------- COMMON  -------------------------- */
/******************************************************************/
.active_link {color:#888; text-decoration:none; cursor:default; }
.actions{padding-top: 15px;}
.no_tasks, .no_alerts {display:none;}
.hidden{display:none;}

#sidebar ul.model_actions { padding: 0 0 10px 0; }


/*

If you want FULL SCREEN THEN USE THIS ON THE PAGE YOU NEED IT FOR.
.show_parents #left { width: 97%;}
.show_parents #sidebar { width: 0;}*/

/******************************************************************/
/* -------------------------- ANIMALS  -------------------------- */
/******************************************************************/
.animals ul {list-style:none;}

/* -------------------------- ANIMALS FORMS -------------------------- */
.animals #secondary_breed_field, .animals #primary_breed_field{display:none;}

.animals #euthanasia_info{padding-top: 0px;}
.animals #euthanasia_info input{margin-bottom: 10px;}
.animals #euthanasia_info fieldset{border:1px #ddd solid; padding: 20px; width: 90%;}
.animals #euthanasia_info fieldset legend {font-weight: bold; font-size: 16px; letter-spacing: -1px;}

.animals #euthanasia_info .date_field{ padding-bottom: 15px;}
.animals #euthanasia_info .date_field:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.animals #euthanasia_info .humanize_date{float:left; width: 190px;font-weight: bold; font-size: 16px;letter-spacing: -1px;color:#000;padding: 10px 0 10px 0;}
.animals #euthanasia_info .icon_calendar{float:left; padding-left: 10px; cursor: pointer;}
.animals #euthanasia_info .datepicker{display:none; padding-bottom: 10px;}



/* -------------------------- INDEX - ANIMALS  -------------------------- */
.index_animals .page_heading {/* COLORS PADDING FONTS */}

/*
Original Code without hover border collapse
.index_animals table.list{width:100%;padding:0 0 5px 0; border-top:1px #ccc dotted;  }
.index_animals table.list td{vertical-align:top;font-size:12px;padding:8px 0;border-bottom:1px #ccc dotted;}
.index_animals table.list td.image { width:100px; padding-right: 15px; }
.index_animals table.list td.details { width:380px;color:#666; }
.index_animals table.list td.status { width:175px;padding-left: 10px; text-align:right;}
.index_animals table.list td .action_links{font-size: 10px;font-weight:bold;}*/


/* START OF HOVER CODE - THIS WAS WITH THE HOVER BUT DOESN"T WOKR WITH PAGINATION
RED  - background-color: #fce2ec; border:1px solid #f286b1;
BLUE - background-color:#e0f1fa; border:1px solid #89cbeb;
GREEN - background-color:#f1fce2; border:1px solid #c4f286;
YELLOW - background-color:#fffbe5; border:1px solid #fff3b2;
ORANGE - background-color:#fff6e5; border:1px solid #ffd27f;

If we don't use hover remove the padding left and right*/
.index_animals .list .hover {background-color:#EFEBE3;/*#e0f1fa*/}
.index_animals table.list{width: 100%; table-layout: auto;border-top:1px #ccc dotted; border-collapse: collapse; border-spacing: 0; }
.index_animals table.list tr {border-bottom:1px #ccc dotted; }
.index_animals table.list td{vertical-align:top;font-size:12px;padding:9px 0;}
.index_animals table.list td.image { width:100px; padding-left:5px; }
.index_animals table.list td.details { width:380px;padding-left: 15px;color:#666; }
.index_animals table.list td.status { width:175px;padding-left: 10px; padding-right: 5px; text-align:right;}

.index_animals table.search {width: 100%;vertical-align:top; padding-bottom: 10px;}
.index_animals table.search tr {vertical-align:top;}
.index_animals table.search td.animal_live_search {width:50%;text-align:left;padding-top:10px;}
.index_animals table.search td.animal_live_search input {margin-top:5px;width:90%;}
.index_animals table.search td.animal_filters {width:50%;text-align:left;border-left:1px dotted #ccc;padding:10px 0 20px 10px;}
.index_animals table.search td h3{font-weight: bold; font-size: 16px; letter-spacing: -1px;padding-bottom: 10px;}
.index_animals table.search td.animal_filters table.filter_table{width: 100%;padding-left: 20px;}
.index_animals table.search td.animal_filters table.filter_table tr{vertical-align:top;}
.index_animals table.search td.animal_filters table.filter_table tr td label {width: 25%;text-align:left;}
.index_animals table.search td.animal_filters table.filter_table tr td select{width: 75%;text-align:left;}

/* -------------------------- SHOW - ANIMALS  -------------------------- */
.show_animals .page_heading{border-bottom:1px solid #ddd; }
.show_animals table.animal{width:100%;}
.show_animals table.animal td{vertical-align:top;width:50%;/*color:#666;*/}
.show_animals table.animal td.links{font-size:12px;line-height:100%;height:100%;padding-top:5px;}
.show_animals table.animal td h1 {}
.show_animals table.animal td h1 span{font-size:14px;padding-left:25px;position:relative;top:-3px;}
.show_animals table.animal td p {font-size: 16px;font-weight: bold; letter-spacing:-1px;color:#000;}

.show_animals table.animal_details{padding: 0; margin:0;}
.show_animals table.animal_details h3{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_animals table.animal_details ul{float:left; width:42%; list-style: none;}
.show_animals table.animal_details ul.first{padding: 0 20px 0 0;}
.show_animals table.animal_details ul li{width:100%;}
.show_animals table.animal_details td{vertical-align:top; }
.show_animals table.animal_details td.image{}
.show_animals table.animal_details td.metadata{width:100%;padding: 0 0 0 15px; margin:0 0 0 0; }
.show_animals table.animal_details td.metadata .full_list{ text-align:left; width: 95%; float: none;}
.show_animals table.animal_details td.metadata .full_list .euthanasia_info{color: #000; font-weight: bold; font-size: 16px; letter-spacing: -1px;}
.show_animals table.animal_details td.metadata .full_list .red_date{color:#ee3124;}
.show_animals table.animal_details .description{clear: both; padding: 15px 0 0 0; }



.show_animals #animal_alerts .edit_note h2 {border: 0;}

.show_animals .note_filters{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.show_animals .note_filters h2{float:left;}
.show_animals .note_filters .links{float:right; text-align: right;padding-top:5px;}
.show_animals .note_filters:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* SIDEBAR - SHOW ANIMAL */
.show_animals #animal_tasks {padding: 15px 0 0 0;}
.show_animals #animal_alerts {padding: 15px 0 0 0;}
.show_animals #animal_tasks h2{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_animals #animal_alerts h2{border-bottom: 1px #bbb solid; font-weight: bold;}

.show_animals #create_alert {display: none;background-color: #fce2ec; border:1px solid #f286b1;padding: 15px; margin-bottom: 15px;}
.show_animals #create_task {display: none; background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.show_animals #create_note {display: none;background-color: #f1fce2; border: 1px #c4f286 solid; padding: 15px; margin-bottom: 15px;}
.show_animals #another_note_category{ display:none; }
.show_animals #another_note_category .added_to_category{font-size: 18px; font-weight: bold; color: green; letter-spacing: -1px;}

.show_animals #animal_tasks .edit_task {display: none;background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.show_animals #animal_tasks .edit_task h2 {border: 0;}
.show_animals #animal_alerts .edit_alert {display: none;background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.show_animals #animal_alerts .edit_alert h2 {border: 0;}







/******************************************************************/
/* -------------------------- NOTES  -------------------------- */
/******************************************************************/
#notes .edit_note {display:none;background-color:#f1fce2; border:1px solid #c4f286;padding:15px; margin-bottom:15px;}
#notes .hover{background-color:#EFEBE3;}
#notes .note {border-top: 1px dotted #ccc; line-height: 2.5em; padding: 5px 0 5px 0; }
#notes .note .note_info {float: left; width: 85%;cursor: pointer;}
#notes .note .created_date {color:#999; font-size: 10px; letter-spacing: -1px; padding-right: 10px;}
#notes .note .title {color:#000; font-weight: bold;font-size: 14px;}
#notes .note .category {color:#999; font-size: 12px; }
#notes .note .description {padding: 0 0 0 20px; line-height: 2em; display:none;}
#notes .note .action_links {float: left; width: 15%; text-align: right;font-size: 10px;}
#notes .note:last-child{border-bottom: 1px dotted #ccc; }

/* -- Show Parents :: Notes --*/
.show_parents #notes .note .category{display:none;}
.show_parents #edit_note_form #note_category{display:none;}













/******************************************************************/
/* -------------------------- ALERTS  -------------------------- */
/******************************************************************/
/* -- Global Alert --*/
.alerts {}/* body class that is specific for an alerts page - Add action as well */
.index_alerts {}

.alerts ul { list-style:none ;}

/* -- Index Alert --*/
.index_alerts .page_content h3{border-bottom:1px #999 solid;}
.index_alerts .page_heading{/*border-bottom:1px solid #ddd;*/ }
.index_alerts #sidebar #create_alert {background-color: #fce2ec; border:1px solid #f286b1;padding: 15px; margin-bottom: 15px;}


/* -- Alert List :: Form --*/
.alert_list .edit_alert {display: none;background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.alert_list .edit_alert h2 {border: 0;}

/* -- Alert List  --*/
.alert_list h2{border-bottom: 1px #bbb solid; font-weight: bold;}
.alert_list {margin-bottom:10px;}
.alert_list .alert{padding: 1px 0 1px 0; margin: 2px 0 2px 0;text-align:left;display: block; }
.alert_list .alert .description {padding: 0 0 0 20px; line-height: 2em; display:none;}
.alert_list .type{float:left;min-width: 100px; text-align:center;vertical-align: middle;padding: 5px 0;-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
/*.alert_list .details{float: left;width: 60%; margin-left: 10px;  } ORIGINAL WITH IMAGES*/
.alert_list .details{float: left;width: 55%; margin-left: 10px;  }
.alert_list .details p {font-size: 14px; letter-spacing: -1px; color: #000;margin-top:5px;}
.alert_list .details .alert_created_at_date{font-weight: bold; font-size: 14px; letter-spacing: -2px;padding-right: 10px; }
.alert_list .details .alert_animal_name{font-weight:bold; font-size: 16px;}
/*.alert_list .links{float: right; text-align:right;margin-top:5px;} 
.alert_list .links img{margin-left: 5px;} ORIGINAL WITH IMAGES*/
.alert_list .action_links{float: right; text-align:right;margin-top: 8px;font-size: 10px;font-weight:bold;}


.alert_list .high{background-color:#ee3124;color:#fff;}
.alert_list .medium{background-color:#f39500;color:#fff;}
.alert_list .low{background-color:gray;color:#fff;}

/* -- Show Animals :: Alert List --*/
.show_animals .alert_list .type{min-width: 80px;padding:2px 5px 2px 5px;}
.show_animals .alert_list .details p {margin-top:3px;}
.show_animals .alert_list .links{margin-top:3px;}
.show_animals .alert_list .details .alert_animal_name{display:none;}
















/******************************************************************/
/* -------------------------- SHELTERS -------------------------- */
/******************************************************************/
.shelters ul {list-style:none;}

.show_shelters .page_heading{border-bottom:1px solid #ddd; }


/******************************************************************/
/* -------------------------- SHELTERS -------------------------- */
/******************************************************************/
.reports ul {list-style:none;}

.index_reports .page_heading{border-bottom:1px solid #ddd; }















/******************************************************************/
/* ---------------------------- TASKS --------------------------- */
/******************************************************************/
/* -- Global Task --*/
.tasks ul {list-style:none;}
.index_tasks .page_content h3{border-bottom:1px #999 solid;}
.index_tasks .page_heading{/*border-bottom:1px solid #ddd; */}
.index_tasks #overdue_tasks_section h3 {color: red; font-weight:bold;}
.index_tasks #overdue_tasks{padding-bottom: 15px;}
.index_tasks #today_tasks{padding-bottom: 15px;}
.index_tasks #tomorrow_tasks{padding-bottom: 15px;}
.index_tasks #later_tasks"{padding-bottom: 0px;}
.due_date_alt {font-weight: bold; font-size: 16px;letter-spacing: -1px;color:#000;padding: 10px 0 10px 0;}

/* -- Task List :: Form --*/
.task_list .edit_task {display: none;background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.task_list .edit_task h2 {border: 0;}

.index_tasks #right #create_task {background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}

/* -- Task List --*/
.task_list{margin-bottom:10px;}
.task_list .task{padding: 1px 0 1px 0; margin: 2px 0 2px 0; text-align:left;display: block; }
.task_list .type{float:left;min-width: 100px; text-align:center;vertical-align: middle;padding: 5px 0;-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
/*.task_list .details{float: left;width: 60%; margin-left: 10px;  } ORIGINAL WITH IMAGES*/
.task_list .details{float: left;width: 56%; margin-left: 10px;  }
.task_list .details p {font-size: 14px; letter-spacing: -1px; color: #000;margin-top:5px;}
.task_list .details .task_due_date{font-weight: bold; font-size: 14px; letter-spacing: -2px;padding-right: 10px; }
.task_list .details .task_animal_name{font-weight:bold; font-size: 16px;}
/*.task_list .links{float: right; text-align:right;font-size: 12px; margin-top: 3px;font-size: 10px;font-weight:bold;}  
.task_list .links img{margin-left: 5px;} ORIGINAL WITH IMAGES*/
.task_list .action_links{float: right; text-align:right;margin-top: 8px;font-size: 10px;font-weight:bold;}


/* -- Show Animals :: Task List --*/
.show_animals .task_list .type{min-width: 80px;padding:2px 5px 2px 5px;}
.show_animals .task_list .details p {margin-top:3px;}
.show_animals .task_list .links{margin-top:3px;}
.show_animals .task_list .task_animal_name{display:none;}






/******************************************************************/
/* -------------------------- PARENTS --------------------------- */
/******************************************************************/
.parents ul {list-style:none;}

/* -------------------------- INDEX - PARENTS  -------------------------- */
.index_parents .page_heading{border-bottom:1px solid #ddd; }
.index_parents #parent_search {padding: 0 0 20px 0; border-bottom:1px #ccc dotted;}
.index_parents #parents {}
.index_parents #parents .no_results {padding: 20px 0 0 0; }
.index_parents #parents .no_results p{font-weight: bold; }

.index_parents table.list{width:100%;padding:0 0 5px 0; }
.index_parents table.list td{vertical-align:top;font-size:12px;padding:8px 0;border-bottom:1px #ccc dotted;}
.index_parents table.list td.details { width:380px; color:#666; }
.index_parents table.list td.status { width:175px;padding-left: 10px; text-align:right;}
.index_parents table.list td .action_links{font-size: 10px;font-weight:bold;}


/* -------------------------- SHOW - PARENTS  -------------------------- */
.show_parents .page_heading{border-bottom:1px solid #ddd; }
.show_parents table.parent{width:100%;}
.show_parents table.parent td{vertical-align:top;width:50%;/*color:#666;*/}
.show_parents table.parent td.links{font-size:12px;line-height:100%;height:100%;padding-top:5px;}
.show_parents table.parent td h1 {}
.show_parents table.parent td h1 span{font-size:14px;padding-left:25px;position:relative;top:-3px;}
.show_parents table.parent td p {font-size: 16px;font-weight: bold; letter-spacing:-1px;color:#000;}

.show_parents .parent_info_section{float:left; width: 50%;}

.show_parents #create_placement {background-color: #f1fce2; border:1px solid #c4f286;padding: 15px; margin-bottom: 15px;}
.show_parents #animal_search_dialog {width:100%; height:100%; background-color: #fff;}
.show_parents #animal_search_dialog .wrapper { padding: 15px; }

.show_parents #animal_selected{padding: 0 0 10px 0;}
.show_parents #animal_selected span {}
.show_parents #animal_selected span b {padding: 0 10px 0 0; font-size: 15px; letter-spacing:-1px;}
.show_parents #animal_selected #animal_search_link{}

.show_parents #animal_search_results {padding-top: 20px;}
.show_parents #animal_search_results table{width:98%;padding:0 0 5px 0; border-top:1px #ccc dotted;  }
.show_parents #animal_search_results table td{vertical-align:top;font-size:12px;padding:8px 0;border-bottom:1px #ccc dotted;}
.show_parents #animal_search_results table td.image { width:100px; padding-right: 15px;}
.show_parents #animal_search_results table td.details { width:380px;color:#666; }
.show_parents #animal_search_results table td.status { width:175px;padding-left: 10px; text-align:right;}
.show_parents #animal_search_results table td .action_links{font-size: 10px;font-weight:bold;}

.show_parents table.list{width:100%;padding:0 0 5px 0; border-top:1px #ccc dotted; }
.show_parents table.list td{vertical-align:top;font-size:12px;padding:8px 0;border-bottom:1px #ccc dotted; }
.show_parents table.list td.image { width:100px; padding-right: 15px; }
.show_parents table.list td.image img { padding-bottom: 10px;}
.show_parents table.list td .action_links{ width:100px; text-align:center;font-size: 10px;font-weight:bold;height:auto;}
.show_parents table.list td.details { width:380px;color:#666; }
.show_parents table.list td.details h4{border-top: 1px #ccc solid; padding-top: 5px;}
.show_parents table.list td.status { width:175px;padding-left: 10px; text-align:right;}

.show_parents table.list tr.edit_placement td {background-color: #f1fce2; border:1px solid #c4f286;padding: 15px; margin-bottom: 15px;}
.show_parents table.list tr.edit_placement h2 {border: 0;}

.show_parents .placement_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.show_parents .placement_heading h2{float:left;}
.show_parents .placement_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* -- Sidebar - Show Parents  --*/
.show_parents #create_placement {display: none; background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.show_parents #create_note {display: none;background-color: #f1fce2; border: 1px #c4f286 solid; padding: 15px; margin-bottom: 15px;}


.show_parents .create_comment{background-color: #fffbe5; border: 1px #fff3b2 solid; padding: 15px; margin-bottom: 15px;}


