/* If you want FULL SCREEN THEN USE THIS ON THE PAGE YOU NEED IT FOR.
.index_users #main { margin: 1em 3em 0 3em; }
.index_users #left { width: 100%;}
.index_users #sidebar { width: 0;}*/

.hover{background-color:#EFEBE3; cursor: pointer;}
.active_link {color:#888; text-decoration:none; cursor:default; }

/* Ajax :: Messages */
/******************************************************************/
.ajax-message h1, .ajax-message h2, .ajax-message h3{color:#fff; font-weight:bold;}

/* Flash Messages */
/******************************************************************/
.flash_message {width: 97%;padding: 1.2em 0 1.2em .7em; margin-bottom: 10px;}
.flash_message .icon{width: 16px;float: left; margin-right: .3em;}

/* Placeholder Text */
/******************************************************************/
input.placeholder { color: #999; }
textarea.placeholder { color: #999; }
:-moz-placeholder{color:#999999;}
::-webkit-input-placeholder{color:#999999;}

/* Pagination */
/******************************************************************/
/* ORANGE - #CF7019 */
.pagination { padding: 3px; margin: 10px 0 10px 0; }
.pagination a, .pagination span{white-space: nowrap; font-weight:bold;}
.pagination a {height: 60px;line-height: 40px; padding: 5px 8px 5px 8px;margin: 2px;border: 1px solid #ccc;background: #f7f7f7;color: #555;text-decoration: none;}
.pagination a:hover, .pagination a:active {border: 1px solid #aaa;color: #111;}
.pagination em.current {padding: 5px 8px 5px 8px;margin: 2px;border: 1px solid #444;font-weight: bold;font-style: normal;background-color: #555;color: #fff;}
.pagination span.disabled {padding: 5px 8px 5px 8px;margin: 2px;border: 1px solid #eee;color: #aaa;}

/* ToolTips
-----------------------------------------------------------------------------*/
.tooltip{cursor:pointer;}


/* ClearFix */
/******************************************************************/
.clearfix:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
* html .clearfix{height:1%;}

/* Hidden and Display
-----------------------------------------------------------------------------*/
.hide {display:none;}
.show {display:block;}

/* Separators
-----------------------------------------------------------------------------*/
.link_separator{padding: 0 10px;}
.separator{margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;}

/* Sidebar :: Action Links
-----------------------------------------------------------------------------*/
#sidebar ul.action_links { padding: 0 0 10px 0; }
#sidebar ul.action_links .button { min-width: 200px;}

/* Dialog :: Layout
-----------------------------------------------------------------------------*/
.qtip-dialog {min-width: 680px; max-width:680px; min-height: 425px; }
.qtip-content{overflow:auto; max-height: 425px;}
.dialog {overflow:auto; display:none; }
.dialog .wrapper { padding: 15px; color: #222; }
.dialog .title{float:left;}
.dialog .action_links{float:right;text-align: right;font-size: 11px; font-weight: bold; }

/* Box :: Layout :: Forms
-----------------------------------------------------------------------------*/
.box{padding: 15px; margin-bottom: 15px; border-style: solid; border-width: 1px;border-color: #ccc;background-color: none;}
.box.hide{display: none;}
.box.red{border-color: #f07280;background-color:#faced3;}
.box.green{border-color: #90e674;background-color:#d5f6ca;}
.box.orange{border-color: #f9d36f; background-color:#fdf1d0;}
.box.blue{border-color: #74afe3;background-color:#c9e0f4;}
.box h2{border: none;}
.box h3{border: none;}
.box:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Sections :: Headings
-----------------------------------------------------------------------------*/
.section_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto; border-top-style: solid; border-top-width: 1px;border-bottom-style: solid; border-bottom-width: 1px;border-color: #ccc;background-color: none;}
.section_heading.no_borders{border-top-width: 0px;border-bottom-width: 0px;}
.section_heading.red{border-color: #f07280;background-color:#faced3;}
.section_heading.green{border-color: #90e674;background-color:#d5f6ca;}
.section_heading.orange{border-color: #f9d36f; background-color:#fdf1d0;}
.section_heading.blue{border-color: #74afe3;background-color:#c9e0f4;}
.section_heading h2{float:left;}
.section_heading .links{float:right; text-align: right;padding-top:5px;}
.section_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* Page Headings
-----------------------------------------------------------------------------*/
.page_heading{ margin: -1em -1em 1em -1em; padding: 1em;}
.page_heading.gray{background-color: #f5f5f5;border-bottom:1px solid #eee;}
.page_heading.blue {background-color: #edf3fe;border-bottom:1px solid #eee;}
.page_heading.red{background-color:#faced3;border-bottom:1px solid #eee;}
.page_heading h1{width:100%; }
.page_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Section Heading
-----------------------------------------------------------------------------*/
.section_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto; }
.section_heading.no_borders{border-top-width: 0px;border-bottom-width: 0px;}
.section_heading.red{border-color: #f07280;background-color:#faced3;}

/* Circles :: Capacity
-----------------------------------------------------------------------------*/
.circle{ border-style: solid; border-width: 1px;-moz-border-radius:75px;-webkit-border-radius: 75px; border-radius: 75px;}
.circle.large{height: 100px; width: 100px; text-align:center; line-height: 100px;}
.circle.medium{height: 60px; width: 60px; text-align:center; line-height: 60px;}
.circle.small{height: 15px; width: 15px;text-align:center; line-height: 15px;}
.circle.red{border-color: #f07280;background-color:#faced3;}
.circle.yellow{border-color: #f9d36f; background-color:#fdf1d0;}
.circle.green{border-color: #90e674;background-color:#d5f6ca;}


/* Shelter Kill/No Kill Bubble
-----------------------------------------------------------------------------*/
.shelter_type{width: 150px; text-align: center;color: #000; font-size:12px;letter-spacing:0px; font-weight: bold;padding:10px; border-style: solid; border-width: 1px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.shelter_type.kill{border-color: #f07280;background-color:#faced3;}
.shelter_type.no_kill{border-color: #90e674;background-color:#d5f6ca;}

/* File Uploader
-----------------------------------------------------------------------------*/
.fileupload-message {margin-top:-5px; margin-bottom:5px; font-weight:bold; color:#ee3124; }

/* Stats
-----------------------------------------------------------------------------*/
.stats{padding:15px 0;}
.stats:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* Counts by Status List :: Layout
-----------------------------------------------------------------------------*/
.counts_by_status_list { width: 100%; border-top: 1px #bbb dotted; padding-bottom: 30px; }

.counts_by_status{clear:both;width: 100%; display:inline-block; line-height: 30px; text-align:left;border-bottom: 1px dotted #bbb;}
.counts_by_status.hover{cursor:default;}

	.counts_by_status .status{display:inline-block; width: 30%; font-weight: bold;}
	.counts_by_status .count{display:inline-block; width: 10%; }

/* Counts Sections :: Dashboard
-----------------------------------------------------------------------------*/

.count_sections:after{ content:"\0020"; display:block; height:50px; clear:both; visibility:hidden; overflow:hidden; }
.count_sections div {float:left;margin-right:4%; padding: 10px 30px;width:auto;text-align:center;
	-moz-border-radius: 10px; -webkit-border-radius: 10px;border-radius: 10px; border: 1px #ddd solid;}
.count_sections h2 {padding-bottom: 5px; margin:0; font-weight: bold;}
.count_sections h2.euthanized_color {color:red;}
.count_sections p {color:black;font-size: 12px; letter-spacing: -1px;}
