<h2>User Info</h2>
<div id="update_user" class="section">
	<div id="update_user_errors"></div>
	<%= render "form_update_user", :user => user %>
</div>

<% if user == current_user %>
	<h2>Change Password</h2>
	<div id="change_password" class="section">
		<div id="change_password_errors"></div>
		<%= render "form_change_password", :user => user %>
	</div>
<% end %>

<% if can?(:destroy, User) %>
	<h2>Delete User</h2>
	<div class="section">
		<% if user.role == "owner" %>
			<p>Owner can not be deleted</p>
		<% elsif user == current_user %>
			<p>Can not delete your own User</p>
		<% else %>
			<%= link_to "Delete User", user, :method => :delete, :confirm => "Are you sure?", :remote => true %>
		<% end %>
	</div>
<% end %>