<% unless @comments.blank? %>
	$('#comments').html( "<%= escape_javascript( render @comments ) %>" );
<% else %>
	$('#commments').html( "<div class='no_results'><h2>No comments found</h2></div>" );
<% end %>

// Google Anayltics
<% if Rails.env.production? %>
  _gaq.push(['_trackPageview', "/placements/find_comments"]);
<% end %>

