<ul class="submenu">
	<li><a class="<%=sub_navigation(:why_shelter_exchange)%>" href="/why_shelter_exchange/">Overview</a></li>
	<li><a class="<%=sub_navigation(:problems_and_solutions)%>" href="/why_shelter_exchange/problems_and_solutions/">Problems & Solutions</a></li>
	<li><a class="<%=sub_navigation(:partners)%>" href="/why_shelter_exchange/partners/">Partners</a></li>
	<li><a class="<%=sub_navigation(:faqs)%>" href="/why_shelter_exchange/faqs/">FAQs</a></li>
</ul>