<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
		#email_logo { width: 100%; text-align:center; margin:0 auto;}
		#email_logo img{text-align:center; margin:0 auto;}
		h3{letter-spacing: -1px;padding:10px 0 0 0; margin:0;}
		ul{list-style-type:none;padding:0;margin:0;}
		li{padding-bottom: 0;}
		.additional_notes{padding: 10px 0;}
		.closing{padding-top:5px;}
		.closing p{padding-bottom: 10px;}
	</style>
</head>
<body>

	<div id="email_logo">
		<%= image_tag attachments['logo_email.jpg'].url -%>
	</div>

	<p>Hi <%= @user.first_name %>,</p>

  <p>Thank you for signing up to use Shelter Exchange, I hope our application brings your organization
  many benefits and much success with saving the lives of the animals in your care.</p>

  <p>Please note! Here is your personal URL that provides you direct access to sign in to Shelter Exchange.
  We strongly recommend that you bookmark this URL for ease of use to sign in:</p>

	<p><%= link_to "#{root_url(:subdomain => @account.subdomain)}", root_url(:subdomain => @account.subdomain) %></p>

  <p>The adoptable animals you enter into the Shelter Exchange application will be available on our
  public website under the heading <a href="http://www.shelterexchange.org/save_a_life">Save a Life</a>. Here you can gain additional
  exposure from the public to promote adoptions at your facility and we also provide sharing buttons
  for each animal using Facebook, Twitter and Pinterest.</p>

  <p>Shelter Exchange have partnered with <a href="http://www.petfinder.com">Petfinder.com</a> and <a href="http://www.adoptapet.com">Adopt-a-pet.com</a> to provide simple
  automatic uploading of animals to their sites. You can implement the automatic uploads by following the directions here:</p>

  <ul>
    <li>Petfinder - <a href="http://help.shelterexchange.org/help/kb/community-sharing/upload-animals-to-petfinder">http://help.shelterexchange.org/help/kb/community-sharing/upload-animals-to-petfinder</a></li>
    <li>Adopt-a-pet - <a href="http://help.shelterexchange.org/help/kb/community-sharing/upload-animals-to-adopt-a-petcom">http://help.shelterexchange.org/help/kb/community-sharing/upload-animals-to-adopt-a-petcom</a></li>
  </ul>

  <p>Also, once you have signed in to the application you will notice a button called <strong>Community</strong>.
  Here you can view all shelters and rescue groups currently using Shelter Exchange and the animals they have
  available. This information is only available to shelters and rescue groups that are using Shelter Exchange, as we
  provide an insight into all animals in need, not just those available for adoption. We encourage you to visit this
  section often if you can help take in other animals to your facility. This is where we display animals with the
  greatest needs or the shortest time to live. Additionally if you have animals that you need to share with other
  groups please ensure you enter them in under the correct status. (For example, a hard behavioral case would be
  best served as a 'Rescue Candidate.' This informs other rescues that the animal needs assistance and would make
  an ideal candidate for a rescue group.)</p>

  <p>We have various help documents that can be found by clicking the Help button at the top right section of the
  application window. Here is our Getting Started section to assist with setting up:</p>

	<p><a href="http://help.shelterexchange.org/help/kb/getting-started">http://help.shelterexchange.org/help/kb/getting-started</a></p>

	<p>If you have any questions, suggestions or problems please feel free to post them on our forum discussions board and we will answer as soon as we can!</p>

	<p><a href="http://help.shelterexchange.org/help/discussions">http://help.shelterexchange.org/help/discussions</a></p>


	<div class="closing">
		<p>Kind regards,</p>
		<br />
		Claire Bokor<br />
		Founder & President<br />
		Shelter Exchange<br />
		Email: <a href="mailto:claire.bokor@shelterexchange.org?subject=Welcome Email">claire.bokor@shelterexchange.org</a><br />
		<a href="http://www.shelterexchange.org">www.shelterexchange.org</a><br />
		<p>Follow us on Facebook! <a href="http://www.facebook.com/shelterexchange">http://www.facebook.com/shelterexchange</a></p>
	</div>
</body>
</html>
