<% if ENV["RAILS_ENV"] == 'development' %>
	<div id="debug">
		<div class="params">
			<h4>Params</h4>
			<%= debug(params) %>
		</div>
		<div class="session">
			<h4>Session</h4>
			<%= debug(session) %>
		</div>
		<!--<div class="request">
			<h4>Request</h4>
			<%= debug(request) %>
		</div>
		<div class="env">
			<h4>Env</h4>
			<%= debug(request.env) %>
		</div>-->
	</div>
<% end %>