<!--[if lt IE 7]>
	<div id="ie6_warning" class="content ie6_warning">
		<h2>Time to upgrade your browser!</h2>
	 	<p>If you receive this message you maybe accessing the internet using Internet Explorer 6 (or earlier), which is a 10 year old browser that cannot cope with the demands of the modern internet.</p>
		<p>This website has not been tested for compatibility with this browser, so your results may vary.</p>
		<p>For the best web experience, we strongly recommend upgrading to <a href="http://www.getfirefox.com/">Firefox</a>, <a href="http://www.apple.com/safari/">Safari</a>, <a href="http://www.google.com/chrome">Google Chrome</a>, or a more recent version of <a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">Internet Explorer</a>.</p>
	</div>
<![endif]-->