<%= content_for :javascripts do %>
	
<% end %>

<p>Web-based calendar that manages your schedule and shared
resources. Sync appointments with friends and colleagues, schedule
appointments with local businesses, and much more.Web-based calendar that manages your schedule and shared
resources. Sync appointments with friends and colleagues, schedule
appointments with local businesses, and much more.Web-based calendar that manages your schedule and shared
resources. Sync appointments with friends and colleagues, schedule
appointments with local businesses, and much more.</p>

<h2>Account URL</h2>
<p>Below is your organization's main access URL. Please remember to Bookmark this URL as it will be required each time your Log in.</p>
<div class="section">
	<p><code><%= full_url %></code></p>
</div>