<%= content_for :javascripts do %>
	
<% end %>

<p>The Account Settings section is a place for extra settings for your application where you can change the owner of the application, enable Web Access, or connect with other Services like Adopt a Pet.</p>

<h2>Account URL</h2>
<p>Your organization's main access URL. Please remember to Bookmark this URL as it will be required each time your Log in.</p>
<div class="section">
	<p><code><%= full_url %></code></p>
</div>