<%= content_for :javascripts do %>
	
<% end %>

<!-- <p>The Account Settings section provides you with additional options to make changes within your application. You can use the tabs above to change the owner of this application, to enable web access and to connect to other services such as Adopt-a-Pet.</p> -->
<p>The Account Settings section provides you with additional options to make changes within your application. You can use the tabs above to change the owner of this application or to enable web access.</p>

<h2>Account URL</h2>
<p>Your organization's main access URL. Please remember to Bookmark this URL as it will be required each time your Log in.</p>
<div class="section">
	<p><code><%= full_url %></code></p>
</div>