<%= title "New Account Registered" %>

<%= content_for :page_content do %>
	<div class="page_heading">
		<h1>Welcome <%= @account.shelters.first.name %></h1>
	</div>

	<div class="page_content">
		<p>Thank you for registering and joining the Shelter Exchange community!</p><br />
		<p>Please check your email to confirm your account and to invite other staff members to join Shelter Exchange.</p>
	</div>
<% end %>

<%= content_for :sidebar do %>
	
<% end %>