<div id="dialog_contact_search" class="dialog">
	<div class="wrapper">
		<%= form_for :contacts, :url => { :action => :find_by_full_name, :controller => :contacts },
		             :remote => true, :format => :js, :html => { :id => "form_contact_search", :method => :get } do |f| %>
      <h2>Search for contact:</h2>
  		<%= text_field_tag "q", ""  %>
			<%= f.submit "Go", :disable_with => "..." %>
    <% end %>

    <div id="contacts"></div>

    <input type="hidden" id="status_history_id">
  </div>
</div>
