<% unless @animals.blank? %>
	$('#animals').html( "<%= escape_javascript( render 'animals/animal_list', :animals => @animals) %>" );
<% else %>
	$('#animals').html( "<div class='no_results'><h2>No Animals found</h2></div>" );
<% end %>

// Google Anayltics
if (typeof(_gaq) != "undefined") { _gaq.push(['_trackPageview', "/animals/find_by_name"]); }
