<% unless @animals.blank? %>
	$('#animals').html( "<%= escape_javascript( render :partial => 'animal_list') %>" );
<% else %>
	$('#animals').html( "<div class='no_results'><h2>No Animals found</h2></div>" );
<% end %>