<% unless @animals.blank? %>
	$('#animals').html( "<%= escape_javascript( render 'animal_list', :animals => @animals) %>" );
<% else %>
	$('#animals').html( "<div class='no_results'><h2>No Animals found</h2></div>" );
<% end %>

// Google Anayltics
<% if Rails.env.production? %>
  _gaq.push(['_trackPageview', "/animals/search"]);
<% end %>

