* { margin: 0; padding: 0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}

/*html, body { margin:0; padding:0; height: 100%; }*/
body { background-color: #fff; color: #222; width:95%;margin: 0 auto;
	   font: normal 13px "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Tahoma, sans-serif; min-width: 960px; -webkit-text-size-adjust:none;}

/*********************************************************/
/* ---------------------- GLOBAL ----------------------- */
/*********************************************************/
h1, h2, h3, h4, h5 { font-weight: bold; color:#000; letter-spacing: -1px; margin-bottom: 10px;  }
p{ margin-bottom: 15px; }
a, img { border: none; outline: none; }

code,code pre,kbd {font: normal 12px  Monaco, Consolas, 'Lucida Console', 'Courier New', Courier, monospace; /*Consolas, InconsolataMedium, Courier, 'Courier New', Monaco, monospace;*/}


/*
Shelter Exchange Letters - #cf7019
Dog House Roof - #f26649
Dog House Sides - #db8d4a
*/

/* ClearFix */
/******************************************************************/
.clearfix:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
* html .clearfix{height:1%;}


/***********************************************************************/
/* -------------------------- Page Layouts --------------------------- */
/***********************************************************************/

/* Main */   
/******************************************************************/
#main{text-align: left;}
#main #content .page_heading{padding: 0em 0em 1em 0em;/*padding: 1.5em 1.5em 1em 1.5em;*/ margin:0 auto;}
#main #content .page_content{/*padding: 1em 1.5em 1em 1.5em;*/ margin:0 auto;}
#main:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Footer */   
/******************************************************************/
#footer { width: 100%; height: 100px; padding: 0; margin:0 auto;}
#footer img{float:left;}
#footer h5{float:left;padding-left:5px;line-height:65px;}
#footer:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Pagination */   
/******************************************************************/
.pagination{display:none;}

/* ToolTips
-----------------------------------------------------------------------------*/
.tooltip{display:none;}

/* Flash Messages */   
/******************************************************************/
.flash_message {width: 97%;padding: 1.2em 0 1.2em .7em; margin-bottom: 10px;}
.flash_message .icon{width: 16px;float: left; margin-right: .3em;}

/* Button */   
/******************************************************************/
.button {
	min-width: 100px;
	padding: 6px 12px;
	margin-bottom: 5px;
	display: inline-block;
	*display:inline;
	position: relative;
	border: 1px solid #999;
	
	background-color: #e0e0e0; 
	/*background-size: 100% 100%; */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(0.5,#f0f0f0),color-stop(0.5,#e0e0e0),color-stop(1,#d7d7d7)); 
   	background-image: -webkit-linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%); 
	background-image:    -moz-linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%); 
	background-image:     -ms-linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%); 
	background-image:      -o-linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%); 
	background-image:         linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%); 
	
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	border-radius: 6px;
	
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
	
	text-shadow: rgba(255, 255, 255, 0.746094) 0px 1px;
	
	color: #444;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	
	text-decoration: none!important;
	text-align: center;
}

.button:hover {
	cursor: pointer;
	color: #CF7019;
}

.button:active,.button.depressed {
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
	border-top-color: #888;
	background-image: -moz-linear-gradient(top,#ccc,#f0f0f0);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ccc),color-stop(1,#f0f0f0));
}

.button.disabled,.button.disabled:hover,.button.disabled:active {
	cursor: default;
	text-shadow: rgba(255,255,255,0.3) 0 1px 0;
	color: #aaa;
	background-image: -moz-linear-gradient(center top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%)!important;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(0.5,#f0f0f0),color-stop(0.5,#e0e0e0),color-stop(1,#d7d7d7))!important;
	background-image: -webkit-linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%)!important;
	background-image: linear-gradient(top,#fff 0,#f0f0f0 50%,#e0e0e0 50%,#d7d7d7 100%)!important;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
}

.button.blue {
	border-color: #2b4887;
	border-bottom-color: #1447a1;
	background-color:#2c8fff;
	background-image: -moz-linear-gradient(center top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#6bbeff),color-stop(0.5,#2c8fff),color-stop(0.5,#1471fb),color-stop(1,#0758f1));
	background-image: -webkit-linear-gradient(top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	background-image: linear-gradient(top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	color: #fff;
	text-shadow: #2b4887 0 1px 0;
}

body.firefox.mac .button.default {
	font-weight: normal;
}

.button.blue:hover {
	background-image: -moz-linear-gradient(center top,#8ccdff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#8ccdff),color-stop(0.5,#2c8fff),color-stop(0.5,#1471fb),color-stop(1,#0758f1));
	background-image: -webkit-linear-gradient(top,#8ccdff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
	background-image: linear-gradient(top,#8ccdff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%);
}

.button.blue.depressed,.button.blue:active {
	border-top-color: #1a2b51;
	background-image: -moz-linear-gradient(center top,#0057f0 0,#2c8fff 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#0057f0),color-stop(1,#2c8fff));
	background-image: -webkit-linear-gradient(top,#0057f0 0,#2c8fff 100%);
	background-image: linear-gradient(top,#0057f0 0,#2c8fff 100%);
}

.button.blue.disabled,.button.blue.disabled:hover {
	background-image: -moz-linear-gradient(center top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%)!important;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#6bbeff),color-stop(0.5,#2c8fff),color-stop(0.5,#1471fb),color-stop(1,#0758f1))!important;
	background-image: -webkit-linear-gradient(top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%)!important;
	background-image: linear-gradient(top,#6bbeff 0,#2c8fff 50%,#1471fb 50%,#0758f1 100%)!important;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	border-color: #2b4887!important;
	border-bottom-color: #1447a1!important;
	color: #1447a1!important;
	text-shadow: #288eff 0 1px 0!important;
}

.button.red {
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
	border: 1px solid #b5180c;
	border-bottom-color: #7d0d05;
	background-color:#ff343c;
	background-image: -moz-linear-gradient(center top,#ff6161 0,#ff343c 50%,#e60000 50%,#be0006 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ff6161),color-stop(0.5,#ff343c),color-stop(0.5,#e60000),color-stop(1,#be0006));
	background-image: -webkit-linear-gradient(top,#ff6161 0,#ff343c 50%,#e60000 50%,#be0006 100%);
	background-image: linear-gradient(top,#ff6161 0,#ff343c 50%,#e60000 50%,#be0006 100%);
}

.button.red:hover {
	background-image: -moz-linear-gradient(center top,#f88 0,#ff343c 50%,#e60000 50%,#be0006 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f88),color-stop(0.5,#ff343c),color-stop(0.5,#e60000),color-stop(1,#be0006));
	background-image: -webkit-linear-gradient(top,#f88 0,#ff343c 50%,#e60000 50%,#be0006 100%);
	background-image: linear-gradient(top,#f88 0,#ff343c 50%,#e60000 50%,#be0006 100%);
}

.button.red.depressed,.button.red:active {
	border-top-color: #760000;
	background-image: -moz-linear-gradient(center top,#b00 0,#f00 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#b00),color-stop(1,#f00));
	background-image: -webkit-linear-gradient(top,#b00 0,#f00 100%);
	background-image: linear-gradient(top,#b00 0,#f00 100%);
}

.button.red.disabled {
	color: #900000!important;
	text-shadow: rgba(255,255,255,0.3) 0 1px 1px;
	border-color: #d90000!important;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#ff7575),color-stop(100%,#d10000))!important;
	background-image: -moz-linear-gradient(top,#ff7575 0,#d10000 100%)!important;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
}

.button.green {
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
	border: 1px solid #02901f;
	border-bottom-color: #027419;
	background-color:#02901f;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#43da62),color-stop(100%,#02901f));
	background-image: -moz-linear-gradient(top,#43da62 0,#02901f 100%);
}

.button.green:hover {
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#48ea69),color-stop(100%,#02901f));
	background-image: -moz-linear-gradient(top,#48ea69 0,#02901f 100%);
}

.button.green.depressed,.button.green:active {
	border-top-color: #036b17;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#02901f),color-stop(100%,#43da62));
	background-image: -moz-linear-gradient(top,#02901f 0,#43da62 100%);
}

.button.green.disabled {
	color: #027419;
	text-shadow: rgba(255,255,255,0.3) 0 1px 1px;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#43da62),color-stop(100%,#02901f))!important;
	background-image: -moz-linear-gradient(top,#43da62 0,#02901f 100%);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3)!important;
	border-color: #02901f!important;
}





/* Toggle Buttons */   
/******************************************************************/
ul.toggle_buttons{
	background-color: #FEFEFE; 
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FEFEFE), to(#DDD)); 
   	background-image: -webkit-linear-gradient(top,  #FEFEFE,  #DDD); 
	background-image:    -moz-linear-gradient(top,  #FEFEFE,  #DDD); 
	background-image:     -ms-linear-gradient(top,  #FEFEFE,  #DDD); 
	background-image:      -o-linear-gradient(top,  #FEFEFE,  #DDD); 
	background-image:         linear-gradient(top,  #FEFEFE,  #DDD); 
	
	border: 1px solid #D4D4D4;
	border-radius: 3px 3px;
	-webkit-border-radius: 3px 3px;
	-moz-border-radius: 3px 3px;
	border-left-color: #D4D4D4;
	border-top-color: #D4D4D4;
	color: #555;
	display: inline-block;
	margin: 0;
	min-width: 24px;
	padding: 0px;
	vertical-align: middle;
}
ul.toggle_buttons li{
	display: block;
	float: left;
	line-height: 100%;
	margin: 0px;
}
ul.toggle_buttons li a {
	border-left: 1px solid rgba(0, 0, 0, 0.199219);
	color: #555;
	display: block;
	float: left;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	line-height: 100%;
	padding: 6px 12px;
	text-align: center;
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(255, 255, 255, 0.746094) 0px 1px;
	text-transform: uppercase;
}

/* IE Hack :: Toggle Buttons :: Toggle Button Fix */   
/******************************************************************/
.ie7 ul.toggle_buttons,
.ie8 ul.toggle_buttons {background-color: #F3F3F3; }
.ie7 ul.toggle_buttons li a,
.ie8 ul.toggle_buttons li a  {border-left: 1px solid #bbb;}

ul.toggle_buttons li:first-child a{border-left: 0px;}
ul.toggle_buttons li a.current {
	background-color: rgba(0, 111, 187, 0.0976562);
	border-left-color: rgba(0, 111, 187, 0.296875);
	color: #006FBB;
}

/* IE Hack :: Toggle Buttons :: Toggle Button Fix */   
/******************************************************************/
.ie7 ul.toggle_buttons li a.current,
.ie8 ul.toggle_buttons li a.current  {background-color: #dde7ef;}

ul.toggle_buttons li a:hover{color: #CF7019;}



/* Print Layout :: Page Break
-----------------------------------------------------------------------------*/
.page_break{}
.page_break span{ display:block; border-bottom: 1px #bbb dotted; height:1px; width: 100%; padding-bottom: 10px;margin: 10px 0; font-size: 10px; color: #999; text-align:center;}


/* Box :: Layout :: Forms
-----------------------------------------------------------------------------*/
.box{padding: 15px; margin-bottom: 15px; border-style: solid; border-width: 1px;border-color: #ccc;background-color: none;}
.box.hide{display: none;}
.box.red{border-color: #f07280;background-color:#faced3;}
.box.green{border-color: #90e674;background-color:#d5f6ca;}
.box.orange{border-color: #f9d36f; background-color:#fdf1d0;}
.box.blue{border-color: #74afe3;background-color:#c9e0f4;}
.box h2{border: none;}
.box h3{border: none;}
.box:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }



/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/

/* Sections :: Headings
-----------------------------------------------------------------------------*/
.section_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto; border-top-style: solid; border-top-width: 1px;border-bottom-style: solid; border-bottom-width: 1px;border-color: #ccc;background-color: none;}
.section_heading.no_borders{border-top-width: 0px;border-bottom-width: 0px;}
.section_heading.red{border-color: #f07280;background-color:#faced3;}
.section_heading.green{border-color: #90e674;background-color:#d5f6ca;}
.section_heading.orange{border-color: #f9d36f; background-color:#fdf1d0;}
.section_heading.blue{border-color: #74afe3;background-color:#c9e0f4;}
.section_heading h2{float:left;}
.section_heading .links{float:right; text-align: right;padding-top:5px;}
.section_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* Page Headings
-----------------------------------------------------------------------------*/
/*.page_heading{ margin: -1em -1em 1em -1em; padding: 1em;}*/
.page_heading.gray{background-color: #f5f5f5;border-bottom:1px solid #eee;}
.page_heading.blue {background-color: #edf3fe;border-bottom:1px solid #eee;}
.page_heading.red{background-color:#faced3;border-bottom:1px solid #eee;}
.page_heading h1{width:100%; }
.page_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Section Heading
-----------------------------------------------------------------------------*/
.section_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto; }
.section_heading.no_borders{border-top-width: 0px;border-bottom-width: 0px;}
.section_heading.red{border-color: #f07280;background-color:#faced3;}




/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/

/* Print Animals :: General Page Layout
-----------------------------------------------------------------------------*/
.print_animals ul{list-style:none;}
.print_animals ul li{padding-bottom: 10px;}
.print_animals .page_content { font-size: 14px;}

/* Print Animals :: Print Options Layout
-----------------------------------------------------------------------------*/
.print_animals .print_options{ padding:20px 0 10px 0; margin-bottom:10px; border-bottom: 1px #ccc dotted;}
.print_animals .links{width:100%; margin:0 auto; padding-bottom:10px; text-align:center;}
.print_animals .link{padding-right: 40px;}
.print_animals #note_categories{padding: 5px 0 0 35px;}


/* Print Animals :: Page Layout
-----------------------------------------------------------------------------*/
.print_animals table.animal{width:100%;}
.print_animals table.animal td{vertical-align:top;width:50%;}
.print_animals table.animal td.status{text-align:right;}
.print_animals table.animal td.shelter{text-align:right;padding-top:8px;}
.print_animals table.animal td h1 {}
.print_animals table.animal td h1 span{font-size:14px;padding-left:25px;position:relative;top:-3px;}
.print_animals table.animal td p {font-size: 16px;font-weight: bold; letter-spacing:-1px;color:#000;}



/* Print Animals :: Page Layout
-----------------------------------------------------------------------------*/
.print_animals h1 .status{font-size: 15px;font-weight: bold; letter-spacing:-1px;color:#f16649;position:absolute; right:0; top: 10px;}
.print_animals h3{overflow:auto;border-bottom: 1px #bbb dotted; font-weight: bold; padding-bottom:5px; margin-bottom:10px;}

.print_animals .animal_details{}
.print_animals .animal_details:after{ content:"\0020"; display:block; height:0px; clear:both; visibility:hidden; overflow:hidden; }
.print_animals .animal_details ul{text-align:left;padding-bottom: 10px;}
.print_animals .animal_details ul li{ padding-bottom: 0;}
.print_animals .animal_details ul.details li {display:inline-block; width: 200px;}
.print_animals .animal_details ul li p{padding-bottom: 15px;margin:0;}
.print_animals .animal_details ul p span{padding-left: 8px;}

.print_animals .animal_details .type{font-size: 15px;font-weight: bold; letter-spacing:-1px;color:#222;padding-bottom: 20px;}

.print_animals .animal_details .media{float:right;width: 500px;margin-left:15px;}
.print_animals .animal_details .media img {-webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;}



/* Save a Life :: Show Page (Animal Page) :: IE :: Animal Img Fix :: PIE */
/******************************************************************/
.ie7 .print_animals .animal_details .media img,
.ie8 .print_animals .animal_details .media img {behavior: url(/stylesheets/global/pie/PIE.htc);}


/* Print Animals :: Shelter Details :: Layout
-----------------------------------------------------------------------------*/
.print_animals #shelter_details{padding-bottom: 20px;}
.print_animals #shelter_details li{padding-bottom: 5px;}
.print_animals #shelter_details h2 span{position:absolute;letter-spacing: 0px; margin-top: -2px;font-size: 14px;padding-left: 20px;}
.print_animals #shelter_details .logo{float:right; text-align:right;}
.print_animals #shelter_details .address_info{width: 860px;}
.print_animals #shelter_details .action_links span,
.print_animals #shelter_details .action_links a{padding-right: 8px;}
.save_a_life #shelter_details h1 {color: #CCC;height: 100px;line-height: 100px;margin: 0 auto;text-align: center;}
.print_animals .animal_shelter{border-top: 1px #bbb dotted; padding-top: 20px; margin-top: 10px;
border-bottom: 1px #bbb dotted;  margin-bottom: 10px;}



/******************************************************************/
/* -------------------------- NOTES  -------------------------- */
/******************************************************************/


/* Notes List :: Layout */
/******************************************************************/
.note_list {border-top: 1px dotted #ccc; padding-bottom: 20px;}
.note_list h3{}
.note {width: 100%; display:inline-block; line-height: 40px;text-align:left;border-bottom: 1px dotted #bbb; }

.note .created_date {display:inline-block; width: 5%;color:#666; font-size: 10px; letter-spacing: -1px;  }
.note .details{display:inline-block; width: 90%; vertical-align:top; padding-left: 5px;}
	.note .title {display:inline-block;font-weight: bold;font-size: 15px; line-height: 1.75em; padding-top:8px;}

.note .action_links {display:none;}

.note .description { clear:both; padding: 0 6%; width: 92%; line-height: 2em;}




