<style type="text/css" media="screen">
	#email_logo { width: 100%; text-align:center; margin:0 auto;}
	#email_logo img{text-align:center; margin:0 auto;}
	h3{letter-spacing: -1px;padding:10px 0 0 0; margin:0;}
	ul{list-style-type:none;padding:0;margin:0;}
	li{padding-bottom: 0;}
	.additional_notes{padding: 10px 0;}
	.closing{padding-top:5px;}
	.closing p{padding-bottom: 10px;}
</style>

<div id="email_logo">
	<%= image_tag attachments['logo_email.jpg'].url -%>
</div>

<p>Congratulations! The transfer request for <%=@animal.name%> has been completed by <%=@shelter.name%> and the animal record in Shelter Exchange has been transferred to your shelter. You can now edit and update this record.  Please view the 'Animals' section within Shelter Exchange or search by animal name to view this record.</p>

<% unless @transfer_history_reason.blank? %><p class="additional_notes">Additional note: <strong><%=@transfer_history_reason%></strong></p><% end %>

<div class="closing">
	<p>Many thanks,</p>
	<p>Shelter Exchange Team</p>
</div>