<%= title "Error - 404" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading red">
		<h1>Not found</h1>
	</div>
		
	<div class="page_content red">
		<p>The page you were looking for doesn't exist.  You may have mistyped the address or the page may have moved.</p>
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>