<%= title "Currently disabled for maintenance" %>

<%= content_for :javascripts do %><% end %>

<%= content_for :page_content do %>

<div class="page_heading blue">
  <h1>Currently under maintenance</h1>
</div>

<div class="page_content">

  <div>
    <p>Sorry! We currently have the site down for maintenance</p>
  </div>
</div>

<% end %>

<%= content_for :sidebar do %><% end %>

