<%= title "Error - Shelter Suspended" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading red">
		<h1>Shelter Suspended</h1>
	</div>
		
	<div class="page_content red">
		<p>Your access to Shelter Exchange is currently suspended. Accounts are only suspended when the terms of service are breeched, or you are suspected of breeching the terms of service. We may require your cooperation to re-active your account in the future. We apologize for any inconvenience.</p>
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>