<%= title "Error - Account Suspended" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading red">
		<h1>Account Suspended</h1>
	</div>
		
	<div class="page_content red">
		<p>Your access to Shelter Exchange is currently suspended. Accounts are suspended when either the terms of service are breeched or there have been a long period of inactivity and animals have not been updated. If you wish to re-active your account please contact us - <a href="mailto:info@shelterexchange.org">info@shelterexchange.org</a> We apologize for any inconvenience.</p>
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>