<%= title "Error - Account Cancelled" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading red">
		<h1>Account Cancelled</h1>
	</div>
		
	<div class="page_content red">
		<p>Your access to Shelter Exchange is no longer available. Accounts are removed if you have requested that we cancel your account. If you wish to re-active your account please contact us - <a href="mailto:info@shelterexchange.org">info@shelterexchange.org</a> We apologize for any inconvenience.</p>
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>