<%= title "Error - Unauthorized" %>

<%= content_for :javascripts do %>
<% end %>

<%= content_for :page_content do %>

	<div class="page_heading">
		<h1>Unauthorized</h1>
	</div>
		
	<div class="page_content">
		<p>You don't have access to perform this action.  Please contact your shelter administrator.</p>
	</div>
		
<% end %>

<%= content_for :sidebar do %>
<% end %>