* { margin: 0; padding: 0; }
html, body { margin:0; padding:0; height: 100%; }
body { background-color: #ccc; color:#434343; font: normal 13px 'Lucida Grande', verdana, arial, helvetica, sans-serif; min-width: 960px; }
/*
	green - #0aa509 or #08a026 or #1c9727 or #156333
	brown
	blue
	yellow
	red
*/
/*
RED  - background-color: #fce2ec; border:1px solid #f286b1;
BLUE - background-color:#e0f1fa; border:1px solid #89cbeb;
GREEN - background-color:#f1fce2; border:1px solid #c4f286;
YELLOW - background-color:#fffbe5; border:1px solid #fff3b2;
ORANGE - background-color:#fff6e5; border:1px solid #ffd27f;
PURPLE - background-color:#e6e0fa; border:1px solid #c3b4f3 or #9f89eb
*/
/*********************************************************/
/* ---------------------- GLOBAL ----------------------- */
/*********************************************************/
h1, h2, h3, h4, h5 { font-weight: bold; color:#000; letter-spacing: -1px; margin-bottom: 10px;  }
h1 {  }
h2 {  }
h3 {  }
h4 {  }
h5 {  }

p{ margin-bottom: 10px; }
img { border: none; outline: none; }
.center { margin: 0 auto; text-align: center; }
.left{text-align:left;}
.right{text-align:right;}
.clear { clear: both; }
/*a, img { border: none; outline: none; }
a:hover, a:selected { border: none; outline: none; }
*/

/* COLOR SPECIFICS */
.light_red{color:#fce2ec;}
.dark_red{color:#f286b1;}
.light_blue{color:#e0f1fa;}
.dark_blue{color:#89cbeb;}
.light_green{color:#f1fce2;}
.dark_green{color:#c4f286;}
.light_yellow{color:#fffbe5;}
.dark_yellow{color:#fff3b2;}
.light_orange{color:#fff6e5;}
.dark_orange{color:#ffd27f;}
.light_purple{color:#e6e0fa;}
.dark_purple{color:#c3b4f3;}

.red_border{border:1px solid #f286b1;}
.blue_border{border:1px solid #89cbeb;}
.green_border{border:1px solid #c4f286;}
.yellow_border{border:1px solid #fff3b2;}
.orange_border{border:1px solid #ffd27f;}
.purple_border{border:1px solid #c3b4f3;}

.red_background{background-color:#fce2ec; }
.blue_background{background-color:#e0f1fa; }
.green_background{background-color:#f1fce2; }
.yellow_background{background-color:#fffbe5; }
.orange_background{background-color:#fff6e5;}
.purple_background{background-color:#e6e0fa;}
  
/* COLOR SPECIFICS */
/******************************************************************/
#header { height: 80px; background-color: #333; margin: 0; padding: 0 0 0 3em; position:relative; }
#header #primary_nav ul { list-style: none; text-align: center; }
#header #primary_nav ul li { line-height:80px; float:left; width: 120px; color: #fff; }
#header #primary_nav ul li.current { color: #000; background-color: #fff; }
#header #primary_nav ul li.current a{ color: #000;font-weight:bold; }
#header #primary_nav ul li a {color:#fff; text-decoration:none;}
#header #primary_nav ul li a:active, #header #primary_nav ul li a:hover {color:#666;font-weight:bold;}
/*#header #primary_nav ul li:hover{background-color: #ccc; color:#666;font-weight:bold;}*/

#header #secondary_nav { position:absolute;/*bottom:0px; */right:20px; font-size: 11px;}
#header #secondary_nav ul { list-style: none; text-align: right;}
#header #secondary_nav ul li { line-height:80px; float:left; width: 85px;}
/*#header #secondary_nav ul li { float:left; width: 110px; height:35px;line-height:35px; color: #fff; background-color:green;margin-left:5px; border-top:1px #666 solid; border-right:1px #666 solid; border-left:1px #666 solid; }*/
#header #secondary_nav ul li.current { background-color: #ccc; }
#header #secondary_nav ul li.current a{ background-color: #ccc; color:#000;font-weight:bold;  }
#header #secondary_nav ul li a {color:#fff; text-decoration:none;}
#header #secondary_nav ul li:hover{/*background-color: #ccc; color:#666;font-weight:bold;*/ }
#header #secondary_nav ul li a:active, #header #secondary_nav ul li a:hover { color:#666;}

/*#header #current_user a{color:#fff; text-decoration:none; position:absolute; right: 20px; top:5px;}*/

#header:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/******************************************************************/
#main { margin: 1em 0 0 3em; }
#main:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/******************************************************************/
#left { float: left; width: 65%; background-color: #fff; margin: 0; padding: 0; position: relative; text-align: left;  }
#left #content {box-shadow: 0px 0px 6px #999; -moz-box-shadow: 0px 0px 6px #999; -webkit-box-shadow: 0px 0px 6px #999; }
#left #content .page_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto;}
#left #content .page_content{padding: 1em 1.5em 1em 1.5em; margin:0 auto;}

/******************************************************************/
#right { float: left; width: 35%; margin: 0px; padding: 0px; position: relative; text-align: left;  }
#right #sidebar { padding: 0 1.5em 0 1.5em; display: block; }

/******************************************************************/
#footer { width: 100%; height: 100px; padding: 10px 0 0 0; margin:0 auto; background-color: #ccc; }
#footer img{float:left;}
#footer h5{float:left;padding-left:5px;line-height:65px;}
#footer:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
/*************************************************************************/
/* -------------------------- AUTO COMPLETE  --------------------------- */
/*************************************************************************/
div.auto_complete { width: 350px; background: #fff; z-index:999; }
div.auto_complete ul{border:1px solid #888;margin:0;padding:0;width:100%;list-style-type:none;}
div.auto_complete ul li{margin:0;padding:3px;border-bottom:1px solid #eee;line-height:25px;height:25px;}
div.auto_complete ul li.selected{background-color:#ffb;}
div.auto_complete ul strong.highlight{color:#800;margin:0;padding:0;}


/******************************************************************/
/* ----------------------- ERROR MESSAGES ----------------------- */
/******************************************************************/
.notice{color:green;width:450px;border:2px solid green;padding:7px;margin:0px 0 10px 0;background-color:#f0f0f0;}
.notice h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;margin-bottom:5px;background-color:#f0f0f0;color:green;}
/******************************************************************/
.warning{color:yellow;width:450px;border:2px solid yellow;padding:7px;margin:0px 0 10px 0;background-color:#f0f0f0;}
.warning h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;margin-bottom:5px;background-color:#f0f0f0;color:yellow;}
/******************************************************************/
.info{color:blue;width:450px;border:2px solid blue;padding:7px;margin:0px 0 10px 0;background-color:#f0f0f0;}
.info h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;margin-bottom:5px;background-color:#f0f0f0;color:blue;}
/******************************************************************/
.error{color:red;width:450px;border:2px solid red;padding:7px;margin:0px 0 10px 0;background-color:#f0f0f0;}
.error h2{text-align:left;font-weight:red;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;margin-bottom:5px;background-color:#f0f0f0;color:red;}
/******************************************************************/
.field_with_errors{padding:1px;background-color:red;display:table;}
#error_explanation{width:96%;border:1px solid red;padding:7px 7px 0px 7px;margin:10px 0px 10px 0px;background-color:#f0f0f0;}
#error_explanation h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;margin-bottom:10px;background-color:#c00;color:#fff;}
#error_explanation ul{padding-top:5px;padding-bottom:20px;}
#error_explanation ul li{margin-left:25px;padding:5px 0px 5px 0px;font-size:12px;list-style:square;}

/******************************************************************/
/* -------------------------- DEBUG ----------------------------- */
/******************************************************************/
#debug{border-top:1px dashed #000; width: 100%; background: #eee; font-size:16px;}
#debug .params{padding: 1em;}
#debug .session, #debug .env, #debug .request {padding: 1em; border-top:1px dashed #000;}

/******************************************************************/
/* -------------------------- FORMS  --------------------------- */
/******************************************************************/
ul.form  { list-style: none; padding-bottom: 20px;}
ul.form:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
ul.form li, div.actions {margin-bottom: 10px;}
div.actions:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

ol.form li {margin-left: 20px;margin-bottom: 10px;}
label { font-weight: bold; font-size: 13px; letter-spacing: -1px;}
input[type=text]{height:20px;width:300px;font-size:14px; }
input[type=password]{height:20px;width:300px;font-size:14px; }
input[type=checkbox]{}
input[type=submit] {}
textarea{height:100px;width:400px;font-size:14px; }
.actions input[type=submit]{cursor: pointer;}

/****************************************************************/
/* -------------------------- AJAX  --------------------------- */
/****************************************************************/


/*
	Need Button Default style, different colors and different sizes....Change the BUtton class to something else.

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	
}
.button:hover {
	text-decoration: none;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button:active {
	position: relative;
	top: 1px;
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}*/

#right #sidebar input[type=text]{height:20px;width:98%;font-size:14px; }
#right #sidebar input[type=checkbox]{}
#right #sidebar input[type=submit] {}
#right #sidebar textarea{height:100px;width:98%;font-size:14px; }

/******************************************************************/
/* --------------------- LiveValidation  ------------------------ */
/******************************************************************/
/*.LV_valid{color:#00CC00;}
.LV_invalid{color:#CC0000;}
.LV_validation_message{font-weight:bold;margin:0 0 0 5px;}
.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active,
.fieldWithErrors input.LV_valid_field,
.fieldWithErrors textarea.LV_valid_field{border:1px solid #00CC00;}
.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
.fieldWithErrors input.LV_invalid_field,
.fieldWithErrors textarea.LV_invalid_field{border:1px solid #CC0000;}*/


/* From http://workingwithrails.com/railsplugin/4765-will-paginate */
.pagination:before { content:"\0020"; display:block; height:10px; clear:both; visibility:hidden; overflow:hidden; }
.pagination { margin: 2px; padding: 10px 2px 10px 2px; } 
.pagination a { padding: 2px 3px 2px 3px; margin: 2px; border: 1px solid #bbb; text-decoration: none; color: #666; } 
.pagination a:hover, 
.pagination a:active { border: 1px solid #000099; color: #000; } 
.pagination span.current { padding: 2px 3px 2px 3px; margin: 2px; border: 1px solid #ccc; font-weight: bold; background-color: #bbb; color: #FFF; } 
.pagination span.disabled { padding: 2px 3px 2px 3px; margin: 2px; border: 1px solid #eee; color: #ddd; }
/* From http://workingwithrails.com/railsplugin/4765-will-paginate */

/*select{height:20px;
font-size:13px;
-moz-border-radius:4px;-moz-box-shadow:1px 1px 5px #cfcfcf inset;border:1px solid #cfcfcf;vertical-align:middle;background-color:transparent;}
option{height:20px;
font-size:13px;
background-color:#fef5e6;border-bottom:1px solid #ebdac0;border-right:1px solid #d6bb86;border-left:1px solid #d6bb86;}
*/

/* Sub Level Nav */

#header #secondary_nav ul li ul {
	background: #F4F4F4;
	border: 0px solid #000;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	margin: -20px 0 0 -25px;
	padding: 0 10px 0 10px;
	position: relative;
	width: 126px;
	z-index: 9999;
	display: none;
}

#header #secondary_nav ul li ul li {
	display: block;
	float: none;
	height: 20px;
	line-height: 20px;
	padding: 8px 0;
	text-align: center;
	width: 126px;
	margin: 0;
}

#header #secondary_nav ul li ul li a {
	color: #620d20;
	text-shadow: none;
}

#header #secondary_nav ul li ul li a:hover {
	font-weight: bold;
}

#header #secondary_nav ul li ul li:last-child:not(li.arrow) {
	border: 0;
}

#header #secondary_nav ul li ul li.current { background: none; }
#header #secondary_nav ul li ul li.current a{ background: none; color:red;font-weight:bold;  }

/* Arrow */
.arrow {
	z-index: -9999;
	background: url(/images/arrow.png) no-repeat center top;
	border: 0;
	display: none;
	position: absolute;
		top: -10px;
	height: 11px;
	width: 20px;
}