/******************************************************************/
/* -------------------------- COMMON  -------------------------- */
/******************************************************************/
.active_link {color:#888; text-decoration:none; cursor:default; }
.page_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.no_tasks, .no_alerts {display:none;}
.hidden{display:none;}
.separator{margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;}

#sidebar ul.model_actions { padding: 0 0 10px 0; }

.errors_heading{border-bottom:1px solid #eee; }
.errors_heading h1{width:100%;}
.errors_content {}



/*

If you want FULL SCREEN THEN USE THIS ON THE PAGE YOU NEED IT FOR.
.index_users #main { margin: 1em 3em 0 3em; }
.index_users #left { width: 100%;}
.index_users #sidebar { width: 0;}*/

/******************************************************************/
/* -------------------------- ANIMALS  -------------------------- */
/******************************************************************/
.animals ul {list-style:none;}

/* -------------------------- ANIMALS FORMS -------------------------- */
.animals #secondary_breed_field, .animals #primary_breed_field{display:none;}
.animals #reason_field{ padding-top:10px; }
.animals #photo{ text-align:center; margin:0 auto; }
.animals #is_mixed_breed_field {padding: 5px 0px 5px 10px;}

/*.animals #accommodation_info{padding-top: 30px; }
.animals #accommodation_info input{margin-bottom: 10px;}
.animals #accommodation_info fieldset{border:1px #ddd solid; padding: 20px; width: 80%;}
.animals #accommodation_info fieldset legend {font-weight: bold; font-size: 16px; letter-spacing: -1px;}*/

.animals #euthanasia_info{padding-top: 0px; /*display:none;*/}
.animals #euthanasia_info input{margin-bottom: 10px;}
.animals #euthanasia_info fieldset{border:1px #ddd solid; padding: 20px; width: 90%;}
.animals #euthanasia_info fieldset legend {font-weight: bold; font-size: 16px; letter-spacing: -1px;}

.animals .date_field{ padding-bottom: 15px;}
.animals .date_field:after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.animals .humanize_date{float:left; width: 190px;font-weight: bold; font-size: 16px;letter-spacing: -1px;color:#000;padding: 10px 0 10px 0;}
.animals .icon_calendar{float:left; padding-left: 10px; cursor: pointer;}
.animals .datepicker{display:none; padding-bottom: 10px;}

.animals #accommodation_info{display:none;}
.animals #accommodation_remove_link{display:none;padding-left: 5px;}

.animals #accommodation_selected{padding: 0 0 10px 0;}
.animals #accommodation_selected span {}
.animals #accommodation_selected span b { font-weight: bold;padding: 0px 10px 0 0; font-size: 15px; letter-spacing:-1px;}
.animals #accommodation_selected #accommodation_search_link{}


.animals #accommodation_search_dialog {width:99%; height:100%; background-color: #fff; overflow:auto;  z-index: 9999999999999;}
.animals #accommodation_search_dialog .wrapper { padding: 15px; }





/* -------------------------- INDEX - ANIMALS  -------------------------- */
.index_animals .print_heading { display:none; }

.index_animals .animal_list .hover {background-color:#EFEBE3;/*#e0f1fa*/}
.index_animals table.animal_list{width: 100%; table-layout: auto;border-top:1px #ccc dotted; border-collapse: collapse; border-spacing: 0; }
.index_animals table.animal_list tr {border-bottom:1px #ccc dotted; }
.index_animals table.animal_list td{vertical-align:top;font-size:12px;padding:9px 0;}
.index_animals table.animal_list td.image { width:100px; padding-left:5px; }
.index_animals table.animal_list td.details { width:380px;padding-left: 15px;color:#666; }
.index_animals table.animal_list td.status { width:175px;padding-left: 10px; padding-right: 5px; text-align:right;}
.index_animals table.animal_list .action_links .select_link {display:none;}

.index_animals table.search {width: 100%;vertical-align:top; padding-bottom: 10px;}
.index_animals table.search tr {vertical-align:top;}
.index_animals table.search td.full_search {width:50%;text-align:left;padding-top:10px;}
.index_animals table.search td.full_search input[type=text] {margin-top:5px;width:80%;}
.index_animals table.search td.full_search input[type=submit] {margin-left: 5px;}
.index_animals table.search td.filters {width:50%;text-align:left;border-left:1px dotted #ccc;padding:10px 0 20px 10px;}
.index_animals table.search td h3{font-weight: bold; font-size: 16px; letter-spacing: -1px;padding-bottom: 10px;}
.index_animals table.search td.filters table.filter_table{width: 100%;padding-left: 20px;}
.index_animals table.search td.filters table.filter_table tr{vertical-align:top;}
.index_animals table.search td.filters table.filter_table tr td label {width: 25%;text-align:left;}
.index_animals table.search td.filters table.filter_table tr td select{width: 75%;text-align:left;}

.index_animals #animals .no_results {padding: 20px 0 0 0;border-top:1px #ccc dotted; }

/* -------------------------- SHOW - ANIMALS  -------------------------- */
.show_animals .page_heading{border-bottom:1px solid #eee; }
.show_animals table.animal{width:100%;}
.show_animals table.animal td{vertical-align:top;width:50%;/*color:#666;*/}
.show_animals table.animal td.action_links{text-align:right;font-size:12px;/*line-height:100%;height:100%;*/padding-top:5px;}
.show_animals table.animal td h1 {}
.show_animals table.animal td h1 span{font-size:14px;padding-left:25px;position:relative;top:-3px;}
.show_animals table.animal td p {font-size: 16px;font-weight: bold; letter-spacing:-1px;color:#000;}

.show_animals table.animal_details{text-align:left;}
.show_animals table.animal_details:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.show_animals table.animal_details h3{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_animals table.animal_details td{vertical-align:top; }
.show_animals table.animal_details td.image{}
.show_animals table.animal_details td.metadata{width:100%; padding: 0 15px 0 0; margin:0 0 0 0; }
.show_animals table.animal_details td.metadata ul {text-align:left;padding-bottom: 10px;}
.show_animals table.animal_details td.metadata ul .euthanasia_info{color: #000; font-weight: bold; font-size: 16px; letter-spacing: -1px;}
.show_animals table.animal_details td.metadata ul .red_date{color:#ee3124;}


.show_animals .description{width:100%; padding: 0 0 0 0; }
.show_animals .description h3{border-bottom: 1px #bbb solid; font-weight: bold;}

.show_animals .euthanasia_info{width:100%; padding: 0 0 0 0; }
.show_animals .euthanasia_info:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.show_animals .euthanasia_info h3{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_animals .euthanasia_info ul li {float:left; padding-right: 20px;}
.show_animals .euthanasia_info .date{color: #000; font-weight: bold; font-size: 16px; letter-spacing: -1px;}
.show_animals .euthanasia_info .red_date{color:#ee3124;font-weight: bold; font-size: 16px; letter-spacing: -1px;}


.show_animals #animal_alerts .edit_note h2 {border: 0;}

.show_animals .notes_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.show_animals .notes_heading h2{float:left;}
.show_animals .notes_heading .links{float:right; text-align: right;padding-top:5px;}
.show_animals .notes_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.show_animals .status_history_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}


/* SIDEBAR - SHOW ANIMAL */
.show_animals #animal_tasks {padding: 15px 0 0 0;}
.show_animals #animal_alerts {padding: 15px 0 0 0;}
.show_animals #animal_tasks h2{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_animals #animal_alerts h2{border-bottom: 1px #bbb solid; font-weight: bold;}

.show_animals #create_alert {display: none;background-color: #fce2ec; border:1px solid #f286b1;padding: 15px; margin-bottom: 15px;}
.show_animals #create_task {display: none; background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.show_animals #create_note {display: none;background-color:#fffbe5; border:1px solid #ffd27f; padding: 15px; margin-bottom: 15px;}
.show_animals #another_note_category{ display:none; }
.show_animals #another_note_category .added_to_category{font-size: 18px; font-weight: bold; color: green; letter-spacing: -1px;}

.show_animals #animal_tasks .edit_task {display: none;background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.show_animals #animal_tasks .edit_task h2 {border: 0;}
.show_animals #animal_alerts .edit_alert {display: none;background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.show_animals #animal_alerts .edit_alert h2 {border: 0;}







/******************************************************************/
/* -------------------------- NOTES  -------------------------- */
/******************************************************************/
#notes .edit_note {display:none;background-color:#f1fce2; border:1px solid #c4f286;padding:15px; margin-bottom:15px;}
#notes .hover{background-color:#EFEBE3;}
#notes .note {border-top: 1px dotted #ccc; line-height: 2.5em; padding: 5px 0 5px 0; }
#notes .note .note_info {float: left; width: 80%;cursor: pointer;}
#notes .note .created_date {color:#999; font-size: 10px; letter-spacing: -1px; padding-right: 10px;}
#notes .note .title {color:#000; font-weight: bold;font-size: 14px;}
#notes .note .category {color:#999; font-size: 12px; }
#notes .note .description { width: 92%; padding: 0 0 0 20px; line-height: 2em; display:none;}
#notes .note .action_links {float: left; width: 20%; text-align: right;font-size: 10px;}
#notes .note:last-child{border-bottom: 1px dotted #ccc; }

/* -- Show Parents :: Notes --*/
.show_parents #notes .note .category{display:none;}
.show_parents #edit_note_form #note_category{display:none;}



/***************************************************************************/
/* -------------------------- STATUS HISTORIES  -------------------------- */
/***************************************************************************/
#status_histories .hover{background-color:#EFEBE3;}
#status_histories .status_history {border-top: 1px dotted #ccc; line-height: 2.5em; padding: 5px 0 5px 0; }
#status_histories .status_history .status_history_info {width: 100%;cursor: pointer;}
#status_histories .status_history .created_date {color:#999; font-size: 10px; letter-spacing: -1px; padding-right: 10px;}
#status_histories .status_history .title {color:#000; font-weight: bold;font-size: 14px;}
#status_histories .status_history:last-child{border-bottom: 1px dotted #ccc; }










/******************************************************************/
/* -------------------------- ALERTS  -------------------------- */
/******************************************************************/
/* -- Global Alert --*/
.alerts {}/* body class that is specific for an alerts page - Add action as well */
.index_alerts {}

.alerts ul { list-style:none ;}

/* -- Alerts :: Index --*/
.index_alerts .page_content h3{border-bottom:1px #999 solid;}
.index_alerts .page_heading{/*border-bottom:1px solid #ddd;*/ }
.index_alerts #sidebar #create_alert {background-color: #fce2ec; border:1px solid #f286b1;padding: 15px; margin-bottom: 15px;}

/* -- Alerts :: New --*/
.new_alerts #main { margin: 1em 3em 0 3em; }
.new_alerts #left { width: 100%;}
.new_alerts #sidebar { display: none;width: 0;}

/* -- Alert List :: Edit Form --*/
.alert_list .edit_alert {display: none;background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.alert_list .edit_alert h2 {border: 0;}

/* -- Alert List  --*/
.alert_list h2{border-bottom: 1px #bbb solid; font-weight: bold;}
.alert_list {margin-bottom:10px;}
.alert_list .alert{padding: 1px 0 1px 0; margin: 2px 0 2px 0;text-align:left;display: block; }
.alert_list .alert .description {padding: 0 0 0 20px; line-height: 2em; display:none;}
.alert_list .type{float:left;min-width: 100px; text-align:center;vertical-align: middle;padding: 5px 0;-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
/*.alert_list .details{float: left;width: 60%; margin-left: 10px;  } ORIGINAL WITH IMAGES*/
.alert_list .details{float: left;width: 55%; margin-left: 10px;  }
.alert_list .details p {font-size: 14px; letter-spacing: -1px; color: #000;margin-top:5px;}
.alert_list .details .alert_created_at_date{font-weight: bold; font-size: 14px; letter-spacing: -2px;padding-right: 10px; }
.alert_list .details .alert_animal_name{font-weight:bold; font-size: 16px;}
/*.alert_list .links{float: right; text-align:right;margin-top:5px;} 
.alert_list .links img{margin-left: 5px;} ORIGINAL WITH IMAGES*/
.alert_list .action_links{float: right; text-align:right;margin-top: 8px;font-size: 10px;font-weight:bold;}


.alert_list .high{background-color:#ee3124;color:#fff;}
.alert_list .medium{background-color:#f39500;color:#fff;}
.alert_list .low{background-color:gray;color:#fff;}

/* -- Show Animals :: Alert List --*/
.show_animals .alert_list .type{min-width: 80px;padding:2px 5px 2px 5px;}
.show_animals .alert_list .details p {margin-top:3px;}
.show_animals .alert_list .links{margin-top:3px;}
.show_animals .alert_list .details .alert_animal_name{display:none;}
















/******************************************************************/
/* -------------------------- SHELTERS -------------------------- */
/******************************************************************/
.shelters ul {list-style:none;}
.shelters ol li{margin-left: 20px;}

.shelters .page_heading{border-bottom:1px solid #eee; }
.shelters .page_heading h1, .index_shelters .page_heading .logo{width:70%; float:left; }
.shelters .page_heading .action_links{width:30%; float:left; text-align:right; padding-top: 5px; font-size:12px;}
.edit_shelters .page_heading h1, .update_shelters .page_heading h1{width:100%;}

.index_shelters .shelter_details {padding-bottom: 20px;}
.index_shelters .shelter_details #address {float:left; width: 45%; padding-right: 5%; }
.index_shelters .shelter_details #contact_details {float:left; width: 50%;}
.index_shelters .shelter_details h3{border-bottom: 1px #bbb solid; font-weight: bold;}
.index_shelters .shelter_details:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

.index_shelters #sidebar #items_section .actions {padding-left:10px; font-size: 13px; font-weight:normal;}
.index_shelters #sidebar #capacities_section .actions {padding-left:10px; font-size: 13px; font-weight:normal;}
.index_shelters #sidebar #create_capacity {display:none; background-color:#fffbe5; border:1px solid #ffd27f; padding: 15px; margin-bottom: 15px;}

.index_shelters #edit_items {background-color: #f1fce2; border: 1px #c4f286 solid; padding: 15px; margin-bottom: 15px;}

.index_shelters #map_canvas { margin: 0 auto; width: 100%; height: 350px; position: relative; background-color: #fff; /*box-shadow: 0px 0px 6px #999; -moz-box-shadow: 0px 0px 6px #999; -webkit-box-shadow: 0px 0px 6px #999;*/}
.index_shelters #map_content {display:none;}

.shelters #logo{ text-align:center; margin:0 auto; }

/********************************************************************/
/* -------------------------- CAPACITIES -------------------------- */
/********************************************************************/
.capacities ul {list-style:none;}

/* -- Index Capacities --*/
.index_capacities .page_heading{border-bottom:1px solid #eee; }
.index_capacities #sidebar #create_capacity {background-color:#fffbe5; border:1px solid #ffd27f; padding: 15px; margin-bottom: 15px;}

/* -- Capacity List :: Edit Form --*/
.capacity_list .edit_capacity { width: 42%; background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px; margin-right: 10px; border: 1px #ccc solid; display: inline-block; vertical-align: top; zoom: 1; *display: inline;}
.capacity_list .edit_capacity h2 {border: 0;}
.capacity_list .edit_capacity input[type=text]{width: 98%;}

/* -- Capacity List  --*/
/*.capacity_list h2{border-bottom: 1px #bbb solid; font-weight: bold;}
.capacity_list {margin-bottom:10px;}
.capacity_list .capacity{padding: 1px 0 1px 0; margin: 2px 0 2px 0;text-align:left;display: block; }
.capacity_list .capacity:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.capacity_list .type{float:left;min-width: 100px; font-size: 16px; letter-spacing: -1px; font-weight:bold;text-align:center;vertical-align: middle;padding: 5px 0;-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
.capacity_list .max_capacity{float: left;width: 30%;  margin-left: 10px;  }
.capacity_list .max_capacity p {font-size: 16px; color: #000;margin-top:5px;}
.capacity_list .warning_level{float: left;width: 30%;  margin-left: 10px;  }
.capacity_list .warning_level p {font-size: 16px; color: #000;margin-top:5px;}
.capacity_list .action_links{float: right; text-align:right;margin-top: 2px;padding-left:0;font-size: 10px;font-weight:bold;}*/

.capacity_list { padding-top: 0px;}
.capacity_list:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.capacity_list .capacity { width: 42%; margin-right: 10px;margin-bottom: 10px; padding: 15px; border: 1px #ccc solid; display: inline-block; vertical-align: top; zoom: 1; *display: inline;}
.capacity_list .over_capacity {background-color: #fce2ec; border:1px solid #f286b1;}
.capacity_list .warning_level {background-color:#fffbe5; border:1px solid #ffd27f;}

/* -- Index Capacities  --*/
.capacity_list .capacity .title {border-bottom:1px #ddd solid; padding-bottom:10px; line-height: 1.2em;}
.capacity_list .capacity .title:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.capacity_list .capacity .animal_type {float:left; width: 59%;}
.capacity_list .capacity .animal_type h3 {padding:0; margin:0;}
.capacity_list .capacity .links {float:right; width: 39%; }
.capacity_list .capacity .links .action_links {display: block;text-align:right;font-size: 10px;font-weight:bold; }
.capacity_list .capacity .details {clear:both;padding-top: 20px;}
.capacity_list .capacity .details span {font-size: 14px; color: #000;}






/***************************************************************************/
/* ---------------------------- ACCOMMODATIONS --------------------------- */
/***************************************************************************/
.accommodations ul {list-style:none;}

/* -------------------------- INDEX - LOCATIONS  -------------------------- */
.index_accommodations .print_heading {display:none;}

/* -- Location Filters --*/
.index_accommodations table.search {width: 100%;vertical-align:top; padding-bottom: 10px;}
.index_accommodations table.search tr {vertical-align:top;}
.index_accommodations table.search td.full_search {width:50%;text-align:left;padding-top:10px;}
.index_accommodations table.search td.full_search input[type=text] {margin-top:5px;width:80%;}
.index_accommodations table.search td.full_search input[type=submit] {margin-left: 5px;}
.index_accommodations table.search td.filters {width:50%;text-align:left;border-left:1px dotted #ccc;padding:10px 0 20px 10px;}
.index_accommodations table.search td h3{font-weight: bold; font-size: 16px; letter-spacing: -1px;padding-bottom: 10px;}
.index_accommodations table.search td.filters table.filter_table{width: 100%;padding-left: 20px;}
.index_accommodations table.search td.filters table.filter_table tr{vertical-align:top;}
.index_accommodations table.search td.filters table.filter_table tr td label {width: 25%;text-align:left;}
.index_accommodations table.search td.filters table.filter_table tr td select{width: 75%;text-align:left;}

/* -- Accommodations :: New --*/
.new_accommodations #main { margin: 1em 3em 0 3em; }
.new_accommodations #left { width: 100%;}
.new_accommodations #sidebar { display: none;width: 0;}

#accommodations { border-top:1px dotted #ccc; padding-top: 20px;}
#accommodations:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
#accommodations .accommodation { width: 42%; margin-right: 10px;margin-bottom: 10px; padding: 15px; border: 1px #ccc solid; display: inline-block; vertical-align: top; zoom: 1; *display: inline;}
#accommodations .over_capacity {background-color: #fce2ec; border:1px solid #f286b1;}
#accommodations .hover{background-color:#EFEBE3;}

/* -- Index Accommodations :: Accommodation Details --*/
#accommodations .accommodation .accommodation_info {border-bottom:1px #ddd solid; padding-bottom:10px;}
#accommodations .accommodation .accommodation_info:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
#accommodations .accommodation .accommodation_name {float:left; width: 69%;}
#accommodations .accommodation .accommodation_name h3 {padding:0; margin:0;}
#accommodations .accommodation .accommodation_name .location_details{ font-size: 12px; letter-spacing: -1px;}
#accommodations .accommodation .accommodation_types {float:right; width: 29%; text-align:right;}
#accommodations .accommodation .accommodation_types .animal_type {display: block;font-weight:bold; font-size: 14px; letter-spacing: -1px;}
#accommodations .accommodation .accommodation_types .select_link {display: none;}
#accommodations .accommodation .accommodation_count {padding-top: 10px; line-height: 15px; }
#accommodations .accommodation .accommodation_count .space_available {font-size: 11px;font-weight:bold; color: #000;}
#accommodations .accommodation .accommodation_count .action_links{float: right; text-align:right;font-size: 10px;font-weight:bold;}

/* -- Index Accommodations :: Animal List Table --*/
#accommodations .accommodation .accommodation_details {clear:both; display:none; padding-top: 20px;}
#accommodations .accommodation table.animal_list{width: 100%; table-layout: auto;border-top:1px #ccc dotted; border-collapse: collapse; border-spacing: 0; }
#accommodations .accommodation table.animal_list tr {border-bottom:1px #ccc dotted; }
#accommodations .accommodation table.animal_list td{vertical-align:top;font-size:12px;padding:9px 0;}
#accommodations .accommodation table.animal_list td.image { width:100px; padding-left:5px; }
#accommodations .accommodation table.animal_list td.details { width:380px;padding-left: 15px;color:#666; }
#accommodations .accommodation table.animal_list td.status { width:175px;padding-left: 10px; padding-right: 5px; text-align:right;}

/* -- Animals :: Accommodations :: Accommodation Details --*/
.animals #accommodations { width: 100%;height: 400px; }
.animals #accommodations .accommodation .accommodation_types .animal_type {display: none;}
.animals #accommodations .accommodation .accommodation_types .select_link {display: block;font-weight:bold; font-size: 14px; letter-spacing: -1px;}
.animals #accommodations .accommodation .accommodation_count .action_links .edit_link,
.animals #accommodations .accommodation .accommodation_count .action_links .delete_link{display:none;}

/* -- Index Locations  --*/
.index_accommodations #sidebar #create_accommodation {background-color:#fffbe5; border:1px solid #ffd27f; padding: 15px; margin-bottom: 15px;}
#accommodations .edit_accommodation { width: 42%; background-color:#fffbe5; border:1px solid #ffd27f; padding: 15px; margin-bottom: 15px; margin-right: 10px; border: 1px #ccc solid; display: inline-block; vertical-align: top; zoom: 1; *display: inline;}
#accommodations .edit_accommodation input[type=text]{width: 98%;}




/*******************************************************************/
/* -------------------------- LOCATIONS -------------------------- */
/*******************************************************************/
#edit_location_dialog {width:99%; height:100%; background-color: #fff; overflow:auto; z-index: 9999999999999;}
#edit_location_dialog .wrapper { padding: 15px; }
/*#edit_location_dialog .done_editing{padding: 20px 0 0 0; font-weight:bold;font-size:16px;}*/

#create_location {background-color:#fffbe5; border:1px solid #ffd27f; padding: 15px; margin-bottom: 15px;}
#create_location .form {float:left; padding-bottom: 0;}
#create_location .actions {float: left; margin: 2px 0 0 10px;}
#create_location:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

#locations {margin-top: 20px; width: 100%; min-height:300px; }
#locations .edit_location {display:none;background-color:#f1fce2; border:1px solid #c4f286;padding:15px; margin-bottom:15px;}
#locations .hover{background-color:#EFEBE3;}
#locations .location {border-top: 1px dotted #ccc; line-height: 2.5em; padding: 5px 0 5px 0; }
#locations .location .location_info {float: left; width: 85%;cursor: pointer;}
#locations .location .name {color:#000; font-weight: bold;font-size: 14px; padding-left: 10px;}
#locations .location .action_links {float: left; width: 15%; text-align: right;font-size: 10px;}
#locations .location:last-child{border-bottom: 1px dotted #ccc; }





/******************************************************************/
/* ---------------------------- TASKS --------------------------- */
/******************************************************************/
/* -- Global Task --*/
.tasks ul {list-style:none;}
.index_tasks .page_content h3{border-bottom:1px #999 solid;}
.index_tasks .page_heading{/*border-bottom:1px solid #ddd; */}
.index_tasks #overdue_tasks_section h3 {color: red; font-weight:bold;}
.index_tasks #overdue_tasks{padding-bottom: 15px;}
.index_tasks #today_tasks{padding-bottom: 15px;}
.index_tasks #tomorrow_tasks{padding-bottom: 15px;}
.index_tasks #later_tasks"{padding-bottom: 0px;}
/* -- Task  :: New --*/
.new_tasks #main { margin: 1em 3em 0 3em; }
.new_tasks #left { width: 100%;}
.new_tasks #sidebar { display: none;width: 0;}

.due_date_alt {font-weight: bold; font-size: 16px;letter-spacing: -1px;color:#000;padding: 10px 0 10px 0;}

/* -- Task List :: Form --*/
.task_list .edit_task {display: none;background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.task_list .edit_task h2 {border: 0;}

.index_tasks #right #create_task {background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}

/* -- Task List --*/
.task_list{margin-bottom:10px;}
.task_list .task{padding: 1px 0 1px 0; margin: 2px 0 2px 0; text-align:left;display: block; }
.task_list .type{float:left;min-width: 100px; text-align:center;vertical-align: middle; color: #fff; padding: 5px 0;-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
/*.task_list .details{float: left;width: 60%; margin-left: 10px;  } ORIGINAL WITH IMAGES*/
.task_list .details{float: left;width: 56%; margin-left: 10px;  }
.task_list .details p {font-size: 14px; letter-spacing: -1px; color: #000;margin-top:5px;}
.task_list .details .task_due_date{font-weight: bold; font-size: 14px; letter-spacing: -2px;padding-right: 10px; }
.task_list .details .task_animal_name{font-weight:bold; font-size: 16px;}
/*.task_list .links{float: right; text-align:right;font-size: 12px; margin-top: 3px;font-size: 10px;font-weight:bold;}  
.task_list .links img{margin-left: 5px;} ORIGINAL WITH IMAGES*/
.task_list .action_links{float: right; text-align:right;margin-top: 8px;font-size: 10px;font-weight:bold;}


/* -- Show Animals :: Task List --*/
.show_animals .task_list .type{min-width: 80px;padding:2px 5px 2px 5px;}
.show_animals .task_list .details p {margin-top:3px;}
.show_animals .task_list .links{margin-top:3px;}
.show_animals .task_list .task_animal_name{display:none;}





/******************************************************************/
/* -------------------------- PARENTS --------------------------- */
/******************************************************************/
.parents ul {list-style:none;}

.parents .page_heading{border-bottom:1px solid #eee; }
.parents .page_heading h1{width:50%; float:left; }
.parents .page_heading .action_links{width:50%; float:left; text-align:right; padding-top: 5px; font-size:12px;}
.show_parents .page_heading h1{width:60%;}
.show_parents .page_heading .action_links{width:40%;}

.edit_parents .page_heading h1{width:100%;}

/* -------------------------- INDEX - PARENTS  -------------------------- */
.index_parents #main { margin: 1em 3em 0 3em; }
.index_parents #left { width: 100%;}
.index_parents #sidebar { display: none;width: 0; }

.index_parents #parent_search {padding: 0 0 20px 0; }
.index_parents #parents {}
.index_parents #parents .no_results {padding: 20px 0 0 0; border-top:1px #ccc dotted; }
.index_parents #parents .no_results p{font-weight: bold; }

.index_parents table.parent_list{width:100%;padding:0 0 5px 0; border-top:1px #ccc dotted;}
.index_parents table.parent_list td{vertical-align:top;font-size:12px;padding:8px 0;border-bottom:1px #ccc dotted;}
.index_parents table.parent_list td.details { width:380px; color:#666; }
.index_parents table.parent_list td.status { width:175px;padding-left: 10px; text-align:right;}
.index_parents table.parent_list td .action_links{font-size: 10px;font-weight:bold;}


/* -------------------------- SHOW - PARENTS  -------------------------- */
/*.show_parents .page_heading{border-bottom:1px solid #eee; }*/
/*.show_parents table.parent{width:100%;}
.show_parents table.parent td{vertical-align:top;width:50%;/*color:#666;*//*}
.show_parents table.parent td.action_links{text-align:right;font-size:12px;line-height:100%;height:100%;padding-top:5px;}
.show_parents table.parent td h1 {}
.show_parents table.parent td h1 span{font-size:14px;padding-left:25px;position:relative;top:-3px;}
.show_parents table.parent td p {font-size: 16px;font-weight: bold; letter-spacing:-1px;color:#000;}*/

.show_parents .parent_details {padding-bottom: 20px;}
.show_parents .parent_details #address {float:left; width: 45%; padding-right: 5%; }
.show_parents .parent_details #contact_details {float:left; width: 50%;}
.show_parents .parent_details h3{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_parents .parent_details:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


.show_parents #create_placement {background-color: #f1fce2; border:1px solid #c4f286;padding: 15px; margin-bottom: 15px;}
.show_parents #animal_search_dialog {width:99%; height:100%; background-color: #fff; overflow:auto; z-index: 9999999999999;}
.show_parents #animal_search_dialog .wrapper { padding: 15px; }

.show_parents #animal_selected{padding: 0 0 10px 0;}
.show_parents #animal_selected span {}
.show_parents #animal_selected span b {padding: 0 10px 0 0; font-size: 15px; letter-spacing:-1px;}
.show_parents #animal_selected #animal_search_link{}

.show_parents #animals {margin-top: 20px; width: 99%;height: 400px; }
.show_parents #animals table.animal_list{width: 100%;overflow:auto; padding:0 0 5px 0; border-top:1px #ccc dotted;  }
.show_parents #animals table.animal_list td{vertical-align:top;font-size:12px;padding:8px 0;border-bottom:1px #ccc dotted;}
.show_parents #animals table.animal_list td.image { width:100px; padding-right: 15px;}
.show_parents #animals table.animal_list td.details { width:380px;color:#666; }
.show_parents #animals table.animal_list td.status { width:175px;padding-left: 10px; text-align:right;}
.show_parents #animals table.animal_list td .action_links{font-size: 10px;font-weight:bold;}
.show_parents #animals .action_links .edit_link, .show_parents #animals .action_links .delete_link {display:none;}

.show_parents table.placement_list{width:100%;padding:0 0 5px 0; border-top:1px #ccc dotted; border-collapse:collapse; }
.show_parents table.placement_list td{vertical-align:top;font-size:12px;padding:8px 0;border-bottom:1px #ccc dotted; }
.show_parents table.placement_list td.image { width:100px; padding-right: 15px; }
.show_parents table.placement_list td.image img { padding-bottom: 10px;}
.show_parents table.placement_list td.image .action_links{ width:100px; text-align:center;font-size: 10px;font-weight:bold;height:auto;}
.show_parents table.placement_list td.details { width:380px;color:#666; }
.show_parents table.placement_list td.details h4{border-top: 1px #ccc solid; padding-top: 5px;}
.show_parents table.placement_list td.status { width:175px;padding-left: 10px; text-align:right;}

.show_parents table.placement_list tr.edit_placement td {background-color: #f1fce2; border:1px solid #c4f286;padding: 15px; margin-bottom: 15px;}
.show_parents table.placement_list tr.edit_placement h2 {border: 0;}

.show_parents .placement_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.show_parents .placement_heading h2{float:left;}
.show_parents .placement_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* -- Sidebar - Show Parents  --*/
.show_parents #create_placement {display: none; background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}
.show_parents #create_note {display: none;background-color:#fffbe5; border:1px solid #ffd27f; padding: 15px; margin-bottom: 15px;}
.show_parents .edit_comment{background-color: #f1fce2; border: 1px #c4f286 solid; padding: 15px; margin-bottom: 15px;}
.show_parents .create_comment{background-color: #fffbe5; border: 1px #fff3b2 solid; padding: 15px; margin-bottom: 15px;}


/*******************************************************************/
/* -------------------------- COMMENTS --------------------------- */
/*******************************************************************/
.comment_list .hover{background-color:#EFEBE3;}
.comment_list .comment {border-top: 1px dotted #ccc; line-height: 2.5em; padding: 5px 0 5px 0; }
.comment_list .comment .created_date {float: left; width: 50%; color:#999; font-size: 10px; letter-spacing: -1px;}
.comment_list .comment .action_links {float: left; width: 50%; text-align: right;font-size: 10px; font-weight:bold;}
.comment_list .comment .description p { line-height: 2em;}
.comment_list .comment:last-child{border-bottom: 1px dotted #ccc; }


/* -- Show Parents :: Notes --*/
.show_parents .edit_comment textarea{width: 98%;}




/*****************************************************************/
/* -------------------------- REPORTS -------------------------- */
/*****************************************************************/
/* -- Reports :: Common Styles --*/
.reports ul {list-style:none;}

/* -- Reports :: Page Heading and Titles --*/
.reports .page_heading{border-bottom:1px solid #eee; }
.reports .page_heading h1{width:50%; float:left; }
.reports .page_heading .action_links{width:50%; float:left; text-align:right; padding-top: 5px; font-size:12px;}

/* -- Reports :: Each Report's layout --*/
.reports .report {width: 100%; height: 100%; min-height:400px; margin: 20px auto 20px auto;}

/* -- Index Reports :: Stats and Count Sections --*/
.index_reports .stats:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.index_reports .count_sections div {float:left;margin-right:4%;width:25%;text-align:center;padding: 10px; border-radius: 10px; border: 1px #ddd solid;}
.index_reports .count_sections h2 {padding-bottom: 5px; margin:0;}
.index_reports .count_sections h2.euthanized_color {color:red;}
.index_reports .count_sections p {color:black;font-size: 12px; letter-spacing: -1px;}


/***************************************************************/
/* -------------------------- USERS -------------------------- */
/***************************************************************/
/* -- Users :: Common Styles --*/
.users ul {list-style:none;}

/* -- Users :: Page Heading and Titles --*/
.users .page_heading{border-bottom:1px solid #eee; }
.users .page_heading h1{width:100%; }

/* -- Index Users :: Page Layout --*/
.index_users #main { margin: 1em 3em 0 3em; }
.index_users #left { width: 100%;}
.index_users #sidebar { display: none;width: 0; }

/* -- Index Users :: Manage Users --*/
.index_users .manage_users{padding-bottom: 20px;}
.index_users .manage_users:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* -- Index Users :: User List --*/
.index_users #users_section {float:left;width:235px;}
.index_users #users_section .count {color: #333;font-size: 11px;font-weight:bold;background-color:#fffbe5; border:1px solid #fff3b2;padding: 5px 0 5px 0; text-align:center;}
.index_users #users_section .user_list {list-style:none;}
.index_users #users_section .user_list .user {border-bottom: 1px solid #ddd; cursor:pointer; padding: 10px;display: block;}
.index_users #users_section .user_list .hover {background-color:#EFEBE3;}
.index_users #users_section .user_list .current {background-color:#EFEBE3;}
.index_users #users_section .user_list .username {color: #000;margin-bottom: 5px;line-height: 1;font-size: 16px; font-weight: bold; letter-spacing:-1px;}
.index_users #users_section .user_list .owner { color: #fff; font-size:10px;letter-spacing:0px; font-weight: bold;padding:3px;margin-left: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#ffd27f;}
/* -- Index Users :: User Details --*/
.index_users #user_details {margin-left: 255px;}
.index_users #user_details h2 { border-bottom: 1px #bbb solid; }
.index_users #user_details .section { padding-bottom: 15px;}


/* -- Index Users :: Invite New User form --*/
.index_users #new_invitation {display: none; background-color:#e0f1fa; border:1px solid #89cbeb; padding: 15px; margin-bottom: 15px;}


/******************************************************************/
/* -------------------------- SETTINGS -------------------------- */
/******************************************************************/
/* -- Settings :: Common Styles --*/
.settings ul {list-style:none;}

/* -- Settings :: Page Heading and Titles --*/
.settings .page_heading{border-bottom:1px solid #eee; }
.settings .page_heading h1{width:100%; }

/* -- Index Settings :: Page Layout --*/
.index_settings #main { margin: 1em 3em 0 3em; }
.index_settings #left { width: 100%;}
.index_settings #sidebar { display: none;width: 0; }

/* Index Users :: Sections
-----------------------------------------------------------------------------*/
.index_settings  h2 { border-bottom: 1px #bbb solid; }
.index_settings .section { padding-bottom: 25px;}



