body { background-color: #fff; color:#000; }

/******************************************************************/
#header { display:none; }

/******************************************************************/
#main { margin: 0em 0em 0em 0em; }

/******************************************************************/
#left { width: 100%; background-color: #fff; }
#left #content {box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
#left #content .page_heading{padding: 0em 0em 1em 0em;}
#left #content .page_content{padding: 0em 0em 1em 0em;}

/******************************************************************/
#right { display:none; }

/******************************************************************/
#footer { background-color: #fff; }

/******************************************************************/
.pagination { display: none; }

/******************************************************************/
.action_links{display:none;}


/******************************************************************/
/* -------------------------- ANIMALS  -------------------------- */
/******************************************************************/

/* -- INDEX --*/
.index_animals .page_heading {display:block;}
.index_animals table.search {display:none;}

/* -- SHOW --*/
.show_animals .page_heading{border-bottom:0px; }
.show_animals .blue_background{background-color: #fff; }
.show_animals #notes, .show_animals .note_filters {display:none;}

/****************************************************************/
/* -------------------------- NOTES  -------------------------- */
/****************************************************************/


/*****************************************************************/
/* -------------------------- ALERTS  -------------------------- */
/*****************************************************************/
/* -- INDEX --*/
/* -- SHOW --*/
/*************************************************************************/
/* -------------------------- ACCOMMODATIONS  -------------------------- */
/*************************************************************************/
/* -- INDEX --*/
.index_accommodations .page_heading {display:block;}
.index_accommodations table.search {display:none;}
.index_accommodations .accommodation_details {clear:both; display:block; padding-top: 20px;}

/*******************************************************************/
/* -------------------------- LOCATIONS -------------------------- */
/*******************************************************************/
/* -- INDEX --*/
/* -- SHOW --*/
/******************************************************************/
/* ---------------------------- TASKS --------------------------- */
/******************************************************************/
/* -- INDEX --*/
/* -- SHOW --*/
/*******************************************************************/
/* -------------------------- COMMENTS --------------------------- */
/*******************************************************************/
/* -- INDEX --*/
/* -- SHOW --*/
/******************************************************************/
/* -------------------------- PARENTS --------------------------- */
/******************************************************************/
/* -- INDEX --*/
.index_parents .page_heading{border-bottom:0px; }
.index_parents .green_background{background-color: #fff; }

/* -- SHOW --*/
.show_parents .page_heading{ border-bottom:0px; }
.show_parents .green_background{ background-color: #fff; }
.show_parents #notes_heading{ display: none; }
.show_parents #notes{ display: none; }
.show_parents #comments{ display: none; }
/*.show_parents .page_heading{border-bottom:1px solid #ddd; }
.show_parents table.parent{width:100%;}
.show_parents table.list{width:100%;padding:0 0 5px 0; border-top:1px #ccc dotted; }*/

/******************************************************************/
/* -------------------------- REPORTS --------------------------- */
/******************************************************************/
/* -- INDEX --*/
.index_reports .page_heading{border-bottom:0px; }
.index_reports .yellow_background{background-color: #fff; }

/* -- SHOW --*/



