<ul class="submenu">
	<li><a class="<%=sub_navigation(:about_us)%>" href="/about_us/">Overview</a></li>
	<li><a class="<%=sub_navigation(:mission)%>" href="/about_us/mission/">Mission</a></li>
	<li><a class="<%=sub_navigation(:founders_story)%>" href="/about_us/founders_story/">Founder's Story</a></li>
	<li><a class="<%=sub_navigation(:board_of_directors)%>" href="/about_us/board_of_directors/">Board of Directors</a></li>
</ul>