<h2><%= image_tag("partners/petfinder.png") %></h2>

<p>Automatically publish all of your adoptable animals in Shelter Exchange to the Adopt-a-Pet.com website.</p>

<p>The Adopt-a-Pet.com "AutoUpload" is a feature provided by Shelter Exchange that will automatically upload all your adoptable animal data to the Adopt-a-Pet.com's website. This integration will save you time from uploading every animal to both Shelter Exchange and Adopt-a-Pet.com.</p>

<p>Once your adoptable animals have been created in Shelter Exchange they will automatically be uploaded to Adopt-a-Pet.com and will appear within a few hours. To activate this integration please follow the instructions below:</p>

<p>If you already have an account with Adopt-a-Pet.com please follow the help text here: <a href="http://help.shelterexchange.org/help/kb/community-sharing/upload-animals-to-adopt-a-pet-new" target="_blank">http://help.shelterexchange.org/help/kb/community-sharing/upload-animals-to-adopt-a-pet-new</a> and we take care of the rest!</p>

<p>If you do not have an Adopt-a-Pet.com account and you would like to create one, please visit this link to learn more: <a href="http://www.adoptapet.com/public/contact_us/index.html#6" target="_blank">http://www.adoptapet.com/public/contact_us/index.html#6</a></p>
