<h2><%= image_tag("partners/petfinder.png") %></h2>

<p>Use the Petfinder Import feature to automatically publish all of your adoptable animals in Shelter Exchange to the Petfinder.com website. Animals that are created in Shelter Exchange with the status of ‘Available for Adoption’ or ‘Adoption Pending’ will automatically be uploaded to Petfinder.com and will appear within a few hours. </p>

<p>To activate this integration follow the instructions here – <a href="http://help.shelterexchange.org/help/kb/community-sharing/upload-animals-to-petfinder-new" target="_new">http://help.shelterexchange.org/help/kb/community-sharing/upload-animals-to-petfinder-new</a></p>

<p>If you have an account with Petfinder.com please refer to their ‘Petfinder Member Import Document’ here: <a href="http://help.shelterexchange.org/help/kb/community-sh</p>aring/petfinder-member-import-document" target="_new">http://help.shelterexchange.org/help/kb/community-sharing/petfinder-member-import-document</a>

<p>If you do not have a Petfinder.com account and you would like to create one click here: <a href="http://www.petfinder.com/register/index.html" target="_new">http://www.petfinder.com/register/index.html </a></p>


