<h2><%= image_tag("partners/petfinder.png") %></h2>

<p>Use the 'Petfinder Import' feature to automatically publish all of your adoptable animals in Shelter Exchange to the Petfinder.com website. Animals that are created in Shelter Exchange will automatically be uploaded to Petfinder.com and will appear within a few hours.</p>

<p>To activate this integration see the links below:</p>

<p>If you have an account with Petfinder.com follow the help text here: </p>

<p>If you do not have a Petfinder.com account and you would like to create one click here: <a href="http://www.petfinder.com/register/index.html" target="_new">http://www.petfinder.com/register/index.html</a> </p>

