<span>connected</span>
<p><%= @integration.type%></p>
<span class="delete_link">
	<%= link_to "Revoke Access", @integration, :confirm => "Are you sure you want to delete? This alert will no longer appear in the list.", :method => :delete, :remote => true, :class => "button" %>	
</span>