<h2><%= image_tag("partners/logo_adopt_a_pet_medium.gif") %></h2>
<p>Use the 'AutoUpload' feature to automatically publish all of your adoptable animals in Shelter Exchange to the Adopt-a-Pet.com website. Animals that are created in Shelter Exchange will automatically be uploaded to Adopt-a-Pet.com and will appear within a few hours. </p>

<p>To activate this integration see the links below:</p>

<p>If you have an account with Adopt-a-Pet.com follow the help text here: <a href="http://help.shelterexchange.org/help/kb/community-sharing/upload-animals-to-adopt-a-pet-new" target="_blank">http://help.shelterexchange.org/help/kb/community-sharing/upload-animals-to-adopt-a-pet-new</a></p>

<p>If you do not have an Adopt-a-Pet.com account and you would like to create one click here: <a href="http://www.adoptapet.com/shelter/terms_conditions_signup.html" target="_blank">http://www.adoptapet.com/shelter/terms_conditions_signup.html</a></p>

