<h2><%= image_tag("partners/logo_adopt_a_pet_large.gif") %></h2>

<p>Adopt a Pet "AutoUpload" is a feature provided by Shelter Exchange that can automatically upload all your adoptable animal data to the Adopt a Pet's website. This integration will save you time from uploading every animal to both Shelter Exchange and Adopt a Pet.</p>

<p>Once your adoptable animals have been created in Shelter Exchange they will automatically be uploaded to Adopt a Pet and will appear within a few hours. To activate this integration please follow the instructions below.</p>

<p>If you have an account with Adopt a Pet please visit <a href="http://www.adoptapet.com/" target="_new">www.adoptapet.com</a> and click Shelter Log in. Once you are logged in click the <strong>Shelter/Rescue tab and Manage My AutoUpload Account</strong>. At the bottom of the page you will find your <strong>FTP Username and FTP Password</strong>. Please enter those values in below and Save, we take care of the rest!</p>

<p>If you do not currently have an Adopt a Pet account and you would like to create one please visit this link to learn more. <a href="http://www.adoptapet.com/public/contact_us/index.html#6" target="_new">http://www.adoptapet.com/public/contact_us/index.html#6</a></p>