/* If you want FULL SCREEN THEN USE THIS ON THE PAGE YOU NEED IT FOR.
.index_users #main { margin: 1em 3em 0 3em; }
.index_users #left { width: 100%;}
.index_users #sidebar { width: 0;}*/

/******************************************************************/
/* -------------------------- COMMON  -------------------------- */
/******************************************************************/
.hover{background-color:#EFEBE3; cursor: pointer;}
.active_link {color:#888; text-decoration:none; cursor:default; }

/* Hidden and Display
-----------------------------------------------------------------------------*/
.hide {display:none;}
.show {display:block;}

/* Separators
-----------------------------------------------------------------------------*/
.link_separator{padding: 0 10px;}
.separator{margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;}


/* Dialog :: Layout
-----------------------------------------------------------------------------*/
.dialog {width: 680px; height: 425px; background-color: #fff; overflow:auto; display:none; z-index: 9999; }
.dialog .wrapper { padding: 15px; color: #222; z-index: 99999; }
.dialog .title{float:left;}
.dialog .action_links{float:right;text-align: right;font-size: 11px; font-weight: bold; padding-top: 5px;}


/* Map Dialog :: Layout
-----------------------------------------------------------------------------*/
.map_dialog {width: 420px; height: 420px; background-color: #fff; overflow:auto; display:none;  z-index: 9999; }
.map_dialog .wrapper { padding: 10px; color: #222; z-index: 99999; }
.map_dialog #map_canvas{ width: 400px; height: 400px; }



/* Box :: Layout :: Forms
-----------------------------------------------------------------------------*/
.box{padding: 15px; margin-bottom: 15px; border-style: solid; border-width: 1px;border-color: #ccc;background-color: none;}
.box.hide{display: none;}
.box.red{border-color: #f07280;background-color:#faced3;}
.box.green{border-color: #90e674;background-color:#d5f6ca;}
.box.orange{border-color: #f9d36f; background-color:#fdf1d0;}
.box.blue{border-color: #74afe3;background-color:#c9e0f4;}
.box h2{border: none;}
.box h3{border: none;}
.box:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Sections :: Headings
-----------------------------------------------------------------------------*/
.section_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto; border-top-style: solid; border-top-width: 1px;border-bottom-style: solid; border-bottom-width: 1px;border-color: #ccc;background-color: none;}
.section_heading.no_borders{border-top-width: 0px;border-bottom-width: 0px;}
.section_heading.red{border-color: #f07280;background-color:#faced3;}
.section_heading.green{border-color: #90e674;background-color:#d5f6ca;}
.section_heading.orange{border-color: #f9d36f; background-color:#fdf1d0;}
.section_heading.blue{border-color: #74afe3;background-color:#c9e0f4;}
.section_heading h2{float:left;}
.section_heading .links{float:right; text-align: right;padding-top:5px;}
.section_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* Page Headings
-----------------------------------------------------------------------------*/
.page_heading.blue {background-color: #edf3fe;border-bottom:1px solid #eee; margin: -1em -1em 1em -1em; padding: 1em;}
.page_heading.red{background-color:#faced3;}
.page_heading h1{width:100%; }
.page_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Section Heading
-----------------------------------------------------------------------------*/
.section_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto; }
.section_heading.no_borders{border-top-width: 0px;border-bottom-width: 0px;}
.section_heading.red{border-color: #f07280;background-color:#faced3;}

/* Circles :: Capacity
-----------------------------------------------------------------------------*/
.circle{ border-style: solid; border-width: 1px;-moz-border-radius:75px;-webkit-border-radius: 75px; border-radius: 75px;}
.circle.large{height: 100px; width: 100px; text-align:center; line-height: 100px;}
.circle.small{height: 15px; width: 15px;text-align:center; line-height: 15px;}
.circle.over_capacity{border-color: #f07280;background-color:#faced3;}
.circle.warning_level{border-color: #f9d36f; background-color:#fdf1d0;}
.circle.normal{border-color: #90e674;background-color:#d5f6ca;}

/* Shelter Kill/No Kill Bubble
-----------------------------------------------------------------------------*/
.shelter_type{width: 150px; text-align: center;color: #000; font-size:12px;letter-spacing:0px; font-weight: bold;padding:10px; border-style: solid; border-width: 1px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.shelter_type.kill{border-color: #f07280;background-color:#faced3;}
.shelter_type.no_kill{border-color: #90e674;background-color:#d5f6ca;}





/******************************************************************/
/* -------------------------- ANIMALS  -------------------------- */
/******************************************************************/

/* Animals :: Global
-----------------------------------------------------------------------------*/
.animals ul {list-style:none;}

/* Index Animals :: Print Heading
-----------------------------------------------------------------------------*/
.index_animals .print_heading { display:none; }


/* Index Animals :: Animal List Layout
-----------------------------------------------------------------------------*/
.index_animals table.animal_list{width: 100%; table-layout: auto;border-top:1px #ccc dotted; border-collapse: collapse; border-spacing: 0; }
.index_animals table.animal_list tr {border-bottom:1px #ccc dotted; }
.index_animals table.animal_list td{vertical-align:top;font-size:12px;padding:9px 0;}
.index_animals table.animal_list td.image { width:100px; padding-left:5px; }
.index_animals table.animal_list td.details { width:380px;padding-left: 15px;color:#666; }
.index_animals table.animal_list td.status { width:175px;padding-left: 10px; padding-right: 5px; text-align:right;}
.index_animals table.animal_list .action_links .select_link {display:none;}

/* Index Animals :: Search and Filters Layout
-----------------------------------------------------------------------------*/
.index_animals table.search {width: 100%;vertical-align:top; padding-bottom: 10px;}
.index_animals table.search tr {vertical-align:top;}
.index_animals table.search td.full_search {width:50%;text-align:left;padding-top:10px;}
.index_animals table.search td.full_search input[type=text] {margin-top:5px;width:80%;height:20px;font-size:14px;}
.index_animals table.search td.full_search input[type=submit] {margin-left: 5px;}
.index_animals table.search td.filters {width:50%;text-align:left;border-left:1px dotted #ccc;padding:10px 0 20px 10px;}
.index_animals table.search td h3{font-weight: bold; font-size: 16px; letter-spacing: -1px;padding-bottom: 10px;}
.index_animals table.search td.filters table.filter_table{width: 100%;padding-left: 20px;}
.index_animals table.search td.filters table.filter_table tr{vertical-align:top;}
.index_animals table.search td.filters table.filter_table tr td label {width: 25%;text-align:left;font-weight: bold; font-size: 13px; letter-spacing: -1px;}
.index_animals table.search td.filters table.filter_table tr td select{width: 75%;text-align:left;}

.index_animals #animals .no_results {padding: 20px 0 0 0;border-top:1px #ccc dotted; }

/* Show Animals :: Page Layout
-----------------------------------------------------------------------------*/
.show_animals table.animal{width:100%;}
.show_animals table.animal td{vertical-align:top;width:50%;}
.show_animals table.animal td.action_links{text-align:right;font-size:12px;position:absolute;top: 2px;right: 20px;}
/*.show_animals table.animal td.action_links span{display:inline-block; padding-top: -20px;}*/
.show_animals table.animal td.status{text-align:right;}
.show_animals table.animal td h1 {}
.show_animals table.animal td h1 span{font-size:14px;padding-left:25px;position:relative;top:-3px;}
.show_animals table.animal td p {font-size: 16px;font-weight: bold; letter-spacing:-1px;color:#000;}

/* Show Animal :: Animal Details
-----------------------------------------------------------------------------*/
.show_animals table.animal_details{text-align:left;}
.show_animals table.animal_details:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.show_animals table.animal_details h3{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_animals table.animal_details td{vertical-align:top; }
.show_animals table.animal_details td.image{}
.show_animals table.animal_details td.metadata{width:100%; padding: 0 15px 0 0; margin:0 0 0 0; }

.show_animals table.animal_details td.metadata ul {text-align:left;padding-bottom: 15px;}
.show_animals table.animal_details td.metadata ul .euthanasia_info{color: #000; font-weight: bold; font-size: 16px; letter-spacing: -1px;}
.show_animals table.animal_details td.metadata ul .red_date{color:#ee3124;}

/* Show Animal :: Shelter Details
-----------------------------------------------------------------------------*/
.show_animals table.shelter_details{width:100%; padding: 20px 0 0 0;}
.show_animals table.shelter_details:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.show_animals table.shelter_details h3{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_animals table.shelter_details td{vertical-align:top; }
.show_animals table.shelter_details td.metadata{width:100%; padding: 0 15px 0 0; margin:0 0 0 0; }
.show_animals table.shelter_details td.metadata .logo{float:right;}
.show_animals table.shelter_details td.metadata ul {text-align:left;padding-bottom: 15px;}
.show_animals table.shelter_details td.metadata ul .euthanasia_info{color: #000; font-weight: bold; font-size: 16px; letter-spacing: -1px;}
.show_animals table.shelter_details td.metadata ul .red_date{color:#ee3124;}


/* Show Animal :: Description Layout
-----------------------------------------------------------------------------*/
.show_animals .description{width:100%; padding: 0 0 0 0; }
.show_animals .description h3{border-bottom: 1px #bbb solid; font-weight: bold;}

/* Show Animal :: Euthanasia Info Layout
-----------------------------------------------------------------------------*/
.show_animals .euthanasia_info{width:100%; padding: 0 0 0 0; }
.show_animals .euthanasia_info:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.show_animals .euthanasia_info h3{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_animals .euthanasia_info ul li {float:left; padding-right: 20px;}
.show_animals .euthanasia_info .date{color: #000; font-weight: bold; font-size: 16px; letter-spacing: -1px;}
.show_animals .euthanasia_info .red_date{color:#ee3124;font-weight: bold; font-size: 16px; letter-spacing: -1px;}


