@media print {

	body { background-color: #fff; color:#000; }

	/******************************************************************/
	#header { display:none; }

	/******************************************************************/
	#main { margin: 0em 0em 0em 0em; }

	/******************************************************************/
	#left { width: 100%; background-color: #fff; }
	#left #content {box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
	#left #content .page_heading{padding: 0em 0em 1em 0em;}
	#left #content .page_content{padding: 0em 0em 1em 0em;}

	/******************************************************************/
	#right { display:none; }

	/******************************************************************/
	#footer { /*display:none;*/ padding:0; margin:0;background-color: #fff;}

	/******************************************************************/
	#flash_messages { display: none; }

	/******************************************************************/
	.pagination { display: none; }

	/******************************************************************/
	.action_links {display:none;}
	.help_text {display:none;}


	/******************************************************************/
	/* -------------------------- ANIMALS  -------------------------- */
	/******************************************************************/

	/* -- INDEX --*/
	.index_animals .print_heading {display:block;}
	.index_animals table.search {display:none;}

	/* -- SHOW --*/
	.show_animals .page_heading.blue{border-bottom:0px; background-color: #fff;}
	.show_animals .social{display:none;}
	.show_animals #notes_heading, .show_animals #status_history_heading {display:none;}
	.show_animals #notes, .show_animals .note_filters {display:none;}
	.show_animals #status_histories{display:none;}
	.show_animals .euthanasia_info{display:none;}


	/*************************************************************************/
	/* -------------------------- ACCOMMODATIONS  -------------------------- */
	/*************************************************************************/
	/* -- INDEX --*/
	.index_accommodations .print_heading {display:block;}
	.index_accommodations table.search {display:none;}
	.index_accommodations .accommodation_details {clear:both; display:block; padding-top: 20px;}


	/******************************************************************/
	/* ------------------------- CONTACTS --------------------------- */
	/******************************************************************/
  /* -- INDEX --*/
	.index_contacts .print_heading {display:block;}
	.index_contacts table.search {display:none;}

	/* -- SHOW --*/
	.show_contacts .page_heading.blue{border-bottom:0px; background-color: #fff;}
	.show_contacts #notes_heading{display:none;}
	.show_contacts #notes{display:none;}
  .show_contacts #filters_by_status{display:none;}

	/******************************************************************/
	/* -------------------------- REPORTS --------------------------- */
	/******************************************************************/
	.reports .page_heading.blue{border-bottom:0px; background-color: #fff;}


	/****************************************************************/
	/* -------------------------- TASKS --------------------------- */
	/****************************************************************/
	.task .complete input{display:none;}
	.task .action_links {display:none;}


	/*******************************************************************/
	/* -------------------------- SHELTERS --------------------------- */
	/*******************************************************************/
	.shelters .page_heading.blue{border-bottom:0px; background-color: #fff;}


	/****************************************************************/
	/* -------------------------- USERS --------------------------- */
	/****************************************************************/
	.users .page_heading.blue{border-bottom:0px; background-color: #fff;}


	/********************************************************************/
	/* -------------------------- DASHBOARD --------------------------- */
	/********************************************************************/
	.dashboard .page_heading.blue{border-bottom:0px; background-color: #fff;}


	/*******************************************************************/
	/* -------------------------- CAPACITY --------------------------- */
	/*******************************************************************/
	.capacities .page_heading.blue{border-bottom:0px; background-color: #fff;}


	/**********************************************************************/
	/* -------------------------- COMMUNITIES  -------------------------- */
	/**********************************************************************/
	.communities .page_heading.blue{border-bottom:0px; background-color: #fff;}
	.communities #notes_heading, .show_animals #status_history_heading {display:none;}
	.communities #notes, .show_animals .note_filters {display:none;}
	.communities #right {display:block; width: 100%;padding: 0 0 0 0; margin:0 0 0 0;}
	.communities #right #sidebar { padding: 0 0 0 0; }

}/* Media Print */
