<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

  <p>The data export has completed for <%=@shelter.name%>. To download the exported zip file, please go to:</p>
  <p><%= link_to "'Export data' tab under 'Account Settings'", setting_url(:subdomain => @account.subdomain, :tab => :export_data) %></p>
  <p>The zip file contains all relevant csv files, photos and documents.</p>

</body>
</html>

