<div id="footer">
	<%= image_tag("logo-small.png") %>
	<h5>&copy; <%= current_year -%>  Shelter Exchange, Inc.</h5>
	<!--Product blog | Product forum
	BLAH BLAH is a service of Shelter Exchange, Inc..  Privacy policy | Terms of service-->
</div>