<div id="capacities" class="capacity_list">
	<%= render @capacities %>
</div>

<div class="legend">
	<table>
		<tr><th>Legend:</th></tr>
		<tr><td><div class="circle small red"><span>80% Full</span></div></td></tr>
		<tr><td><div class="circle small yellow"><span>60% Full</span></div></td></tr>
		<tr><td><div class="circle small green"><span>Good</span></div></td></tr>
	</table>
</div>