<% unless @animals.blank? %>
	$('#animals').html( "<%= escape_javascript( render 'animals/animal_list', :animals => @animals) %>" );
<% else %>
	$('#animals').html( "<h1 style='color: #ccc;margin: 0 auto; text-align: center;height: 500px; line-height: 500px;'>No Animals found</h1>" );
<% end %>

// <% unless @urgent_needs_animals.blank? %>
// 	$('#urgent_needs_animals').html( "<%= escape_javascript( render 'animals/animal_list', :animals => @urgent_needs_animals) %>" );
// <% else %>
// 	$('#urgent_needs_animals').html( "<div class='no_results'><p>No Animals found</p></div>" );
// <% end %>

<% unless @shelter.blank? %>
	$('#shelter_details').html( "<%= escape_javascript( render :template => 'communities/shelter_details') %>" );
<% end %>