<% unless @animals.blank? %>
	$('#animals').html( "<%= escape_javascript( render 'animals/animal_list', :animals => @animals) %>" );
<% else %>
	$('#animals').html( "<div class='no_results'><p>No Animals found</p></div>" );
<% end %>

// <% unless @urgent_needs_animals.blank? %>
// 	$('#urgent_needs_animals').html( "<%= escape_javascript( render 'animals/animal_list', :animals => @urgent_needs_animals) %>" );
// <% else %>
// 	$('#urgent_needs_animals').html( "<div class='no_results'><p>No Animals found</p></div>" );
// <% end %>