<% unless @animals.blank? %>
	$('#shelter_animals').html( "<%= escape_javascript( render 'animal_list', :animals => @animals) %>" );
<% else %>
	$('#shelter_animals').html( "<h1>No Animals found</h1>" );
<% end %>

<% unless @shelter.blank? %>
	$('#shelter_details').html( "<%= escape_javascript( render :template => 'communities/shelter_details') %>" );
<% else %>
	$('#shelter_animals').html( "<h1>No Shelter found</h1>" );
<% end %>