<% unless @animals.blank? %>
	$('#animals').html( "<%= escape_javascript( render 'animals/animal_list', :animals => @animals) %>" );
<% else %>
	$('#animals').html( "<h1 style='color: #ccc;margin: 0 auto; text-align: center;height: 500px; line-height: 500px;'>No Animals found</h1>" );
<% end %>