<% unless @animals.blank? %>
	$('#shelter_animals').html( "<%= escape_javascript( render 'animal_list', :animals => @animals) %>" );
<% else %>
	$('#shelter_animals').html( "<h1>No Animals found</h1>" );
<% end %>

<% unless @shelter.blank? %>
	$('#shelter_details').html( "<%= escape_javascript( render :template => 'communities/shelter_details') %>" );
<% else %>
	$('#shelter_animals').html( "<h1>No Shelter found</h1>" );
<% end %>

// Google Anayltics
if (typeof(_gaq) != "undefined") { _gaq.push(['_trackPageview', "/communities/find_animals_for_shelter"]); }
