/******************************************************************/
/* -------------------------- ACCOUNTS -------------------------- */
/******************************************************************/

/* Accounts :: Global
-----------------------------------------------------------------------------*/
.account ul {list-style:none;}
.account li:first-child h3{border-top:none; padding-top: 0px; margin-top: 0px;}
.account h3{border-bottom:none;}



/* Home Page */   
/******************************************************************/
.home_page .theme-default #slider {
    margin:20px auto 50px auto;
    width:618px; /* Make sure your images are the same size */
    height:246px; /* Make sure your images are the same size */
}



/* Contact us */   
/******************************************************************/
.contact_us_page #contact_details{float:left; width: 25%;}
.contact_us_page #contact_details h3{border:none; padding: 0 0 5px 0; margin:0;}
.contact_us_page #contact_details p{padding-bottom: 5px; margin-bottom: 0px;}
.contact_us_page #contact_details div{padding-bottom: 15px;}
.contact_us_page #contact_form{float:left; border-left: 1px #bbb dotted; width: 70%; padding-left: 4%;}






/* About us -> Founders */   
/******************************************************************/
.about_us_founders_story_page h2{border: none; margin-top: 10px; font-size: 20px; }
.about_us_founders_story_page #main img{
	-webkit-box-shadow: 0px 0px 6px #222;
	-moz-box-shadow: 0px 0px 6px #222;
	box-shadow: 0px 0px 6px #222;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.about_us_founders_story_page #main img.left{ float:left; margin: 0px 20px 20px 0px;}
.about_us_founders_story_page #img img.right{ float:right; margin: 0px 0px 10px 20px;}

/* About us -> Mission */   
/******************************************************************/
.about_us_mission_page .animals img{width: 300px; height: 190px; margin-right:35px;
	-webkit-box-shadow: 0px 0px 6px #222;
	-moz-box-shadow: 0px 0px 6px #222;
	box-shadow: 0px 0px 6px #222;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;}
.about_us_mission_page .animals img:last-child{margin-right: 0px;}



/* About us :: Board of Directors */   
/******************************************************************/
.about_us_board_of_directors_page .board_member {}
.about_us_board_of_directors_page .board_member h2{ padding-top: 20px;border-top: 1px dotted #bbb; border-bottom:none;}
.about_us_board_of_directors_page .board_member.first h2{ padding-top: 0px; border:none;}
.about_us_board_of_directors_page .board_member img{float:right; margin: 0px 0px 10px 20px; 
	-webkit-box-shadow: 0px 0px 6px #222;
	-moz-box-shadow: 0px 0px 6px #222;
	box-shadow: 0px 0px 6px #222;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;}
/*background-color: #eee; 
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bbb)); 
background-image: -webkit-linear-gradient(top,  #fff,  #bbb); 
background-image:    -moz-linear-gradient(top,  #fff,  #bbb); 
background-image:     -ms-linear-gradient(top,  #fff,  #bbb); 
background-image:      -o-linear-gradient(top,  #fff,  #bbb); 
background-image:         linear-gradient(top,  #fff,  #bbb); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bbbbbb');*/



/* Donate */   
/******************************************************************/
.donate_page h2{text-align:center; border:none;}
.donate_page .caption {font-size: 11px; font-style: italic;}
.donate_page .facts{padding-bottom: 10px;}
.donate_page .facts:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.donate_page .box {float:left; width: 30%; margin-right: 5%; height: 160px; box-shadow: inset 0px 0px 10px #cf7019;border-radius: 10px;}
.donate_page .box:last-child{margin-right: 0px;}
.donate_page .box p:first-child{padding-top: 25px;}
.donate_page .box p{text-align:center; padding: 0px 20px;}

.donate_page h3{border:none;padding:0; margin:0;text-align:center;}


/* Get Involved */   
/******************************************************************/
.get_involved_page .sections {list-style: none;}
.get_involved_page .sections li{ margin-bottom: 40px;}

.get_involved_page .box{width: 48%; margin-bottom: 15px; 
	height: 160px; box-shadow: inset 0px 0px 10px #cf7019;border-radius: 10px;
					/*	border-style: solid; border-width: 1px;border-color: #ccc;background-color: none;*/}
.get_involved_page .box.odd{float:left; padding-right: 1%;}
.get_involved_page .box.even{float:right; padding-left: 1%;}
.get_involved_page .box:hover{ cursor: pointer; box-shadow:  0px 0px 10px #f16649;border-radius: 10px;}
.get_involved_page .box div{padding: 25px;text-align:center; margin: 0 auto;}
.get_involved_page .box div h2{border: 0; padding-bottom: 5px;padding-top: 5px; margin:0;}

.get_involved_page .box a{color:#cf7019; text-decoration:none;}
.get_involved_page .box:hover a h2{text-decoration:underline;}
.get_involved_page p{color: #222;}
.get_involved_page .box:hover p{text-decoration: none;}


/* Get Involved :: Shelters and Rescues */   
/******************************************************************/
.get_involved_shelters_and_rescues_page .feature{width: 100%;position: relative; }
.get_involved_shelters_and_rescues_page .feature:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.get_involved_shelters_and_rescues_page .feature p{padding-bottom: 10px;}
.get_involved_shelters_and_rescues_page .feature ul {width: 570px; float:left;}
.get_involved_shelters_and_rescues_page .feature li {display:inline-block;width: 265px; padding-left: 17px; vertical-align:top;}
.get_involved_shelters_and_rescues_page .feature li p{padding-bottom: 0px; }
.get_involved_shelters_and_rescues_page .feature .screenshot{width: 400px; float:left; padding-right: 10px;}
.get_involved_shelters_and_rescues_page .feature .screenshot img{box-shadow: 0 0 6px #222;}




/* Why Shelter Exchange */   
/******************************************************************/


/* Why Shelter Exchange :: FAQs */   
/******************************************************************/
.why_shelter_exchange_faqs_page .list h3{border:none; padding-bottom:5px; margin: 0;}
.why_shelter_exchange_faqs_page .list{list-style: none;padding-top: 30px;}
.why_shelter_exchange_faqs_page .list li {margin-left:50px; padding-left: 20px; padding-bottom: 20px;}
.why_shelter_exchange_faqs_page .list li span{position:absolute; left: 0px; /*border: 1px solid #CF7019;*/ color: #CF7019;font-size: 18px; width: 35px;height: 35px; line-height: 35px; text-align: center;background: #fff;-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;-moz-box-shadow: 0 0px 4px #000; -webkit-box-shadow: 0 0px 4px #000; box-shadow: 0 0px 4px #000; }


/* Why Shelter Exchange :: Problems and Solutions */   
/******************************************************************/
.why_shelter_exchange_problems_and_solutions_page .list h3{border-bottom: none; padding-bottom: 5px; margin:0;}
.why_shelter_exchange_problems_and_solutions_page .list{list-style:none;}



/* Why Shelter Exchange :: Partners */   
/******************************************************************/
.why_shelter_exchange_partners_page .list {list-style: none; padding-top: 20px;}
.why_shelter_exchange_partners_page .list li{ border-bottom: 1px #bbb dotted; padding-bottom: 20px; margin-bottom: 20px;}
.why_shelter_exchange_partners_page .list li:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.why_shelter_exchange_partners_page .list li:last-child{border:none;}
.why_shelter_exchange_partners_page .list h2{border:none; padding-bottom: 10px; margin:0;}
.why_shelter_exchange_partners_page .list img{float:left;}
.why_shelter_exchange_partners_page .list div{padding-left: 220px;}
