/******************************************************************/
/* -------------------------- COMMON  -------------------------- */
/******************************************************************/
.hover{background-color:#EFEBE3; cursor: pointer;}
.active_link {color:#888; text-decoration:none; cursor:default; }

/* Hidden and Display
-----------------------------------------------------------------------------*/
.hide {display:none;}
.show {display:block;}

/* Separators
-----------------------------------------------------------------------------*/
.link_separator{padding: 0 10px;}
.separator{margin: 20px 0 20px 0;height: 1px;border-bottom: 1px dotted #bbb;}

/* Sidebar :: Action Links
-----------------------------------------------------------------------------*/
#sidebar ul.action_links { padding: 0 0 10px 0; }
#sidebar ul.action_links .button { min-width: 200px;}

/* Dialog :: Layout
-----------------------------------------------------------------------------*/
.dialog {width: 680px; height: 425px; overflow:auto; display:none; }
.dialog .wrapper { padding: 15px; color: #222; }
.dialog .title{float:left;}
.dialog .action_links{float:right;text-align: right;font-size: 11px; font-weight: bold; }



/* Box :: Layout :: Forms
-----------------------------------------------------------------------------*/
.box{padding: 15px; margin-bottom: 15px; border-style: solid; border-width: 1px;border-color: #ccc;background-color: none;}
.box.hide{display: none;}
.box.red{border-color: #f07280;background-color:#faced3;}
.box.green{border-color: #90e674;background-color:#d5f6ca;}
.box.orange{border-color: #f9d36f; background-color:#fdf1d0;}
.box.blue{border-color: #74afe3;background-color:#c9e0f4;}
.box h2{border: none;}
.box h3{border: none;}
.box:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Sections :: Headings
-----------------------------------------------------------------------------*/
.section_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto; border-top-style: solid; border-top-width: 1px;border-bottom-style: solid; border-bottom-width: 1px;border-color: #ccc;background-color: none;}
.section_heading.no_borders{border-top-width: 0px;border-bottom-width: 0px;}
.section_heading.red{border-color: #f07280;background-color:#faced3;}
.section_heading.green{border-color: #90e674;background-color:#d5f6ca;}
.section_heading.orange{border-color: #f9d36f; background-color:#fdf1d0;}
.section_heading.blue{border-color: #74afe3;background-color:#c9e0f4;}
.section_heading h2{float:left;}
.section_heading .links{float:right; text-align: right;padding-top:5px;}
.section_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* Page Headings
-----------------------------------------------------------------------------*/
.page_heading{ margin: -1em -1em 1em -1em; padding: 1em;}
.page_heading.gray{background-color: #e7e7e7;border-bottom:1px solid #eee;}
.page_heading.blue {background-color: #edf3fe;border-bottom:1px solid #eee;}
.page_heading.red{background-color:#faced3;border-bottom:1px solid #eee;}
.page_heading h1{width:100%; }
.page_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }


/* Section Heading
-----------------------------------------------------------------------------*/
.section_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto; }
.section_heading.no_borders{border-top-width: 0px;border-bottom-width: 0px;}
.section_heading.red{border-color: #f07280;background-color:#faced3;}

/* Circles :: Capacity
-----------------------------------------------------------------------------*/
.circle{ border-style: solid; border-width: 1px;-moz-border-radius:75px;-webkit-border-radius: 75px; border-radius: 75px;}
.circle.large{height: 100px; width: 100px; text-align:center; line-height: 100px;}
.circle.medium{height: 60px; width: 60px; text-align:center; line-height: 60px;}
.circle.small{height: 15px; width: 15px;text-align:center; line-height: 15px;}
.circle.red{border-color: #f07280;background-color:#faced3;}
.circle.yellow{border-color: #f9d36f; background-color:#fdf1d0;}
.circle.green{border-color: #90e674;background-color:#d5f6ca;}

/* Shelter Kill/No Kill Bubble
-----------------------------------------------------------------------------*/
.shelter_type{width: 150px; text-align: center;color: #000; font-size:12px;letter-spacing:0px; font-weight: bold;padding:10px; border-style: solid; border-width: 1px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.shelter_type.kill{border-color: #f07280;background-color:#faced3;}
.shelter_type.no_kill{border-color: #90e674;background-color:#d5f6ca;}


/*******************************************************************/
/* -------------------------- ACCOUNTS -------------------------- */
/*******************************************************************/


/* Accounts :: Global
-----------------------------------------------------------------------------*/
.accounts ul {list-style:none;}
.accounts li:first-child h3{border-top:none; padding-top: 0px; margin-top: 0px;}
.accounts h3{border-bottom:none;}


/*******************************************************************/
/* -------------------------- HOME PAGE -------------------------- */
/*******************************************************************/


/* Home Page */   
/******************************************************************/
.home_page #main {padding-bottom: 445px; position: relative; }

.home_page .theme-default #slider {margin:10px auto 50px auto;
	width:960px; /* Make sure your images are the same size */
    height:392px; /* Make sure your images are the same size */
}
/* Home Page -> Slider :: IE :: Board Member Img Fix :: PIE */
/******************************************************************/
.ie7 .home_page .theme-default .nivoSlider, 
.ie8 .home_page .theme-default .nivoSlider{ behavior: url(/stylesheets/global/pie/PIE.htc);}


/* Home Page :: Homepage :: Extra Section */   
/******************************************************************/
section.homepage{ width:100%;height: 125px; bottom:300px;  position:absolute;background-color: #cf7019;}
section.homepage .content{padding: 30px 0;}
section.homepage p{color: #eee; text-align:center; font-size: 14px;}

/* Home Page :: Newsletter :: Extra Section */   
/******************************************************************/
section.newsletter{ width:100%;height: 50px; bottom: 250px; position:absolute;background-color: #db8d4a;}
section.newsletter div.content{position:relative; margin: 0 auto; text-align:center;}
section.newsletter span{color: #fff; font-size: 14px; display: inline-block; line-height: 50px; padding-right: 15px;}
section.newsletter form{display: inline-block; line-height: 50px;}
section.newsletter span img{ vertical-align:middle;}
section.newsletter span input.field{ color: #999;}
section.newsletter span input.field.error{ color: red;}
section.newsletter span.hide {display:none;}
section.newsletter span.thank_you{width: 380px; font-weight:bold; text-transform: uppercase;}
section.newsletter .field{ width: 250px; padding-left: 10px; height: 18px; -moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px; }
section.newsletter:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* Home Page -> Newsletter :: IE :: PIE */   
/******************************************************************/
/*.ie7 section.newsletter .field, .ie8 section.newsletter .field{behavior: url(/stylesheets/global/pie/PIE.htc); zoom: 10; z-index: 9999;}*/


/********************************************************************/
/* -------------------------- CONTACT US -------------------------- */
/********************************************************************/


/* Contact us */   
/******************************************************************/
.contact_us_page #contact_details{float:left; width: 29%;}
.contact_us_page #contact_details h3{border:none; padding: 0 0 5px 0; margin:0;}
.contact_us_page #contact_details p{padding-bottom: 5px; margin-bottom: 0px;}
.contact_us_page #contact_details div{padding-bottom: 15px;}
.contact_us_page #contact_form{float:left; border-left: 1px #bbb dotted; width: 66%; padding-left: 4%;}


/******************************************************************/
/* -------------------------- ABOUT US -------------------------- */
/******************************************************************/


/* About us -> Founders */   
/******************************************************************/
.about_us_founders_story_page #main img{-webkit-box-shadow: 0px 0px 6px #222;-moz-box-shadow: 0px 0px 6px #222;box-shadow: 0px 0px 6px #222;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;behavior: url(/stylesheets/global/pie/PIE.htc);}
.about_us_founders_story_page #main img.left{ float:left; margin: 0px 20px 20px 0px;}
.about_us_founders_story_page #main img.right{ float:right; margin: 0px 0px 20px 20px;}

/* About us -> Founders :: IE :: Board Member Img Fix :: PIE */
/******************************************************************/
.ie7 .about_us_founders_story_page #main img, 
.ie8 .about_us_founders_story_page #main img{ behavior: url(/stylesheets/global/pie/PIE.htc);}


/* About us :: Mission */   
/******************************************************************/
.about_us_mission_page #main ul{ padding-bottom: 25px; }
.about_us_mission_page #main ul li{padding-bottom: 5px; margin-left: 20px; padding-left: 10px;}
.about_us_mission_page .animals img{width: 300px; height: 190px; margin-right:25px;-webkit-box-shadow: 0px 0px 6px #222;-moz-box-shadow: 0px 0px 6px #222;box-shadow: 0px 0px 6px #222;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
.about_us_mission_page .animals img:last-child{margin-right: 0px;}

/* About us :: Mission :: IE :: Board Member Img Fix :: PIE */
/******************************************************************/
.ie7 .about_us_mission_page .animals img,
.ie8 .about_us_mission_page .animals img{margin-right: 15px;behavior: url(/stylesheets/global/pie/PIE.htc);}

.about_us_mission_page .animals img:last-child{margin-right: 0px;}


/* About us :: Board of Directors */   
/******************************************************************/
.about_us_board_of_directors_page .board_member {}
.about_us_board_of_directors_page .board_member:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.about_us_board_of_directors_page .board_member h2{ padding-top: 20px;border-top: 1px dotted #bbb; border-bottom:none;}
.about_us_board_of_directors_page .board_member.first h2{ padding-top: 0px; border:none;}
.about_us_board_of_directors_page .board_member img{float:right; margin: 0px 0px 30px 20px; -webkit-box-shadow: 0px 0px 6px #222;-moz-box-shadow: 0px 0px 6px #222;box-shadow: 0px 0px 6px #222;-webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;	}

/* About us :: Board of Directors :: IE :: Board Member Img Fix :: PIE */
/******************************************************************/
.ie7 .about_us_board_of_directors_page .board_member img, 
.ie8 .about_us_board_of_directors_page .board_member img{ behavior: url(/stylesheets/global/pie/PIE.htc);}


/****************************************************************/
/* -------------------------- DONATE -------------------------- */
/****************************************************************/


/* Donate */   
/******************************************************************/
.donate_page h2{text-align:center; padding-bottom: 15px;}
.donate_page .caption {font-size: 11px;}
.donate_page .facts{padding-bottom: 10px;}
.donate_page .facts:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.donate_page .box {float:left; width: 300px; margin-right: 25px; height: 160px; -moz-box-shadow:inset 0px 0px 10px #cf7019;-webkit-box-shadow:inset 0px 0px 10px #cf7019; box-shadow: inset 0px 0px 10px #cf7019;-moz-border-radius: 10px; -webkit-border-radius: 10px;border-radius: 10px;}


/* Donate :: IE :: Box Fix :: PIE */
/******************************************************************/
.ie7 .donate_page .box, .ie8 .donate_page .box{ margin-right: 15px; background: url(/images/public/background-body.jpg) repeat;-moz-box-shadow:  0px 0px 5px #cf7019; -webkit-box-shadow:  0px 0px 5px #cf7019; box-shadow:  0px 0px 5px #cf7019;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;behavior: url(/stylesheets/global/pie/PIE.htc);}

.donate_page .box:last-child{margin-right: 0px;}	
.donate_page .box p:first-child{padding-top: 25px;}
.donate_page .box p{text-align:center; padding: 0px 20px;}

.donate_page h3{border:none;padding:0; margin:0;text-align:center;}


/**********************************************************************/
/* -------------------------- GET INVOLVED -------------------------- */
/**********************************************************************/


/* Get Involved */   
/******************************************************************/
.get_involved_page .sections {list-style: none;}
.get_involved_page .sections li{ margin-bottom: 40px;}

.get_involved_page .box{width: 48%; margin-bottom: 15px; height: 160px;-moz-box-shadow: inset 0px 0px 10px #cf7019;-webkit-box-shadow: inset 0px 0px 10px #cf7019;box-shadow: inset 0px 0px 10px #cf7019;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.get_involved_page .box.odd{float:left; padding-right: 1%;}
.get_involved_page .box.even{float:right; padding-left: 1%;}
.get_involved_page .box:hover{ cursor: pointer; -moz-box-shadow:  0px 0px 10px #f16649; -webkit-box-shadow:  0px 0px 10px #f16649; box-shadow:  0px 0px 10px #f16649;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.get_involved_page .box div{padding: 25px;text-align:center; margin: 0 auto;}
.get_involved_page .box div h2{padding-bottom: 5px;padding-top: 5px; margin:0;}

.get_involved_page .box a{color:#cf7019; text-decoration:none;}
.get_involved_page .box:hover a h2{text-decoration:underline;}
.get_involved_page p{color: #222; text-decoration: none;}
.get_involved_page .box:hover p{text-decoration: none;}

/* Get Involved :: IE Hack :: Box Fix :: PIE */
/******************************************************************/
.ie7 .get_involved_page .box, .ie8 .get_involved_page .box{ background: url(/images/public/background-body.jpg) repeat;-moz-box-shadow:  0px 0px 5px #cf7019; -webkit-box-shadow:  0px 0px 5px #cf7019; box-shadow:  0px 0px 5px #cf7019;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;behavior: url(/stylesheets/global/pie/PIE.htc);}
.ie7 .get_involved_page .box:hover, .ie8 .get_involved_page .box:hover{behavior: url(/stylesheets/global/pie/PIE.htc);}



/* Get Involved :: Shelters and Rescues */   
/******************************************************************/
.get_involved_shelters_and_rescues_page .feature{width: 100%;position: relative; }
.get_involved_shelters_and_rescues_page .feature:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.get_involved_shelters_and_rescues_page .feature:last-child{padding-bottom: 20px;}
/*.get_involved_shelters_and_rescues_page .feature h2{border-bottom: 1px #bbb dotted; padding-bottom: 10px; margin-bottom: 10px;}*/
.get_involved_shelters_and_rescues_page .feature h3{border-bottom: 1px #bbb dotted; padding-bottom: 10px; margin-bottom: 10px;}
.get_involved_shelters_and_rescues_page .feature p{padding-bottom: 10px;}
.get_involved_shelters_and_rescues_page .feature ul {width: 550px; float:left;}
.get_involved_shelters_and_rescues_page .feature li {display:inline-block;width: 255px; padding-left: 17px; vertical-align:top;}
.get_involved_shelters_and_rescues_page .feature li p{padding-bottom: 0px; }
.get_involved_shelters_and_rescues_page .feature .screenshot{width: 400px; float:left; padding-right: 10px; }
.get_involved_shelters_and_rescues_page .feature .screenshot img{-moz-box-shadow: 0 0 6px #222;-moz-box-shadow: 0 0 6px #222;box-shadow: 0 0 6px #222;}

/* Shelters and Rescues :: IE Hack :: Screenshot :: PIE */
/******************************************************************/
.ie7 .get_involved_shelters_and_rescues_page .feature .screenshot img, .ie8 .get_involved_shelters_and_rescues_page .feature .screenshot img{behavior: url(/stylesheets/global/pie/PIE.htc);}


/******************************************************************************/
/* -------------------------- WHY SHELTER EXCHANGE -------------------------- */
/******************************************************************************/


/* Why Shelter Exchange */   
/******************************************************************/


/* Why Shelter Exchange :: FAQs */   
/******************************************************************/
.why_shelter_exchange_faqs_page .list h3{border:none; padding-bottom:5px; margin: 0;}
.why_shelter_exchange_faqs_page .list{list-style: none;padding-top: 30px;}
.why_shelter_exchange_faqs_page .list li {margin-left:50px; padding-left: 20px; padding-bottom: 20px;}
.why_shelter_exchange_faqs_page .list li span{position:absolute; left: 0px; /*border: 1px solid #CF7019;*/ color: #CF7019;font-size: 18px; width: 35px;height: 35px; line-height: 35px; text-align: center;background: #fff;
	-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
	-moz-box-shadow: 0 0px 4px #000; -webkit-box-shadow: 0 0px 4px #000; box-shadow: 0 0px 4px #000;}

/* Why Shelter Exchange :: FAQs :: IE :: List Fix :: PIE */
/******************************************************************/
.ie7 .why_shelter_exchange_faqs_page .list li span, .ie8 .why_shelter_exchange_faqs_page .list li span{behavior: url(/stylesheets/global/pie/PIE.htc);}

.why_shelter_exchange_faqs_page .list li ul li{ padding-bottom: 5px;}
.why_shelter_exchange_faqs_page .list p{padding-bottom: 10px; margin:0;}

/* Why Shelter Exchange :: Problems and Solutions */   
/******************************************************************/
.why_shelter_exchange_problems_and_solutions_page .list h3{border-bottom: none; padding-bottom: 5px; margin:0;}
.why_shelter_exchange_problems_and_solutions_page .list{list-style:none;}



/* Why Shelter Exchange :: Community Support */   
/******************************************************************/
.why_shelter_exchange_in_kind_donations_page .list {list-style: none; padding-top: 20px;}
.why_shelter_exchange_in_kind_donations_page .list li{ border-bottom: 1px #bbb dotted; padding-bottom: 20px; margin-bottom: 20px;}
.why_shelter_exchange_in_kind_donations_page .list li:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.why_shelter_exchange_in_kind_donations_page .list li:last-child{border:none;}
.why_shelter_exchange_in_kind_donations_page .list img{float:left;}
.why_shelter_exchange_in_kind_donations_page .list div{padding-left: 220px;}




/********************************************************************/
/* -------------------------- SAVE A LIFE -------------------------- */
/********************************************************************/


/* Save a Life :: Global
-----------------------------------------------------------------------------*/
.save_a_life ul {list-style:none;}
.save_a_life ul.form {padding-bottom: 0; margin-bottom:0;}
.save_a_life input[type=text]{height:20px;width:90%;font-size:14px; }

.index_save_a_life p, .index_save_a_life h3{margin-bottom: 10px; padding-bottom: 0px;}


/* Save a Life :: Search Section :: Search Bar */   
/******************************************************************/
.index_save_a_life .search_content {padding-bottom: 10px;padding-top: 10px;}
.index_save_a_life .search_form{width: 70%}
.index_save_a_life .search_form form{float:left;width: 38%;}
.index_save_a_life .search_form form input{width: 100%;}
.index_save_a_life .narrow_search{width: 30%; text-align:right;float:right;}



/* Save a Life :: Search Section :: Filters */   
/******************************************************************/
.index_save_a_life #filters{display:none; height: 65px;}
.index_save_a_life #form_filters table {vertical-align: top; width:100%;}
.index_save_a_life #form_filters table tr{vertical-align: top; width:100%;}
.index_save_a_life #form_filters table td{padding-left:40px;}
.index_save_a_life #form_filters table td.type {width: 15%;}
.index_save_a_life #form_filters table td.breed {width: 25%;}
	.index_save_a_life #form_filters table td.breed input {width: 99%;}
.index_save_a_life #form_filters table td.sex {width: 10%;}
.index_save_a_life #form_filters table td.status {width: 20%;}
.index_save_a_life #form_filters table td.euthanasia {width: 30%;}
	.index_save_a_life #form_filters table td.euthanasia label{color:#DF0000;}


/* Save a life :: Search Section :: Layout */   
/******************************************************************/
.index_save_a_life .map_separator{margin-top:5px;height: 1px;border-bottom: 1px dotted #bbb;}




/* Save a life :: Results :: Layout
-----------------------------------------------------------------------------*/
.index_save_a_life .search_results {padding-top: 10px;}
.index_save_a_life table.results{width: 100%; padding-bottom: 20px;}
.index_save_a_life table.results td.shelter_half{width:49%; padding-right: 1%; vertical-align:top;}
.index_save_a_life table.results td.animal_half{width:49%; padding-left: 1%; vertical-align:top;border-left: 1px dotted #ccc;}

/* Save a life :: Map Canvas :: Layout
-----------------------------------------------------------------------------*/
.index_save_a_life #map_canvas{width:100%; height: 500px;}

/* Save a life :: Search by Shelter Name :: Shelter Details :: Layout
-----------------------------------------------------------------------------*/
.index_save_a_life #shelter_details h1{color: #ccc;height: 500px; line-height: 500px; margin: 0 auto; text-align: center;}
.index_save_a_life #shelter_details .right_side{float:right; text-align:right;}
.index_save_a_life #shelter_details .logo{padding-bottom: 15px;}
.index_save_a_life #shelter_details .right_side:after{ content:"\0020"; display:block; height:10px; clear:both; visibility:hidden; overflow:hidden; }

/* Save a life :: Search by Shelter Name :: Animal List :: Layout
-----------------------------------------------------------------------------*/
.index_save_a_life .animals h1 {color: #ccc;margin: 0 auto; text-align: center;height: 500px; line-height: 500px;}


/* Save a Life :: Animal List
-----------------------------------------------------------------------------*/
.index_save_a_life table.animal_list{width: 100%; table-layout: auto;border-collapse: collapse; border-spacing: 0; }
.index_save_a_life table.animal_list tr {border-bottom:1px #ccc dotted; }
.index_save_a_life table.animal_list td{vertical-align:top;font-size:12px;padding:9px 0;}
.index_save_a_life table.animal_list td.image { width:100px; padding-left:5px; }
.index_save_a_life table.animal_list td.details { /*width: 400px;*/width:58%;padding-left: 15px;color:#666; }
.index_save_a_life table.animal_list td.status {/*width: 290px;*/ width:43%;padding-left: 10px; padding-right: 5px; text-align:right;}
.index_save_a_life table.animal_list .euthanisia_date{color:#DF0000;}


/* Save a Life :: Show Page (Animal Page)
-----------------------------------------------------------------------------*/
.show_save_a_life table.animal{width:100%;}
.show_save_a_life table.animal td{vertical-align:top;width:50%;/*color:#666;*/}
.show_save_a_life table.animal td.action_links{text-align:right;font-size:12px;/*line-height:100%;height:100%;*/padding-top:5px;}
.show_save_a_life table.animal td h1 {}
.show_save_a_life table.animal td h1 span{font-size:14px;padding-left:25px;position:relative;top:-3px;}
.show_save_a_life table.animal td p {font-size: 16px;font-weight: bold; letter-spacing:-1px;color:#000;}
.show_save_a_life table.animal td.status{text-align:right;}

.show_save_a_life table.animal_details{text-align:left;}
.show_save_a_life table.animal_details:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.show_save_a_life table.animal_details h3{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_save_a_life table.animal_details td{vertical-align:top; }
.show_save_a_life table.animal_details td.image img{-webkit-box-shadow: 0px 0px 6px #222;-moz-box-shadow: 0px 0px 6px #222;box-shadow: 0px 0px 6px #222;-webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;}
.show_save_a_life table.animal_details td.metadata{width:100%; padding: 0 15px 0 0; margin:0 0 0 0; }
.show_save_a_life table.animal_details td.metadata ul {text-align:left;padding-bottom: 10px;}
.show_save_a_life table.animal_details td.metadata ul .euthanasia_info{color: #000; font-weight: bold; font-size: 16px; letter-spacing: -1px;}
.show_save_a_life table.animal_details td.metadata ul .red_date{color:#ee3124;}

/* Save a Life :: Show Page (Animal Page) :: IE :: Animal Img Fix :: PIE */
/******************************************************************/
.ie7 .show_save_a_life table.animal_details td.image img,
.ie8 .show_save_a_life table.animal_details td.image img{behavior: url(/stylesheets/global/pie/PIE.htc);}


.show_save_a_life .description{width:100%; padding: 0 0 0 0; }
.show_save_a_life .description h3{border-bottom: 1px #bbb solid; font-weight: bold;}

.show_save_a_life .euthanasia_info{width:100%; padding: 0 0 0 0; }
.show_save_a_life .euthanasia_info:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
.show_save_a_life .euthanasia_info h3{border-bottom: 1px #bbb solid; font-weight: bold;}
.show_save_a_life .euthanasia_info ul li {float:left; padding-right: 20px;}
.show_save_a_life .euthanasia_info .date{color: #000; font-weight: bold; font-size: 16px; letter-spacing: -1px;}
.show_save_a_life .euthanasia_info .red_date{color:#ee3124;font-weight: bold; font-size: 16px; letter-spacing: -1px;}

.show_save_a_life .notes_heading{padding: 1.5em 1.5em 1em 1.5em; margin:0 auto;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.show_save_a_life .notes_heading h2{float:left;}
.show_save_a_life .notes_heading .links{float:right; text-align: right;padding-top:5px;}
.show_save_a_life .notes_heading:after{ content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }




/********************************************************************/
/* -------------------------- CAPACITIES -------------------------- */
/********************************************************************/

/* Capacities :: Global
-----------------------------------------------------------------------------*/
.capacities ul {list-style:none;}

/* Capacities List :: Layout */
/******************************************************************/
.capacity_list {border-top: 1px dotted #ccc;}
.capacity {width: 100%; display:inline-block; line-height: 40px;text-align:left; border-bottom: 1px dotted #bbb; }

.capacity .status {display:inline-block; vertical-align:top; padding: 5px 0; line-height: 60px; width: 60px;font-size: 13px; font-weight: bold; }
.capacity .counts{display:inline-block;  padding-left: 60px;}
	.capacity .counts ul{padding-top: 8px;}
	.capacity .counts ul li{line-height: 25px; }

.capacity .action_links {display:inline-block;float: right;  width: 15%; text-align: right;font-size: 10px;}


/* Capacity Legend :: Layout
-----------------------------------------------------------------------------*/
.capacities .legend{width: 90px; margin-top: 20px; padding: 10px 15px; border: 1px solid #ccc; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
.capacities .legend table { border-collapse: collapse; border-spacing: 0;  }
.capacities .legend table th{font-size: 14px;}
.capacities .legend table th, .capacities .legend table td{padding-bottom:8px;}
.capacities .legend table td span{ margin-left: 20px; white-space: nowrap; }

/* Save a life :: Capacity
-----------------------------------------------------------------------------*/
.index_save_a_life .capacity .action_links{display:none;}
.index_save_a_life .capacities{padding: 15px 0 0 0; margin-top: 20px; border-top: 1px solid #ddd;}
.index_save_a_life .capacities h2{padding-bottom: 10px; /*border-bottom: 1px solid #ddd;*/}

