/* Accounts :: Global
-----------------------------------------------------------------------------*/
.account ul {list-style:none;}
.account li:first-child h3{border-top:none; padding-top: 0px; margin-top: 0px;}
.account h3{border-bottom:none;}


/* ----------------------------------------------------------------------------------------------------------------------*/


/* Home Page */   
/******************************************************************/
.home_page #main {padding-bottom: 425px; position: relative; }

.home_page .theme-default #slider {margin:10px auto 50px auto;
	width:980px; /* Make sure your images are the same size */
    height:400px; /* Make sure your images are the same size */
}
/* Home Page -> Slider :: IE :: Board Member Img Fix :: PIE */
/******************************************************************/
.ie7 .home_page .theme-default .nivoSlider, 
.ie8 .home_page .theme-default .nivoSlider{ behavior: url(/stylesheets/global/pie/PIE.htc);}


/* Home Page :: Homepage :: Extra Section */   
/******************************************************************/
section.homepage{ width:100%;height: 125px; bottom:300px;  position:absolute;background-color: #cf7019;}
section.homepage .content{padding: 30px 0;}
section.homepage p{color: #eee; text-align:center; font-size: 14px;}

/* Home Page :: Newsletter :: Extra Section */   
/******************************************************************/
section.newsletter{ width:100%;height: 50px; bottom: 250px; position:absolute;background-color: #db8d4a;}
section.newsletter div.content{position:relative; margin: 0 auto; text-align:center;}
section.newsletter span{color: #fff; font-size: 14px; display: inline-block; line-height: 50px; padding-right: 15px;}
section.newsletter form{display: inline-block; line-height: 50px;}
section.newsletter span img{ vertical-align:middle;}
section.newsletter span input.field{ color: #999;}
section.newsletter span input.field.error{ color: red;}
section.newsletter span.hide {display:none;}
section.newsletter span.thank_you{width: 380px; font-weight:bold; text-transform: uppercase;}
section.newsletter .field{ width: 250px; padding-left: 10px; height: 18px; -moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
section.newsletter:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }

/* Home Page -> Newsletter :: IE :: PIE */   
/******************************************************************/
.ie7 section.newsletter .field, .ie8 section.newsletter .field{behavior: url(/stylesheets/global/pie/PIE.htc);}


/* ----------------------------------------------------------------------------------------------------------------------*/


/* Contact us */   
/******************************************************************/
.contact_us_page #contact_details{float:left; width: 28%;}
.contact_us_page #contact_details h3{border:none; padding: 0 0 5px 0; margin:0;}
.contact_us_page #contact_details p{padding-bottom: 5px; margin-bottom: 0px;}
.contact_us_page #contact_details div{padding-bottom: 15px;}
.contact_us_page #contact_form{float:left; border-left: 1px #bbb dotted; width: 67%; padding-left: 4%;}


/* ----------------------------------------------------------------------------------------------------------------------*/


/* About us -> Founders */   
/******************************************************************/
.about_us_founders_story_page #main img{-webkit-box-shadow: 0px 0px 6px #222;-moz-box-shadow: 0px 0px 6px #222;box-shadow: 0px 0px 6px #222;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;behavior: url(/stylesheets/global/pie/PIE.htc);}
.about_us_founders_story_page #main img.left{ float:left; margin: 0px 20px 20px 0px;}
.about_us_founders_story_page #main img.right{ float:right; margin: 0px 0px 20px 20px;}

/* About us -> Founders :: IE :: Board Member Img Fix :: PIE */
/******************************************************************/
.ie7 .about_us_founders_story_page #main img, 
.ie8 .about_us_founders_story_page #main img{ behavior: url(/stylesheets/global/pie/PIE.htc);}


/* About us :: Mission */   
/******************************************************************/
.about_us_mission_page #main ul{ padding-bottom: 25px; }
.about_us_mission_page #main ul li{padding-bottom: 5px; margin-left: 20px; padding-left: 10px;}
.about_us_mission_page .animals img{width: 300px; height: 190px; margin-right:35px;-webkit-box-shadow: 0px 0px 6px #222;-moz-box-shadow: 0px 0px 6px #222;box-shadow: 0px 0px 6px #222;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
.about_us_mission_page .animals img:last-child{margin-right: 0px;}

/* About us :: Mission :: IE :: Board Member Img Fix :: PIE */
/******************************************************************/
.ie7 .about_us_mission_page .animals img,
.ie8 .about_us_mission_page .animals img{behavior: url(/stylesheets/global/pie/PIE.htc);}



/* About us :: Board of Directors */   
/******************************************************************/
.about_us_board_of_directors_page .board_member {}
.about_us_board_of_directors_page .board_member:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.about_us_board_of_directors_page .board_member h2{ padding-top: 20px;border-top: 1px dotted #bbb; border-bottom:none;}
.about_us_board_of_directors_page .board_member.first h2{ padding-top: 0px; border:none;}
.about_us_board_of_directors_page .board_member img{float:right; margin: 0px 0px 30px 20px; -webkit-box-shadow: 0px 0px 6px #222;-moz-box-shadow: 0px 0px 6px #222;box-shadow: 0px 0px 6px #222;-webkit-border-radius: 8px;-moz-border-radius: 8px;	border-radius: 8px;	}

/* About us :: Board of Directors :: IE :: Board Member Img Fix :: PIE */
/******************************************************************/
.ie7 .about_us_board_of_directors_page .board_member img, 
.ie8 .about_us_board_of_directors_page .board_member img{ behavior: url(/stylesheets/global/pie/PIE.htc);}


/* ----------------------------------------------------------------------------------------------------------------------*/


/* Donate */   
/******************************************************************/
.donate_page h2{text-align:center;}
.donate_page .caption {font-size: 11px; font-style: italic;}
.donate_page .facts{padding-bottom: 10px;}
.donate_page .facts:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.donate_page .box {float:left; width: 30%; margin-right: 4%; height: 160px; -moz-box-shadow:inset 0px 0px 10px #cf7019;-webkit-box-shadow:inset 0px 0px 10px #cf7019; box-shadow: inset 0px 0px 10px #cf7019;-moz-border-radius: 10px; -webkit-border-radius: 10px;border-radius: 10px;}
	
/* Donate :: IE :: Box Fix :: PIE */
/******************************************************************/
.ie7 .donate_page .box, .ie8 .donate_page .box{ background: url(/images/public/background-body.jpg) repeat;-moz-box-shadow:  0px 0px 5px #cf7019; -webkit-box-shadow:  0px 0px 5px #cf7019; box-shadow:  0px 0px 5px #cf7019;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;behavior: url(/stylesheets/global/pie/PIE.htc);}


.donate_page .box:last-child{margin-right: 0px; float:;}
.donate_page .box p:first-child{padding-top: 25px;}
.donate_page .box p{text-align:center; padding: 0px 20px;}

.donate_page h3{border:none;padding:0; margin:0;text-align:center;}


/* ----------------------------------------------------------------------------------------------------------------------*/


/* Get Involved */   
/******************************************************************/
.get_involved_page .sections {list-style: none;}
.get_involved_page .sections li{ margin-bottom: 40px;}

.get_involved_page .box{width: 48%; margin-bottom: 15px; height: 160px;-moz-box-shadow: inset 0px 0px 10px #cf7019;-webkit-box-shadow: inset 0px 0px 10px #cf7019;box-shadow: inset 0px 0px 10px #cf7019;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.get_involved_page .box.odd{float:left; padding-right: 1%;}
.get_involved_page .box.even{float:right; padding-left: 1%;}
.get_involved_page .box:hover{ cursor: pointer; -moz-box-shadow:  0px 0px 10px #f16649; -webkit-box-shadow:  0px 0px 10px #f16649; box-shadow:  0px 0px 10px #f16649;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.get_involved_page .box div{padding: 25px;text-align:center; margin: 0 auto;}
.get_involved_page .box div h2{padding-bottom: 5px;padding-top: 5px; margin:0;}

.get_involved_page .box a{color:#cf7019; text-decoration:none;}
.get_involved_page .box:hover a h2{text-decoration:underline;}
.get_involved_page p{color: #222;}
.get_involved_page .box:hover p{text-decoration: none;}

/* Get Involved :: IE Hack :: Box Fix :: PIE */
/******************************************************************/
.ie7 .get_involved_page .box, .ie8 .get_involved_page .box{ background: url(/images/public/background-body.jpg) repeat;-moz-box-shadow:  0px 0px 5px #cf7019; -webkit-box-shadow:  0px 0px 5px #cf7019; box-shadow:  0px 0px 5px #cf7019;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;behavior: url(/stylesheets/global/pie/PIE.htc);}
.ie7 .get_involved_page .box:hover, .ie8 .get_involved_page .box:hover{behavior: url(/stylesheets/global/pie/PIE.htc);}



/* Get Involved :: Shelters and Rescues */   
/******************************************************************/
.get_involved_shelters_and_rescues_page .feature{width: 100%;position: relative; }
.get_involved_shelters_and_rescues_page .feature:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.get_involved_shelters_and_rescues_page .feature:last-child{padding-bottom: 20px;}
/*.get_involved_shelters_and_rescues_page .feature h2{border-bottom: 1px #bbb dotted; padding-bottom: 10px; margin-bottom: 10px;}*/
.get_involved_shelters_and_rescues_page .feature h3{border-bottom: 1px #bbb dotted; padding-bottom: 10px; margin-bottom: 10px;}
.get_involved_shelters_and_rescues_page .feature p{padding-bottom: 10px;}
.get_involved_shelters_and_rescues_page .feature ul {width: 570px; float:left;}
.get_involved_shelters_and_rescues_page .feature li {display:inline-block;width: 265px; padding-left: 17px; vertical-align:top;}
.get_involved_shelters_and_rescues_page .feature li p{padding-bottom: 0px; }
.get_involved_shelters_and_rescues_page .feature .screenshot{width: 400px; float:left; padding-right: 10px; }
.get_involved_shelters_and_rescues_page .feature .screenshot img{box-shadow: 0 0 6px #222;}


/* ----------------------------------------------------------------------------------------------------------------------*/


/* Why Shelter Exchange */   
/******************************************************************/


/* Why Shelter Exchange :: FAQs */   
/******************************************************************/
.why_shelter_exchange_faqs_page .list h3{border:none; padding-bottom:5px; margin: 0;}
.why_shelter_exchange_faqs_page .list{list-style: none;padding-top: 30px;}
.why_shelter_exchange_faqs_page .list li {margin-left:50px; padding-left: 20px; padding-bottom: 20px;}
.why_shelter_exchange_faqs_page .list li span{position:absolute; left: 0px; /*border: 1px solid #CF7019;*/ color: #CF7019;font-size: 18px; width: 35px;height: 35px; line-height: 35px; text-align: center;background: #fff;
	-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
	-moz-box-shadow: 0 0px 4px #000; -webkit-box-shadow: 0 0px 4px #000; box-shadow: 0 0px 4px #000;}

/* Why Shelter Exchange :: FAQs :: IE :: List Fix :: PIE */
/******************************************************************/
.ie7 .why_shelter_exchange_faqs_page .list li span, .ie8 .why_shelter_exchange_faqs_page .list li span{behavior: url(/stylesheets/global/pie/PIE.htc);}

.why_shelter_exchange_faqs_page .list li ul li{ padding-bottom: 5px;}
.why_shelter_exchange_faqs_page .list p{padding-bottom: 10px; margin:0;}

/* Why Shelter Exchange :: Problems and Solutions */   
/******************************************************************/
.why_shelter_exchange_problems_and_solutions_page .list h3{border-bottom: none; padding-bottom: 5px; margin:0;}
.why_shelter_exchange_problems_and_solutions_page .list{list-style:none;}



/* Why Shelter Exchange :: Community Support */   
/******************************************************************/
.why_shelter_exchange_in_kind_donations_page .list {list-style: none; padding-top: 20px;}
.why_shelter_exchange_in_kind_donations_page .list li{ border-bottom: 1px #bbb dotted; padding-bottom: 20px; margin-bottom: 20px;}
.why_shelter_exchange_in_kind_donations_page .list li:after{ content:"\0020"; display:block; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
.why_shelter_exchange_in_kind_donations_page .list li:last-child{border:none;}
.why_shelter_exchange_in_kind_donations_page .list img{float:left;}
.why_shelter_exchange_in_kind_donations_page .list div{padding-left: 220px;}
