<% content_for :page_content do %>
	<div class="page_heading">
		<h1>TESTING PUBLIC INDEX PAGE</h1>
	</div>
	
	<div class="page_content">
		<p>testing this out</p>
		
		
		
		
	</div>
<% end %>

<% content_for :sidebar do %>
	
<% end %>