<% content_for :page_content do %>
	<div class="page_heading">
		<h1>Thank you!</h1>
	</div>
	
	<div class="page_content">
		
		Account registered! 
		Go to <a href='http://<%=@account.subdomain%>.<%=account_domain%>'>http://<%=@account.subdomain%>.<%=account_domain%></a> to log in.
		
	</div>
<% end %>

<% content_for :sidebar do %>
	
<% end %>