<% content_for :page_content do %>
	<div class="page_heading">
		<h1>Thank you!</h1>
	</div>
	
	<div class="page_content">
		
		Account registered! 
		Go to <a href='<%=request.protocol%><%=with_subdomain(@account.subdomain)%>'><%=request.protocol%><%=with_subdomain(@account.subdomain)%></a> to log in.
		
	</div>
<% end %>

<% content_for :sidebar do %>
	
<% end %>