<%
	attachments.inline["logo_email.jpg"] = File.read(Rails.application.assets.find_asset('logo_email.jpg'))
%>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
		#email_logo { width: 100%; text-align:center; margin:0 auto;}
		#email_logo img{text-align:center; margin:0 auto;}
		h3{letter-spacing: -1px;padding:10px 0 0 0; margin:0;}
	</style>
</head>
<body>

	<div id="email_logo">
		<%= image_tag attachments['logo_email.jpg'].url %>
	</div>

	<!-- <p>Hello <%# @resource.name %></p> -->

	<p>Congratulations! You have been invited by the <%= @resource.account.shelters.first.name %> to join Shelter Exchange. </p>
	<p>You can accept this invitation by clicking this link <strong><%= link_to 'Accept invitation', accept_invitation_url(@resource, :subdomain => @resource.account.subdomain, :invitation_token => @resource.invitation_token) %></strong></p>
	<p>If you do not want to accept the invitation, please ignore this email. Your account will not be created until you access the link above and set up your password.</p>
	<p>Welcome to the Shelter Exchange community!</p>

	<h3>Shelter Exchange</h3>
	<a href="mailto:info@shelterexchange.org">info@shelterexchange.org</a><br />
	<a href="http://www.shelterexchange.org">www.shelterexchange.org</a>

</body>
</html>
