<%
	# subdomain = @resource.account.subdomain
	# subdomain = (subdomain || "")
	# subdomain += "." unless subdomain.empty?
	# host = [subdomain, ActionMailer::Base::default_url_options[:host]].join

	attachments.inline["logo_email.jpg"] = File.read("#{Rails.root}/public/images/logo_email.jpg")
%>
<style type="text/css" media="screen">
	#email_logo { width: 100%; text-align:center; margin:0 auto;}
	#email_logo img{text-align:center; margin:0 auto;}
	h3{letter-spacing: -1px;padding:10px 0 0 0; margin:0;}
</style>

<div id="email_logo">
	<%= image_tag attachments['logo_email.jpg'].url %>
</div>

<p>Dear <%= @resource.name %></p>

<p>You are receiving this email as you have requested assistance to reset your password.</p>
<p>Please click this link below to confirm your email address and reset your password.</p> 
<p><strong><%= link_to 'Change my password', edit_password_url(@resource, :subdomain => @resource.account.subdomain, :reset_password_token => @resource.reset_password_token) %></strong></p>

<p>Many thanks,</p>

<h3>Shelter Exchange</h3>
<a href="mailto:info@shelterexchange.org">info@shelterexchange.org</a><br />
<a href="http://www.shelterexchange.org">www.shelterexchange.org</a>


