<%
	attachments.inline["logo_email.jpg"] = File.read(Rails.root.join('public/images/logo_email.jpg'))
%>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
		#email_logo { width: 100%; text-align:center; margin:0 auto;}
		#email_logo img{text-align:center; margin:0 auto;}
		h3{letter-spacing: -1px;padding:10px 0 0 0; margin:0;}
	</style>
</head>
<body>

	<div id="email_logo">
		<%= image_tag attachments['logo_email.jpg'].url %>
	</div>

	<p>You have been temporarily locked out of your Shelter Exchange account due to multiple failed attempts to log in. </p>
	<p>To unlock the account please click this link below and reset your password.</p> 
	<p><strong><%= link_to 'Unlock my account', unlock_url(@resource, :subdomain => @resource.account.subdomain, :unlock_token => @resource.unlock_token) %></strong></p>

	<p>Many thanks,</p>

	<h3>Shelter Exchange</h3>
	<a href="mailto:info@shelterexchange.org">info@shelterexchange.org</a><br />
	<a href="http://www.shelterexchange.org">www.shelterexchange.org</a>

</body>
</html>



